﻿@using Sitecore
@using Texts = Sitecore.Speak.Components.Texts
@model Sitecore.Speak.Components.Models.Containers.Expanders.ExpanderRenderingModel
@{
  Model.Class.Append("sc-expander");
  Model.DataBind.IsVisible().Bind("css", "{ 'open': IsOpen }").Bind("attr", "{title: Tooltip() ? Tooltip : null }");
}
<div @Model.HtmlAttributes>
  <div class="sc-expander-header" data-bind="click: toggle">
    <table>
      <tr>
        <td class="sc-expander-header-icon-container " data-bind="css: {'not-empty': HeaderIcon()!='' }">
          <img class="sc-expander-header-icon" onerror="this.style.display='none'" onload="this.style.display='inline';" alt="" src="@Model.GetIcon()" />
        </td>
        <td class="sc-expander-header-title" data-bind="css: {'not-empty': HeaderIcon()!='' }">
          <span class="sc-expander-header-title-text" data-bind="text: Header">@Model.Header</span>
        </td>
        <td class="sc-expander-header-actionbar" data-bind="css: {'sc-actionbar-collapsed': !ShowActionBar() }">
          <div class="sc-expander-header-actionbar-container" data-bind="visible: ShowActionBar">
            @Html.Raw(ClientHost.Web.PlaceHolder(Model.Id + ".ActionBar").ToHtmlString())
          </div>
        </td>
        @if (Model.IsCollapsible)
        {
          <td class="sc-expander-header-chevron">          
              <span class="sc-expander-header-chevron-glyph" data-bind="css: { 'sc-expander-header-chevron-glyph-open': IsOpen }"></span>          
          </td>
        }
      </tr>
      <tr>
        <td class="sc-expander-header-promotedfields" data-bind="css: {'not-empty': HeaderIcon()!='' }" colspan=@(Model.IsCollapsible ? "4": "3")>
          @Html.Raw(ClientHost.Web.PlaceHolder(Model.Id + ".PromotedFields").ToHtmlString())
        </td>
      </tr>
    </table>
  </div>

  <div class="sc-expander-body" data-bind="visible: IsOpen">
    <div data-bind="style: { height: ContentHeight }" class="sc-expander-bodywrapper">
      @Html.Raw(ClientHost.Web.PlaceHolder(Model.Id + ".Body").ToHtmlString())
    </div>

    <div class="sc-expander-footer" data-bind="visible: EnableAdditional">
      <div class="sc-expander-footer-less" data-bind="visible: ShowAdditional">
        <a href="#" data-bind="click: toggleAdditional">@ClientHost.Globalization.Translate(Texts.Less)</a>
      </div>
      <div class="sc-expander-footer-more" data-bind="visible: !ShowAdditional()">
        <a href="#" data-bind="click: toggleAdditional">@ClientHost.Globalization.Translate(Texts.More)</a>
      </div>
    </div>
  </div>
</div>