﻿@using Sitecore.Speak.Components
@model Sitecore.Speak.Components.Models.Forms.Uploader.UploaderRenderingModel
@{
  Model.Class.Append("sc-uploader row");

  Model.DataBind.IsVisible();
  Model.DataBind.Bind("attr", "{ title: Tooltip() ? Tooltip : null }");

  var globalization = Sitecore.ClientHost.Globalization;  
  var or = globalization.Translate("or");
  var of = globalization.Translate("of");
  var files = globalization.Translate(Texts.Files);
  var file = globalization.Translate(Texts.File);
}
<form @Model.HtmlAttributes method="POST" enctype="multipart/form-data">
  <img class="sc-uploader-preview hide" />
  <div class="sc-uploader-content">
    <span class="drag">
      @Model.ShortDescriptionText
      <br />
      @or
      <br />
    </span>
    <a href="#" class="btn btn-default sc-button">
      @Model.BrowseButtonText
      <input class="sc-uploader-fileupload" type="file" name="files[]" multiple>
    </a>
    <div class="sc-uploader-general-info">
      <div class="sc-uploader-general-info-progressbar progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        <div class="bar" data-bind="style: { width: GlobalPercentage() + '%' }"></div>
      </div>
      <div class="sc-uploader-general-info-data">
        <div class="sc-uploader-general-info-data-col col1">
          <div class="sc-uploader-general-info-data-uploadingData"><span data-bind="text: UploadedSize"></span>&nbsp;@of&nbsp;</div><span data-bind="text: TotalSize"></span>
        </div>
        <div class="sc-uploader-general-info-data-col col2">|</div>
        <div class="sc-uploader-general-info-data-col col3">
          <div class="sc-uploader-general-info-data-uploadingData">
            <span data-bind="text: UploadedFiles"></span> &nbsp;@of&nbsp;
          </div>
          <span data-bind="text: TotalFiles"></span>&nbsp;<span data-bind="  visible: TotalFiles() > 1">@files</span>
          <span data-bind="visible: TotalFiles() === 1">@file</span>
        </div>
      </div>
    </div>
  </div>
</form>