﻿html body, html form
{
  background-color: #E9E9E9;  
}

#Components
{
  border:none;
}

#Footer
{
  border-top: 1px solid #999;
}

#Options
{
  width: 100%;
}

td.scTabs
{
  border: none;
}

#combinationsGrid
{
  width: 100%; 
  margin-top: 4px;  
  table-layout:fixed;
}

#combinationsGrid th
{
  border-bottom: 1px solid #cfcfcf;
  text-align: left;
  padding-left: 4px;  
}

#combinationsGrid th.header span
{  
  background-color: transparent;
  background-image: none;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 10px;
  display: inline-block;
  color: #666;
  font-weight: 600;
}

#combinationsGrid th.headerSortUp span
{
  background-image: url('/sitecore/shell/Themes/Standard/Images/sortup9x5.png');
}

#combinationsGrid th.headerSortDown span
{
  background-image: url('/sitecore/shell/Themes/Standard/Images/sortdown9x5.png');
}

.scWait
{
  background: transparent url('/sitecore/shell/Themes/Standard/Images/PageEditor/toolbar_progress.gif') no-repeat center center; 
}

#Combinations, #Components
{
  background-color: #FCFCFC;
}

td.component-cell, td.variations-cell
{
  padding-top:8px;
  padding-bottom:4px;
}

.scTabstrip
{
  height:26px;
}

.ie .testing-components
{
  table-layout:fixed !important;
}

[class~=ie] .scMenuItemCaption_Hover, [class~=ie] .scMenuItemCaption
{  
  line-height: 16px;
}