﻿.header-menu
{
  float: right;
  padding-right: 4px;
  margin-right: 4px;
}

.scEditorSectionCaptionGlyph .icon-expand
{
  height: 16px;
  width: 16px;
  background: transparent url('/sitecore/shell/themes/standard/Images/accordion_up.png') no-repeat center center;  
}

.scEditorSectionCaptionGlyph .icon-expand.collapsed
{
  background: transparent url('/sitecore/shell/themes/standard/Images/accordion_down.png') no-repeat center center;
}

.action-menu-holder
{  
  position: relative; 
  width: 0px;
  height: 0px;
  overflow:visible;
}

.action-menu-holder .scMenu
{
  top: 100%;
}

.header-title-edit
{
    border: none !important;
    box-shadow: none !important;
    width: auto !important;
}

.header-title
{
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  padding: 2px 4px;
  outline: none;
  text-decoration: none;
  color: #fff !important;
}

.ie .header-title
{
  zoom: 1;
  font-weight: inherit;
}

.ff .header-title
{
  display: inline-block;
}

a.header-title:hover
{
  padding: 1px 3px;
  border: 1px solid;
  border-color: #E5DDB3;
  background: #969696;
  text-decoration: none;  
}

.ie .action-combo 
{
  border-bottom-style: none;
}

.scEditorSectionCaptionExpanded input,
.scEditorSectionCaptionCollapsed input {
  min-height: 30px;
  padding-top: 1px;
  padding-bottom: 1px;
}
