.lm-asterisk {
  font-size: larger;
  color: #FF0000;
}
.lm-scroll-import {
  max-height: 268px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.lm-scroll-add {
  max-height: 330px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.lm-header {
  color: #ffffff;
  background-color: #969696;
}
/*# sourceMappingURL=ImportMapTo.css.map */