
.jcarousel-skin-sitecore .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-sitecore .jcarousel-container-horizontal {
    margin: 0 30px 0 30px;
}

.jcarousel-skin-sitecore .jcarousel-list-horizontal {
   height: 76px !important;
}

.jcarousel-skin-sitecore .jcarousel-clip-horizontal {
    height: 76px;
}

.jcarousel-skin-sitecore .jcarousel-item {
    width: 300px;
    height: 74px;
}

.jcarousel-skin-sitecore .jcarousel-item-horizontal {
	margin-left: 0;
  margin-right: 10px;
  border: 1px solid #e3e3e3;
}

.jcarousel-skin-sitecore .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}

.jcarousel-skin-sitecore .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-sitecore .jcarousel-next-horizontal {
    position: absolute;
    top: 0px;
    width: 24px;
    height: 74px;
    right:-30px;
    cursor: pointer;
    background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal.png) no-repeat center center;
}

.jcarousel-skin-sitecore .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 5px;
    right: auto;
    background-image: url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal.png);
}

.jcarousel-skin-sitecore .jcarousel-next-horizontal:hover 
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal-hover.png) no-repeat center center;
}

.jcarousel-skin-sitecore .jcarousel-next-horizontal:active 
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal.png) no-repeat center center;
}

.jcarousel-skin-sitecore .jcarousel-next-disabled-horizontal,
.jcarousel-skin-sitecore .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-sitecore .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal-disabled.png) no-repeat center center;
}

.jcarousel-skin-sitecore .jcarousel-prev-horizontal {
    position: absolute;
    top: 0px;
    width: 24px;
    height: 74px;
    left:-30px;
    cursor: pointer;
    background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal.png) no-repeat center center;
}

.jcarousel-skin-sitecore .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 5px;
    background-image: url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal.png);
}

.jcarousel-skin-sitecore .jcarousel-prev-horizontal:hover 
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal-hover.png) no-repeat center center;
}

.jcarousel-skin-sitecore .jcarousel-prev-horizontal:active 
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal.png) no-repeat center center;
}

.jcarousel-skin-sitecore .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-sitecore .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-sitecore .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal-disabled.png) no-repeat center center;
}

.jcarousel-skin-sitecore .scPresetCard
{
 background-color:White;
 background-image:none;  
}

.ie .jcarousel-skin-sitecore .jcarousel-next-hover
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/next-horizontal-hover.png) no-repeat center center;
}

.ie .jcarousel-skin-sitecore .jcarousel-prev-hover
{
  background: transparent url(/sitecore/shell/themes/standard/images/jcarousel/prev-horizontal-hover.png) no-repeat center center;
}