﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-timeline";
  rendering.Requires.Script("client", "timeline.js");

  var isVisible = rendering.GetBool("IsVisible", "IsVisible", true);
  rendering.Attributes["data-sc-isvisible"] = isVisible.ToString().ToLowerInvariant();

  var data = rendering.GetString("Data", "data");
  
  var htmlAttributes = rendering.HtmlAttributes;
}
<div @htmlAttributes data-bind="visible: isVisible">
  <div class="timeline"></div>
</div>

