body {
	background: #fff;
	color: #222;
	font: 12px/20px 'Helvetica Neue', Arial, sans-serif;
	margin: 0;
	padding: 0;
}
h2 {
	font-size: 18px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
h4 {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
a {
	color: #333;
}

/* Table */
#datatable {
	border: none; /* Turn off all borders */
	border-top: 1px solid #ccc;
	width: 340px;
}
#datatable caption {
	color: #545454;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: center;
}
#datatable thead {
	background: #f0f0f0;
}
#datatable th, 
#datatable td {
	border: none; /* Turn off all borders */
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 10px;
	text-align: left;	
}

/* Toggle */
.toggles {
	background: #ebebeb;	
	color: #545454;
	height: 20px;
	padding: 15px;
}
.toggles p {
	margin: 0;
}
.toggles a {
	background: #222;
	border-radius: 3px;	
	color: #fff;
	display: block;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 6px;
	text-decoration: none;
}
.toggles a:hover {
	background: #666;
}
#reset-graph-button {
	float:right;
}

/* Graph */
/* Containers */
#wrapper {
	height: 420px;
	left: 50%;
	margin: -210px 0 0 -270px;
	position: absolute;
	top: 50%;	
	width: 340px;
}
#figure {
	height: 542px;
	position: relative;
}
#figure ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.graph {
	height: 474px;
	position: relative;
}

/* Legend */
.legend {
	background: #f0f0f0;
	border-radius: 4px;
	bottom: 0;
	position: absolute;
	text-align: left;
	width: 540px;	
}
.legend li {
	display: block;
	float: left;
	height: 20px;
	margin: 0;
	padding: 10px 30px;
	width: 120px;
}
.legend span.icon {
	background-position: 50% 0;
	border-radius: 2px;
	display: block;
	float: left;
	height: 16px;
	margin: 2px 10px 0 0;
	width: 16px;	
}

/* X-Axis */
.x-axis {
	bottom: 0;
	color: #555;
	position: absolute;
	text-align: center;
	width: 640px;
}
.x-axis li {
	float: left;
	margin: 0 15px;
	padding: 5px 0;
	width: 76px;	
}

/* Y-Axis */
.y-axis {
	color: #555;
	position: absolute;
	text-align: right;

}
.y-axis li {
	border-top: 1px solid #ccc;
	display: block;
	height: 62px;

}
.y-axis li span {
	display: block;
	margin: -10px 0 0 -60px;
	padding: 0 10px;
	width: 40px;
}

/* Graph Bars */
.bars {
	height: 415px;
	position: absolute;
	width: 100%;
	z-index: 10;
}
.bar-group {
	float: left;
	height: 100%;
	margin: 0 15px;
	position: relative;
	width: 76px;
}
.bar {
	border-radius: 3px 3px 0 0;
	bottom: 0;
	cursor: pointer;	
	height: 0;
	position: absolute;
	text-align: center;
	width: 24px;
}
.bar.fig0 {
	left: 0;
}
.bar.fig1 {
	left: 76px;
}
.bar.fig2 {
	left: 152px;
}
.bar.fig3 {
	left: 228px;
}
.bar.fig4 {
	left: 304px;
}

.bar.fig4 {
	left: 380px;
}
.bar span {
	background: #fefefe;
	border-radius: 3px;
	left: -8px;
	display: none;
	margin: 0;
	position: relative;
	text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
	width: 40px;
	z-index: 20;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 4px;
}
.bar:hover span {
	display: block;
	margin-top: -25px;
}

#datatable {
	display: none;
}
.fig0 {
	background: -webkit-gradient(linear, left top, right top, color-stop(0.0, #747474), color-stop(0.49, #676767), color-stop(0.5, #505050), color-stop(1.0, #414141));
}
.fig1 {
	background: -webkit-gradient(linear, left top, right top, color-stop(0.0, #65c2e8), color-stop(0.49, #55b3e1), color-stop(0.5, #3ba6dc), color-stop(1.0, #2794d4));
}
.fig2 {
	background: -webkit-gradient(linear, left top, right top, color-stop(0.0, #eea151), color-stop(0.49, #ea8f44), color-stop(0.5, #e67e28), color-stop(1.0, #e06818));
}
.fig3 {
	background: -webkit-gradient(linear, left top, right top, color-stop(0.0, #76EE51), color-stop(0.49, #44EA8A), color-stop(0.5, #28E667), color-stop(1.0, #1A833D));
}
.fig4 {
	background: -webkit-gradient(linear, left top, right top, color-stop(0.0, #E6442F), color-stop(0.49, #EC3814), color-stop(0.5, #AC1411), color-stop(1.0, #840C0C));
}

.fig5 {
	background: -webkit-gradient(linear, left top, right top, color-stop(0.0, #E6442F), color-stop(0.49, #EC3814), color-stop(0.5, #AC1411), color-stop(1.0, #840C0C));
}
.bar span {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #fff), color-stop(1.0, #e5e5e5));
	display: block;
	opacity: 0;
		
	-webkit-transition: all 0.2s ease-out;
}
.bar:hover span {
	opacity: 1;
}