@import url(reset.css);

html, body {
  height: 100%;
}

.mainForm {
  height: 100%;
}

div.dark_square .pp_close {
  width: 85px;
}

.margin25px {
  margin: 0px 25px;
}

.mainmargin {
  margin: 25px 0 25px 0;
  overflow: hidden;
}

.rounded {
  float: left;
  margin: 20px;
  width: 200px;
}

li {
  margin: 0 0 5px 0;
}

.ui-autocomplete {
  text-align: left;
  max-width: 571px;
}

.search form {
  width: auto !important;
  padding: 0 !important;
  margin: -21px 0 0 4px !important;
  height: auto !important;
}

.search input {
  margin-bottom: 8px;
}

.search .field {
  background: transparent url(../images/search_bar.png) no-repeat 0 0;
  font: 11px "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  line-height: 22px;
  width: 152px;
  height: 20px;
  color: #fff;
  float: left;
  padding: 2px 3px 3px 6px;
  border: 0;
}

.search .button {
  background: transparent url(../images/search_btn.png) no-repeat;
  width: 60px;
  height: 20px;
  color: #313131;
  font: 12px "Lucida Sans Unicode","Lucida Grande",Garuda,sans-serif;
  float: left;
  border: 0;
}

/* --------------------------------------------------------------------- */
/* GRID CONTAINER STYLING ---------------------------------------------- */
/* --------------------------------------------------------------------- */

#grid-content .post_float {
  width: 180px;
  height: 260px;
  padding: 15px;
  background-color: #ffffff;
  margin: 15px;
  float: left;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  cursor: pointer;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  text-align: center;
  line-height: 1.6em;
  overflow: hidden;
}

.languageLink {
    display: inline-block;
    padding: 0 4px;
}

#grid-content .post_float:hover {
  background-color: #e3e3e3;
}


#grid-content .highlight {
  background-color: gainsboro;
}

.highlight {
  background-color: #ebebeb;
  border: 1px solid #dbdbdb;
}

  .highlight .quickactions {
    background: #E4E4E4;
  }

.ceebox.imgcontainer {
  float: left;
}

.scLockView .ceebox.imgcontainer {
  margin-left: 8px;
}

.ceebox {
  display: inline-block;
  text-overflow: ellipsis;
  max-width: 148px;
  overflow: hidden;
  white-space: nowrap;
}

.post_float div.ceebox img {
  margin-bottom: -6px !important;
}

#grid-content .post_tags a span {
  Font-weight: normal;
}

#grid-content .post_tags {
  overflow: hidden;
  text-align: left;
}

.scLockView {
}

#grid-content .post_tags a {
}

  #grid-content .post_tags a:hover {
  }

.post_float img {
  vertical-align: top;
}

.post_float .scLockIco,
.post_float .scUnLockIco {
  float: right;
  width: 24px;
  height: 24px;
  margin: -10px -10px 0 0;
  background: url(../images/lockNew.png) no-repeat center;
}

  .post_float .scLockIco img,
  .post_float .scUnLockIco img {
    display:none;
  }

.post_float .scUnLockIco {
  background: url(../images/lockNew_open.png) no-repeat center;
  display: none;
}

.post_float img.smallIcon {
  height: 48px;
  width: 48px;
}

.post_float h2 {
  margin: 10px 0 0 0;
  text-align: left;
}

  .post_float h2 a {
    color: #2b2b2b;
  }


html, body {
  text-align: center;
  overflow: auto;
}

body {
  line-height: initial;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #2B2B2B;
  border: none;
  outline: 0;
  height: 100%;
}

h1 {
  margin: 0px 0px 15px 0px;
  padding: 0px;
  font-size: 28px;
  font-weight: bold;
  color: #ccc;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  padding: 0px;
}


.Content > p {
  margin: 0px;
}

  .Content > p + p {
    text-indent: 30px;
  }

a {
  color: #DC291E;
  text-decoration: none;
}


  a:hover {
    text-decoration: underline;
  }

#MainPanel {
  width: auto;
  position: relative;
  overflow-x: hidden;
  margin: 0 auto;
  height: 100%;
}

/* All the content boxes belong to the content class. */
.content {
  position: relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
  margin: 0 auto;
  background-color: white;
  z-index: 3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
  width: auto;
  height: 100%;
  top: 0;
  overflow: auto;
}


.contextdataarea {
}

body > .contextdataarea {
  width: 128px;
}

.navAlpha {
}

body > .navAlpha {
  width: 128px;
}

#navBeta {
  top: 0;
  z-index: 7;
}

#navBeta {
  padding: 0 31px;
  voice-family: "\"}\"";
  voice-family: inherit;
  margin: 0 0 10px;
}

body > #navBeta {
  width: 168px;
}

.left {
  left: 0;
  top: 110px;
  position: absolute;
  z-index: 0;
}

.contentAreaWrapper {
  width: 100%;
  position: relative;
  min-width: 900px;
}

.ie8 .contentAreaWrapper {
  z-index: -1;
}

/* pagination */
.pagination {
  text-align: center;
  z-index: 0;
  position: relative;
}

  .pagination span,
  .pagination a {
  }

  .pagination .link-prev,
  .pagination .link-next {
    position: absolute;
    top: 6px;
    left: 10px;
    background: url(/images/arrows.png) no-repeat;
    width: 23px;
    height: 37px;
    text-indent: -9999px;
    overflow: hidden;
  }

  .pagination .link-next {
    right: 10px;
    left: auto;
    background-position: 0 100%;
  }

  .pagination ul {
    list-style: none;
    margin: 15px 0;
    padding: 0;
    line-height: 24px;
    position: relative;
  }

  .pagination li {
    display: inline;
  }

    .pagination li a {
      display: inline-block;
      width: 24px;
      height: 24px;
      border: 1px solid #d6d6d6;
      border-right: 0px;
      color: #2b2b2b;
    }

    .pagination li:last-of-type a {
      border-right: 1px solid #d6d6d6;
    }


    .pagination li.next-pages a.pageLink,
    .pagination li.previous-pages a.pageLink {
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/pagination_previous.png);
      text-indent: -9999px;
    }

    .pagination li.next-pages a.pageLink {
      background-image: url(../images/pagination_next.png);
    }

.pageLink.pageClickLoad {
  background: url('../images/sc-spinner16.gif') no-repeat center center;
  color: white;
}

  .pageLink.pageClickLoad li a:hover {
    background: url('images/sc-spinner16.gif') no-repeat center center;
    color: white;
  }

.pagination li a:hover {
  background-color: #e3e3e3;
  text-decoration: none;
}

.pagination li.active a {
  background-color: #D0EBF6;
}

.tip {
  list-style: none outside none;
  padding: 6px 5px;
}

.sideMask {
  overflow: hidden;
  background-color: #fff;
}


.side {
  width: 100%;
  outline: none;
  list-style: none;
  text-align: left;
}

.sideFilter {
  margin-bottom: 15px;
}

.side li {
  display: inline;
}

  .side li a {
    display: block;
    line-height: 24px;
    padding: 0 15px;
    border-bottom: 1px solid #f0f0f0;
    color: #2b2b2b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 24px;
    position: relative;
  }

    .side li a:hover {
      background-color: #e3e3e3;
      text-decoration: none;
    }

    .side li a span {
      display: inline-block;
    }

      .side li a span:last-child {
        position: absolute;
        right: 5px;
        font-weight: bold;
      }


    .side li a.facetClickSelected {
      background-image: url("../images/cancel.png");
      background-position: 95% center;
      background-repeat: no-repeat;
      background-color: #D0EBF6;
      color: #2b2b2b;
    }

      .side li a.facetClickSelected:hover {
        background-color: #e3e3e3;
      }




.side p {
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 16px;
  padding: 5px;
}

.side li input[type="checkbox"] {
  float: left;
  margin: 10px 4px 0 5px;
}

.side .sb_filter {
  cursor: pointer;
  clear: both;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 15px;
  behavior: expression(runtimeStyle.behavior = 'none', onmouseover = function() {this.className += ' hover'}, onmouseout = function() {this.className = this.className.replace(/ hover/g, '')});
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 40px;
  position: relative;
}

  .side .sb_filter span {
    height: 16px;
    width: 16px;
    background-color: #ff0;
    display: inline-block;
    margin: 12px 0;
    position: absolute;
    top: 0;
    right: 0;
  }


  .side .sb_filter.toggleoff span {
    background: url(../images/chevron-small-4-01.png) no-repeat right center;
  }

  .side .sb_filter.toggleon span {
    background: url(../images/chevron-small-1-01.png) no-repeat right center;
  }

  .side .sb_filter:hover, .side .hover {
  }

.side .tip {
  border: 1px solid #f9f9f9;
  clear: both;
  background: #ddd;
  font-size: 12px;
  letter-spacing: 1px;
  color: #444;
  height: 16px;
  line-height: 16px;
  padding: 5px;
  box-shadow: 0 0 3px #555 inset;
  background: url('../images/star.png') no-repeat right;
}

#views {
  position: absolute;
  top: 8px;
  right: 0;
  width: 275px;
}

  #views a {
    margin-right: 10px;
  }

.scView,
.PreviewView,
.grid,
.MediaView,
.LockView,
.ImageView,
.TagView,
.TableView,
.list {
  float: left;
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 1;
  margin: auto;
  margin-top: 12px;
  cursor: pointer;
  background: url("../images/profile_selected.png") no-repeat center;
}

  .scView:hover,
  .scView.active {
    background: url("../images/profile.png");
  }

.PreviewView {
  background: url("../images/preview.png");
}

  .PreviewView:hover,
  .PreviewView.active {
    background: url("../images/preview_selected.png");
  }

.grid {
  background: url("../images/view_grid.png");
}

  .grid:hover,
  .grid.active {
    background: url("../images/view_grid_selected.png");
  }

.MediaView {
  background: url("../images/infinitescroll.png");
}

  .MediaView:hover,
  .MediaView.active {
    background: url("../images/infinitescroll_selected.png");
  }

.LockView {
  background: url("../images/lock.png");
}

  .LockView:hover,
  .LockView.active {
    background: url("../images/lock_selected.png");
  }


.ImageView {
  background: url("../images/image.png");
}

  .ImageView:hover,
  .ImageView.active {
    background: url("../images/image_selected.png");
  }

.TagView {
  background: url("../images/tagview.png");
}

  .TagView:hover,
  .TagView.active {
    background: url("../images/tagview_selected.png");
  }

.TableView {
  background: url("../images/table.png");
}

  .TableView:hover,
  .TableView.active {
    background: url("../images/table_selected.png");
  }


.list {
  background: url("../images/view_list.png");
}

  .list:hover,
  .list.active {
    background: url("../images/view_list_selected.png");
  }



.ui-slider-horizontal {
  margin-top: 15px;
  margin-left: 10px;
  height: 0.3em;
}

.boxgrid h3 {
  margin: 10px 10px 0 10px;
  font-size: 18px;
}

.boxgrid {
  width: 285px;
  height: 240px;
  margin: 10px;
  float: none;
  background-color: #e3e3e3;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  cursor: pointer;
}

  .boxgrid img {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
  }

  .boxgrid p {
    padding: 0 10px;
  }

.boxcaption {
  float: left;
  position: absolute;
  height: 100px;
  width: 100%;
  opacity: .8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.captionfull .boxcaption {
  top: 260px;
  left: 0;
}

.caption .boxcaption {
  top: 220px;
  left: 0;
}

.slide-out-div {
}

.slide-out-div2 {
  width: 180px;
}

.scrolling {
  height: 450px;
  overflow: scroll;
}

#resultInfoMessage {
  margin: 15px 300px 15px 0;
  white-space: nowrap;
  min-width: 600px;
}

.scIgnoreModified {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}




/*
Table Style - This is what you want
------------------------------------------------------------------ */
/*#results{
}

    #results table a {
      white-space: nowrap;
    }
  
    #results table a:link
    {
        color: #666;
        font-weight: bold;
        text-decoration: none;
    }

    #results table a:visited
    {
        color: #999999;
        font-weight: bold;
        text-decoration: none;
    }

    #results table a:active,
    #results table a:hover
    {
        color: #bd5a35;
        text-decoration: underline;
    }

    #results table
    {
        font-family: Arial, Helvetica, sans-serif;
        color: #666;
        font-size: 12px;
        text-shadow: 1px 1px 0px #fff;
        background: #eaebec;
        border: #ccc 1px solid;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        margin: 27px auto;
        box-shadow: 0 1px 2px #d1d1d1;
    }

        #results table th
        {
            padding: 7px;
            border-top: 1px solid #fafafa;
            border-bottom: 1px solid #e0e0e0;
            text-align: center;
            background: #ededed;
            background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
            background: -moz-linear-gradient(top, #ededed, #ebebeb);
            background: linear-gradient(to bottom, #F8F8F8, #ebebeb);
        }

        #results table tr:first-child th:first-child
        {
            -moz-border-radius-topleft: 3px;
            -webkit-border-top-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        #results table tr:first-child th:last-child
        {
            -moz-border-radius-topright: 3px;
            -webkit-border-top-right-radius: 3px;
            border-top-right-radius: 3px;
        }

        #results table tr
        {
            text-align: left;
            cursor: pointer;
        }
            
            #results table tr td:first-child
            {
                border-left: 0;
            }

            #results table tr td
            {
                padding: 7px;
                border-top: 1px solid #ffffff;
                border-bottom: 1px solid #e0e0e0;
                border-left: 1px solid #e0e0e0;
                background: #fafafa;
            }

            #results table tr.even td
            {
                background: #f6f6f6;
                background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
                background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
            }

            #results table tr:last-child td
            {
                border-bottom: 0;
            }

                #results table tr:last-child td:first-child
                {
                    -moz-border-radius-bottomleft: 3px;
                    -webkit-border-bottom-left-radius: 3px;
                    border-bottom-left-radius: 3px;
                }

                #results table tr:last-child td:last-child
                {
                    -moz-border-radius-bottomright: 3px;
                    -webkit-border-bottom-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }

            #results table tr:hover td, #results table tr.hover td
            {
                background: -webkit-linear-gradient(top, #F2F2F2, #f0f0f0);
                background: linear-gradient(to bottom, #F2F2F2, #f0f0f0);
            }*/




#results table {
  padding: 0;
  margin: 15px 0 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  line-height: 1.42857143;
}

  #results table > tbody:first-child > tr:first-child,
  #results table > thead {
    background-color: #5E5E5E;
    color: white;
  }

  #results table > tbody > tr:nth-child(odd) {
    background-color: #f7f7f7;
  }

  #results table > tbody > tr:hover {
    background-color: #e3e3e3;
    cursor: pointer;
  }

  #results table th,
  #results table > tbody > tr > td {
    border: 1px solid #ccc;
    padding: 14px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  #results table th,
  #results table > tbody:first-child > tr:first-child > td {
    border: 1px solid #5E5E5E;
    position: relative;
  }

    #results table th:after,
    #results table > tbody:first-child > tr:first-child > td:after {
      background: #d6d6d6 right center;
      position: absolute;
      width: 1px;
      display: block;
      top: 13px;
      bottom: 13px;
      right: 0;
      content: "";
    }

    #results table th:last-child:after,
    #results table > tbody:first-child > tr:first-child > td:last-child:after {
      background: none;
    }
