﻿.sb_dropdown {
  width: 650px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  outline: none;
  position: absolute;
  z-index: 1;
  zoom: 1;
  list-style: none;
  cursor: pointer;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  color: #474747;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-top: 0px;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-top: -1px;
}

/*.ie8 .sb_dropdown {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f2f2f2', EndColorStr='#fafafa'),
          progid:DXImageTransform.Microsoft.Shadow(Color=#898989, Strength=3, Direction=135),
          progid:DXImageTransform.Microsoft.Shadow(Color=#dedede, Strength=2, Direction=315);
}

.ie9 .sb_dropdown {
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f2f2f2', EndColorStr='#fafafa');
}*/


input {
  color: #474747;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


#ajaxBusy {
  height: 96px;
  width: 96px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -38px;
  margin-top: -38px;
  background: transparent url("../images/sc-spinner32.gif") no-repeat center center;
  background-color: #ffffff;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  z-index:1000;
}


.ui-rangeSlider-label {
  font: 11px verdana,arial,helvetica,sans-serif;
}

.sb_dropdown li {
  line-height: 20px;
  float: left;
  width: 50%;
  overflow: hidden;
}

  .sb_dropdown li input[type="checkbox"] {
    float: left;
    margin: 10px 4px 0 5px;
  }

.sb_dropdown .sb_filter {
  clear: both;
  margin: 15px 0 5px;
  background: transparent;
  color: #444;
  height: 16px;
  line-height: 16px;
  padding: 5px 15px;
  font-weight: bold;
}

  .sb_dropdown .sb_filter:hover {
    background-color: #e3e3e3;
  }

  .sb_dropdown .sb_filter img {
    padding-right: 4px;
    display: none;
  }

  .sb_dropdown .sb_filter span {
    font-weight: 400;
  }

.RecentlyModifiedItemsbody,
.MyRecentSearchesbody,
.RecentlyCreatedItemsbody,
.MyRecentTabsbody,
.SearchFiltersbody,
.SearchOperationsbody {
  padding: 2px 30px;
  width: 100%;
}

.searchFilterIcon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  vertical-align: middle;
}


span.reference {
  position: fixed;
  left: 10px;
  bottom: 10px;
  font-size: 11px;
}

  span.reference a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #000;
  }

    span.reference a:hover {
      color: #f0f0f0;
    }

.box {
  margin: 0 auto;
  padding-top: 20px;
  width: 900px;
  position: relative;
  text-align: left;
}

  .box h2 {
    background-color: #1275AD;
    border-color: #0E5A85 #0E5A85 #0E5A85;
    border-style: ridge ridge solid;
    border-width: 1px;
    color: #FFFFFF;
    font-size: 22px;
    padding: 10px;
    text-shadow: 1px 1px 1px #000000;
  }

#grid-content .post_float .imgcontainer {
  float: none;
}

.pageSection {
  width:80%;
  float:left;
  padding: 0 15px;
box-sizing: border-box;
}

.facets {
  width:20%;
  float:right;
  padding-right: 15px;
  box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

.handle {
  background-position: 50% 50%;
  border: 1px solid #F2F2F2;
  box-shadow: 1px 0 1px #DDD;
}

.handle2 {
  background-position: 50% 50%;
  border: 1px solid #F2F2F2;
  box-shadow: 1px 0 1px #DDD;
}

a.handle:hover {
  background-position: 50% 50%;
  border: 1px solid #DDD;
  background-color: #DDD;
  box-shadow: 1px 0 1px #AAA;
}

a.handle2:hover {
  background-position: 50% 50%;
  border: 1px solid #DDD;
  background-color: #DDD;
  box-shadow: 1px 0 1px #AAA;
}

.myInputbox {
  background-color: #ebf3fc;
}

.command, .command:link, .command:hover, .command:active {
  background-color: transparent;
  text-decoration: none;
  height: 16px;
  display: inline-block;
  line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 90%;
}

  .command:hover {
    text-decoration: underline;
  }

.hastip {
  display: none;
  overflow: hidden;
  height: auto !important;
  height: 30px;
  margin: 9px 12px 9px 63px;
  padding: 5px 10px;
  background-color: #E6E7E9;
  color: black;
  cursor: default;
  border: 1px solid #CCD5E4;
  font-size: 16px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  float: left;
  white-space: nowrap;
}

.errortip {
  display: none;
border: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
text-shadow: none;
padding: 10px 35px 10px 54px;
position: relative;
margin: 15px 0 0;
font-weight: bold;
background-color: #ca241c;
background-image: url(../images/alert.png);
background-repeat:no-repeat;
background-position:15px center;
filter: none;
color: #fff;
line-height: 20px;
}

.errortip {
  margin-left: 20px;
}

.slider {
  top: 30px;
  width: 430px;
  margin-left: 24px;
}

.loadingSection {
}
