UL.BlogPostList {
    margin: 20px 0 0 0;
    padding: 0;
    list-style-type: none;
}

.BlogPostArea {
    margin: 0 15px 0 0;
    padding: 15px;
    min-height: 60px;
    text-align: left;
    position: relative;
    zoom: 1;
}

.BlogPostArea:hover, 
.ie .BlogPostArea.hover {
    background-color: #E3E3E3;
    cursor: pointer;
}

.quickactions {
  position:relative;
}

.quickactions span {
    display: inline-block;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
  }

.BlogPostHeader {
    padding-left: 78px;
}

.BlogPostHeader a {
  font-size:14px;
  color:#2b2b2b;
  font-weight:bold;
}

.BlogPostContent {
    padding: 10px 0 5px 78px;
}

.BlogPostFooter {
    padding-left: 78px;
    position:relative;
}

div.BlogPostContent > strong {
    margin-left:15px;
}

div.BlogPostContent > strong:first-of-type{
    margin-left:0;
}

div.BlogPostFooter > div > strong {
    margin-left:15px;
}

div.BlogPostFooter > div > strong:first-of-type{
    margin-left:0;
}

.BlogPostViews {
}

    .BlogPostViews a {
    }


.baketLangWrap {
    display: none;
}

.baketLang {
  display:inline-block;
  margin-right:5px;
  padding-right:5px;
  border-right:1px solid #d6d6d6;
}

  .baketLang:last-of-type {
  border-right:0px;
  }

.baketActionListWrap {
}


.baketActionListWrap {
width: 16px;
height: 16px;
overflow: hidden;
background-color: #fff;
position:absolute;
bottom:15px;
right:0;
text-align:right;
  padding:5px;
  display:none;
}

.baketActionListWrap:hover {
  width:160px;
  height:auto;
  overflow:auto;
background-color: #ff0;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;

}



.baketActionListWrap > a {
  display:none;
}

.baketActionListWrap:hover > a {
  display:block;
}



.scBucketsActionList {
  display:block;
  margin: 5px 0;
}



.grayBlur {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius='10')";
  -webkit-filter: grayscale(100%) blur(10px);
}

  .grayBlur > div {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='blur' x='0' y='0'><feGaussianBlur stdDeviation='10'/></filter></svg>#blur");
  }