.scLink {
  border-bottom:1px solid #D6D6D6;
  margin:8px 4px 8px 16px;
  padding:2px 8px 12px 8px;
}

.scLinkTable {
}

.scLinkTable td {
  vertical-align:top;
}

.scLinkIcon {
  width:24px;
  height:24px;
  margin:0px 4px 0px 0px;
}

.scLinkHeader {
  font-weight:bold;
  color:#63120D
}

.scLinkDetails {
  padding:2px 0px 0px 0px;
  color:#969696;
}

.scLinkField {
  padding:1px 0px 1px 0px;
}

.scLinkDivider {
  background:#E3E3E3;
  margin:5px 0px 5px 0px;
}

.scLinkCommand {
  color: #DC291E;
  white-space: nowrap;
  display: inline-block;
  padding: 0 15px 0 0;
}

.scLinkCommandIcon {
  display: none;
}

.scLinkCommandIcon_Hover {
  display: none;
}
