﻿.sc-globalHeader {
  position: inherit !important;
}

div.scPopup {
  padding-top: inherit !important;
}
.scRibbonNavigatorButtonsGroupHeader {
  display: none;
}

.scRibbonToolbar {
  border-bottom: 1px solid #cccccc;
}

.scRibbonToolbarText {
  text-align: center;
}

#RibbonForm {
  background: #474747;
}

div.scTreecrumb {
  background: #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7f7f7), color-stop(1, #ebebeb));
  background: -ms-linear-gradient(bottom, #f7f7f7, #ebebeb);
  background: -moz-linear-gradient(center bottom, #f7f7f7 0%, #ebebeb 100%);
  background: -o-linear-gradient(#ebebeb, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#f7f7f7', GradientType=0);
  border-bottom: 1px solid #cccccc;
  padding: 0 1em;
  padding-top: 3px;
  padding-bottom: 26px;
}

.scTreecrumbNode, .scTreecrumbChevron, .scTreecrumbDivider, .scTreecrumbGo {
  float: left;
}

span.scTreecrumbNodeCurrentItem {
  font-weight: 600;
}

div.scTreecrumbBar {
  border: none;
  background-color: transparent;
  background-image: none;
  height: 20px;
  padding: 0px 2px;
  margin: 0px;
  line-height: 3;
  text-transform: uppercase;
}

.scTreecrumbChevron,
.scTreecrumbChevron:link,
.scTreecrumbChevron:visited,
.scTreecrumbChevron:hover,
.scTreecrumbChevron:active {
  text-decoration: none;
  padding: 2px;
  width: 11px;
  text-align: center;
}

.scTreecrumbChevron:hover,
.scTreecrumbChevron:active {
  background: #f2f4f8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #eef1f6));
  background: -ms-linear-gradient(bottom, #fcfcfc, #eef1f6);
  background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #eef1f6 100%);
  background: -o-linear-gradient(#eef1f6, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);
  border: 1px solid #cbcdd1;
    padding: 1px;
  }

.scTreecrumbChevronGlyph {
  border: none;
  vertical-align: middle;
}

.scTreecrumbNode,
.scTreecrumbNode:link,
.scTreecrumbNode:visited,
.scTreecrumbNode:hover,
.scTreecrumbNode:active {
  text-decoration: none;
  padding: 3px 4px 4px 4px;
  color: #303030;
  white-space: nowrap;
}

.scTreecrumbNode:hover,
.scTreecrumbNode:active {
  background: #f2f4f8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #eef1f6));
  background: -ms-linear-gradient(bottom, #fcfcfc, #eef1f6);
  background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #eef1f6 100%);
  background: -o-linear-gradient(#eef1f6, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);
  border: 1px solid #cbcdd1;
    padding: 2px 3px 3px 3px;
  }

.scTreecrumbNodeIcon {
  width: 16px;
  height: 16px;
  border: none;
  vertical-align: middle;
}

.scTreecrumbDivider {
  background: #999999 url(/sitecore/shell/themes/standard/images/ribbon/V2/ribbon_groupsplitter.png) no-repeat bottom right;
  height: 40px;
  width: 2px;
  margin: 0px 8px 0px 8px;
  display: inline;
  vertical-align: middle;
}

.scTreecrumbGo,
.scTreecrumbGo:link,
.scTreecrumbGo:visited,
.scTreecrumbGo:hover,
.scTreecrumbGo:active {
  text-decoration: none;
  padding: 2px 4px;
  color: #303030;
  white-space: nowrap;
  margin-right: 5px;
}

a.scTreecrumbGo:hover,
a.scTreecrumbGo:active {
  background: #f2f4f8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #eef1f6));
  background: -ms-linear-gradient(bottom, #fcfcfc, #eef1f6);
  background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #eef1f6 100%);
  background: -o-linear-gradient(#eef1f6, #fcfcfc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);
  border: 1px solid #cbcdd1;
  padding: 1px 3px;
}

span.scTreecrumbGo, span.scTreecrumbGo:hover {
  color: #8D8D8D;
}

.scTreecrumbGoIcon {
  width: 16px;
  height: 16px;
  border: none;
  vertical-align: middle;
}

/* Preview Date */

.scRibbonToolbarDatePanel {
  color: #303030;
  border: 1px solid #cccccc;
  border-collapse: inherit;
}

.scRibbonToolbarDatePrevious,
.scRibbonToolbarDatePrevious:link,
.scRibbonToolbarDatePrevious:visited,
.scRibbonToolbarDatePrevious:hover,
.scRibbonToolbarDatePrevious:active {
  color: black;
  cursor: default;
  text-decoration: none;
  padding: 2px;
  float: left;
  height: 45px;
  margin-left: 1px;
}

.scRibbonToolbarDatePrevious:hover,
.scRibbonToolbarDatePrevious:active {
  border: 1px solid;
  border-color: #E3E3E3 #E3E3E3 #E3E3E3 #E3E3E3;
  background: #E3E3E3;
  padding: 1px;
}

.scRibbonToolbarDatePreviousIcon {
  width: 32px;
  height: 32px;
  border: none;
  vertical-align: middle;
  margin-top: 6px;
}

a.scRibbonToolbarDateMonthSelector,
a.scRibbonToolbarDateMonthSelector:link,
a.scRibbonToolbarDateMonthSelector:visited,
a.scRibbonToolbarDateMonthSelector:hover,
a.scRibbonToolbarDateMonthSelector:active {
  color: black;
  cursor: default;
  text-decoration: none;
  padding: 2px;
  display: block;
  margin-bottom: 1px;
  margin-top: 1px;
  padding-top: 0;
}

a.scRibbonToolbarDateMonthSelector:hover,
a.scRibbonToolbarDateMonthSelector:active {
  border-color: #E3E3E3 #E3E3E3 #E3E3E3 #E3E3E3;
  background: #E3E3E3;
  padding-top: 0;
}

.scRibbonToolbarDateDayOfWeek {
  font: 32px arial;
  padding: 0px 0px 0px 4px;
  display: none;
}

.scRibbonToolbarDateDay {
  font: 41px Arial, sans-serif;
  padding: 0px 4px 0px 4px;
}

.scRibbonToolbarDateMonth {
  font: 12px  Arial, sans-serif;
  padding: 0px 4px 0px 0px;
}

.scRibbonToolbarDateMonthCell {
  vertical-align: bottom;
  text-align: center;
}

.scRibbonToolbarDateYear {
  font: 12px  Arial, sans-serif;
  padding: 0px 4px 0px 0px;
}

.scRibbonToolbarDateYearCell {
  vertical-align: top;
  text-align: center;
}

.scRibbonToolbarDateTime {
  font: 24px Arial, sans-serif;
  padding: 0px 4px 0px 8px;
}

.scRibbonToolbarDateTimeDesignator {
  font: 12px Arial, sans-serif;
  vertical-align: text-top;
  padding: 0px 0px 0px 2px;
}

.scRibbonToolbarDateNext,
.scRibbonToolbarDateNext:link,
.scRibbonToolbarDateNext:visited,
.scRibbonToolbarDateNext:hover,
.scRibbonToolbarDateNext:active {
  color: black;
  cursor: default;
  text-decoration: none;
  padding: 2px;
  float: left;
  height: 45px;
  margin-right: 1px;
}

.scRibbonToolbarDateNext:hover,
.scRibbonToolbarDateNext:active {
  border: 1px solid;
  border-color: #E3E3E3 #E3E3E3 #E3E3E3 #E3E3E3;
  background: #E3E3E3;
  padding: 1px;
}

.scRibbonToolbarDateNextIcon {
  width: 32px;
  height: 32px;
  border: none;
  vertical-align: middle;
  margin-top: 6px;
}

#NotificationPane {
  margin: 0 1px;
}

.no-ribbon #NotificationPane {
  margin: 0;
}

.scPageEditorNotification {
  display: block;
  font: bold 12px Arial;
  padding-right: 8px;
  padding-top: 14px;
  padding-bottom: 13px;
}

.scPageEditorNotification.Last {
  border-bottom: solid 1px #CCCCCC;
}

.no-ribbon .scPageEditorNotification.Last {
  border-bottom: none;
}

.no-ribbon .scPageEditorNotification.First {
  border-top: solid 1px #CCCCCC;
}

.scPageEditorNotification.Error,
.scPageEditorNotification.Error a {
  background: #D93C1C;
  color: white;
}

.scPageEditorNotification.Information,
.scPageEditorNotification.Information a {
  background: #d0ebf6;
  color: #2694c0;
}

.scPageEditorNotification.Warning,
.scPageEditorNotification.Warning a {
  background: #FFF5D2;
  color: #B99100;
}

.scPageEditorNotification .Icon,
.scPageEditorNotification .Description,
.scPageEditorNotification a.OptionTitle {
  display: block;
  float: left;
}

.scPageEditorNotification .Icon {
  margin-right: 8px;
  margin-left: 8px;
}

.scPageEditorNotification .Description {
  margin-right: 16px;
}

.scPageEditorNotification a.OptionTitle {
  font-weight: bold;
  margin-left: 8px;
  text-decoration: underline;
}