﻿/* Japanese presentation support */
.lang_ja_jp .scEditorTabHeaderNormal span 
{
  height: 0;
}

.lang_ja_jp .scEditorTabHeaderActive span 
{
  height: 0;
}

/* support Japanese language */
.lang_ja_jp .scEditorHeaderQuickInfoInput,
.lang_ja_jp .scEditorHeaderQuickInfoInputID,
.lang_ja_jp .scEditorWarningTitle,
.lang_ja_jp .scEditorWarningHelp,
.lang_ja_jp .scEditorSectionCaptionExpanded,
.lang_ja_jp .scEditorSectionCaptionCollapsed,
.lang_ja_jp .scEditorFieldLabel,
.lang_ja_jp .scContentButton,
.lang_ja_jp .scContentButton:link,
.lang_ja_jp .scContentButton:visited,
.lang_ja_jp .scContentButton:hover,
.lang_ja_jp .scContentButton:active,
.lang_ja_jp .scContentButtonDisabled,
.lang_ja_jp .scSearchOptionsInput,
.lang_ja_jp .scSearchHeader,
.lang_ja_jp .scSearchInput,
.lang_ja_jp .scProfileHeader,
.lang_ja_jp .scProfileName,
.lang_ja_jp .scProfileHeader,
.lang_ja_jp .scSelectPresetLink,
.lang_ja_jp .scProfileHeader,
.lang_ja_jp .scSelectPresetLinkDisabled {
  font-family: メイリオ, Meiryo, Microsoft YaHei, tahoma, sans-serif;
}

.lang_ja_jp .scSearchCategory {
  white-space: nowrap;
}

.lang_ja_jp .scEditorHeaderTitle, 
.lang_ja_jp .scEditorHeaderTitle:link, 
.lang_ja_jp .scEditorHeaderTitle:hover, 
.lang_ja_jp .scEditorHeaderTitle:active, 
.lang_ja_jp .scEditorHeaderTitle:visited {
  font-family: メイリオ, Meiryo, Microsoft YaHei, tahoma, sans-serif;
  font-weight: bold;
}