.presetList {
  border: 1px solid #e3e3e3;
  position: relative;
  height: calc(100% - 33px);
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

  .presetList .RadListBox {
    height: 100%;
    width: 100%;
  }

  .presetList .scPresetItemTemplate {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 25px;
  }

  .presetList .RadListBox_Default .rlbHeader {
    background-color: #E9E9E9;
    border-bottom: 1px solid #C9C9C9;
    background-image: none;
  }

  .presetList .RadListBox_Default .rlbGroup {
    border: 0;
  }

  .presetList .rlbTemplateTable .rlbGroupCell .rlbGroupContainer .rlbGroup .rlbList {
    padding: 0;
    margin: 0;
  }

    .presetList .rlbTemplateTable .rlbGroupCell .rlbGroupContainer .rlbGroup .rlbList .rlbItem {
      border:0px;
      border-bottom: 1px solid #e3e3e3;
      zoom: 1;
    }

    .presetList .rlbTemplateTable .rlbGroupCell .rlbGroupContainer .rlbGroup .rlbList .rlbActive {
      padding: 2px 5px;
    }

    .presetList .rlbTemplateTable .rlbGroupCell .rlbGroupContainer .rlbGroup .rlbList .rlbSelected {
    background-color: #D0EBF6;
      border-bottom: 1px solid #e3e3e3;
    }

    .presetList .rlbTemplateTable .rlbGroupCell .rlbGroupContainer .rlbGroup .rlbList .rlbHovered {
        background-color: #E3E3E3;
        color: #131313;
      border-bottom: 1px solid #e3e3e3;
    }

  .presetList .RadListBox_Default .rlbTemplateContainer {
    border: 0;
    height: 100%;
  }

  .ie .presetList .RadListBox_Default .rlbTemplateContainer {
    padding-bottom: 26px;
    box-sizing: border-box;
  }

.RadComboBox .rcbInputCell .rcbInput {
  min-height:10px;
}



.on,
.off {
  background-color: transparent;
  border:0px;
  background-image: url(/sitecore/shell/~/icon/Office/24x24/switch3_off.png.aspx);
  background-position: right center;
  background-repeat:no-repeat;
  padding:0 30px 0 0;
  margin-top:8px;
  cursor:pointer;
  outline:none;
}

.on {
  background-image: url(/sitecore/shell/~/icon/Office/24x24/switch3_on.png.aspx);
}
  .on:hover,
  .off:hover {
  color: #131313;
  }


.presetList .rlbTemplateTable .rlbGroupCell .rlbGroupContainer .rlbGroup .rlbList .rlbDisabled span {
}

.rlbGroup.rlbGroupRight {
  height: 100%;
}

.RadarChart {
  width: 370px;
  height: 230px;
  margin: 10px;
  padding: 0;
}

.selectPresetContainer {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.rlbGroupContainer {
  height: 100% !important;
  overflow: auto;
}

.allPreset {
  height: 100%;
  padding-bottom: 25px;
  padding-top:15px;
  padding-left:15px;
  padding-right:15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.presets {
  padding: 15px;
  width: 25%;
}

.presetMoveButtons {
  height: 100%;
  width: 100px;
  display: inline-block;
  position: relative;
}

.presetMoveButtons .scButton {
  margin: 5px 0;
}

.presetMoveButtons > div {
  position: absolute;
  top: 40%;
}

.selectedPresets {
  padding: 15px 15px 15px 5px;
  width: 25%;
}

.presetValues {
  width: 395px;
  position: absolute;
  top: 15px;
  right: 15px;
  bottom: 5px;
  padding-bottom: 20px;
  z-index: 2;
}

.selectPresetContainer .title {
  display: inline-block;
  font-size: 14px;
  font-weight:bold;
  line-height: 32px;
}

.rlbGroupCell {
  height: 100% !important;
}

.profileKeyName {
  height: 30px;
}