﻿@using Sitecore
@model Sitecore.Speak.Components.Models.Common.Buttons.DropDownButtonRenderingModel
@{
  Model.Class.Append("sc-dropdownbutton");
  Model.Class.AppendIf(string.IsNullOrEmpty(Model.Text), "noText");
  Model.DataBind.IsVisible().Click("toggle").Bind("css", "{ 'up': IsOpen() }");
}

<div @Model.HtmlAttributes>
  <button data-bind="enable: IsEnabled, css: { 'up': IsOpen() }" class="btn btn-@Model.ButtonType.ToLowerInvariant()">
    @if (!string.IsNullOrEmpty(Model.ImageUrl))
{
  <div style="background-image:url('@Model.ImageUrl');background-position: @Model.SpritePosition;" data-bind="style: {'backgroundImage': 'url(' + ImageUrl() + ')', 'backgroundPosition': SpritePosition()}" class="sc-icon"></div>
}
    <span class="sc-dropdownbutton-text" data-bind="text: Text">
      @ClientHost.Globalization.Translate(Model.Text)
    </span>
    <div class="sc-dropdownbutton-toggler">
      <div class="sc-dropdownbutton-chevron" data-bind="css: { 'up': IsOpen() }"></div>
    </div>
  </button>
  <div data-bind="style: { display: IsOpen() ? 'block' : 'none'}, css: { right: DropPanelAlignment() === 'Right' }" class="sc-dropdownbutton-contentpanel default">
    <div class="sc-dropdownbutton-content">
      @Html.Raw(ClientHost.Web.PlaceHolder(Model.Id + ".Content").ToHtmlString())
    </div>
  </div>
</div>