﻿@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Globalization
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Resources
@using Sitecore.Web.UI
@using Sitecore.Web.UI.Controls.Common.JqueryUiUserControls
@model RenderingModel
@{
  var userControl = Html.Sitecore().Controls().GetJqueryUiUserControl(Model.Rendering);
  userControl.Class = "sc-listmanagementtreeview";
  userControl.Requires.Script("listmanager", "Listmanagementtreeview.js");
  var rootItemId = userControl.GetString("RootItem");
  var contentLanguage = userControl.GetString("ContentLanguage");
  var preLoadPath = userControl.GetString("PreLoadPath");

  var contentDatabase = userControl.GetString("ContentDatabase", "ContentDatabase", "master");
  
  Item rootItem = null;
  Database database = Database.GetDatabase(contentDatabase);
  if (!string.IsNullOrEmpty(rootItemId))
  {
      rootItem = database.GetItem(rootItemId, Language.Parse(contentLanguage));
  }

  if (rootItem == null)
  {
      rootItem = database.GetRootItem();
  }

  string rootItemIcon = Images.GetThemedImageSource(!string.IsNullOrEmpty(rootItem.Appearance.Icon) ? rootItem.Appearance.Icon : "Applications/16x16/documents.png", ImageDimension.id16x16);
  userControl.SetAttribute("data-sc-rootitem", rootItem.DisplayName + "," + rootItem.Database.Name + "," + rootItem.ID + "," + rootItemIcon);
  userControl.SetAttribute("data-sc-rootitempath", rootItem.Paths.Path);
  userControl.SetAttribute("data-sc-loadpath", preLoadPath);
  userControl.SetAttribute("data-sc-contentlanguage", contentLanguage);

  
  userControl.AddOptionAttribute("selectedItems");
  //userControl.AddOptionAttribute("preLoadPath");
  userControl.AddOptionAttribute("checkedItems");
  userControl.AddOptionAttribute("clickFolderMode");
  userControl.AddOptionAttribute("selectMode");
  userControl.AddBoolOptionAttribute("IsCheckboxEnabled", "checkbox");
  userControl.AddBoolOptionAttribute("showSitecoreIcons");
  userControl.AddBoolOptionAttribute("ShowHiddenItems", "showhiddenitems");

  var htmlAttributes = userControl.HtmlAttributes;
}
<div @htmlAttributes>
  <ul></ul>
</div>             
