﻿

.scResultBox {
    margin:12px 0;
    clear:both;
}

.scResultBox:first-of-type {
    margin-top: 0;
}

a.scResult {
  padding:10px;
  display:block;
  line-height:18px;
}

a.scResult:hover {
  background-color:#e3e3e3;
  text-decoration:none;
}

.scResult img {
  display:inline-block;
  vertical-align:top !important;
  margin:0 15px 0 0;
}

.scResultWrap {
display: inline-block !important;
}

.scResultHeader {
  font-weight:bold;
  font-size:14px;
}

.scField {
  font-weight:bold;
}

.scResultInfo {
}
.scNoFound {
  cursor:default;
}


.scSearchHeader {
  font-size: 18px;
  display:block;
}

.scSearchDescription {
  
}

.advancedSearch > tbody > tr > td:first-child {
    width:150px;
    padding:15px 0;
}

.advancedSearch > tbody > tr > td td {
    padding-right: 10px;
}


.advancedSearch tr:last-child  {
    margin-left: 150px;
}



.ie .lang_ja_jp .scSearchHeader,
.ie .lang_ja_jp .scSearchDescription {
  font-family: メイリオ, Meiryo, Microsoft YaHei, tahoma, sans-serif;
}


.scAdvSearchLink {
  margin-left:15px;
}