﻿div[data-sc-id=DetailsRow] {
  padding-top: 10px;
}

div[data-sc-id=DetailsRow] > div > div {
    clear: both;
}

div[data-sc-id=DetailsRow] span[data-sc-id=Type],
div[data-sc-id=DetailsRow] span[data-sc-id=PrimeEmailType],
div[data-sc-id=DetailsRow] span[data-sc-id=PrimePhoneType],
div[data-sc-id=DetailsRow] span[data-sc-id=PrimeAddressType] {
    display: block;
    float: left;
    width: 90px;
    color: #707070;
    clear: both;
}

div[data-sc-id=DetailsRow] span[data-sc-id=Value],
div[data-sc-id=DetailsRow] span[data-sc-id=PrimeEmailValue],
div[data-sc-id=DetailsRow] span[data-sc-id=PrimePhoneValue],
div[data-sc-id=DetailsRow] span[data-sc-id=PrimeAddressValue] {
    display: block;
    padding-left: 95px;
}

div[data-sc-id=RightDetailsColumn] > div > span:last-child {
    margin-bottom: 4px;
}

.sc-text-label, .sc-text-smalltitle, .sc-text-largetitle, .sc-text-value {
    display: block;
}

img[data-sc-id=MatchImage] {
    float: left;
}

div[data-sc-id=DetailsRow].row-fluid > div[data-sc-id=CenterDetailsColumn] {
    border-left: 1px solid #ccc;
    padding-left: 15px;
    padding-right: 5px;
}

div[data-sc-id=DetailsRow].row-fluid > div[data-sc-id=RightDetailsColumn] {
    border-left: 1px solid #ccc;
    padding-left: 15px;
}

span.sc-text[data-sc-id=FirstNameLabel],
span.sc-text[data-sc-id=MiddleNameLabel],
span.sc-text[data-sc-id=LastNameLabel],
span.sc-text[data-sc-id=TitleLabel],
span.sc-text[data-sc-id=GenderLabel],
span.sc-text[data-sc-id=BirthdayLabel] {
  display: block;
  float: left;
  width: 90px;
  color: #707070;
  clear: both;
}

span.sc-text[data-sc-id=FirstNameValue],
span.sc-text[data-sc-id=MiddleNameValue],
span.sc-text[data-sc-id=LastNameValue],
span.sc-text[data-sc-id=TitleValue],
span.sc-text[data-sc-id=GenderValue],
span.sc-text[data-sc-id=BirthdayValue] {
  display: block;
  padding-left: 95px;
}

div.sc-border[data-sc-id=TitleBorder] {
  padding-top: 10px;
}

div[data-sc-id=RightContactColumn] {
  padding-left: 16px;
}

div[data-sc-id=LeftContactColumn] > div,
div[data-sc-id=RightContactColumn] > div {
  float: left;
  width: 100%;
}

div[data-sc-id=LeftContactColumn] > div span:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div[data-sc-id=ContactDetailBorder] span[data-sc-id=Value] {
  overflow: hidden;
  text-overflow: ellipsis;
}