﻿@using Sitecore.Configuration
@using Sitecore.Data
@using Sitecore.ListManagement.Configuration
@using Sitecore.Mvc
@using Sitecore.Text
@using Sitecore.Web
@using Sitecore.Web.UI.Controls.Common.UserControls
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-segmentBuilder";

    var resolver = Html.Sitecore().Controls().GetParametersResolver(Model.Rendering);

    rendering.Requires.Script("listmanager", "SegmentBuilder.js");
    rendering.Requires.Css("listmanager", "SegmentBuilder.css");
    
    
    var requestId = HttpContext.Current.Request.QueryString["id"];
    var ruleXmlL = string.Empty;
    if (!string.IsNullOrEmpty(requestId))
    {
        Guid itemId;
        if (Guid.TryParse(requestId, out itemId))
        {

            var item = Factory.GetDatabase(ListManagementSettings.Database).GetItem(new ID(itemId));
            if (null != item)
            {
                ruleXmlL = item["Query"];
            }
        }
    }
    
    var url = new UrlString(Sitecore.Context.Site.XmlControlPage);
    url["xmlcontrol"] = "Sitecore.Shell.Applications.Analytics.SegmentBuilder";
    var handle = new UrlHandle();
    handle["value"] = ruleXmlL;
    handle.Add(url);
    rendering.Attributes["data-bind"] = "visible: isVisible";
    rendering.Attributes["data-sc-segmentbuilderurl"] = url.ToString();
    var controlId = rendering.ControlId;
    var htmlAttributes = rendering.HtmlAttributes;
}

<script data-layout-segmentbuilder-condition="@controlId" type="text/x-sc-segmentbuilder">
  <div class="sc-accordion sc-advancedExpander">
    <div class="sc-accordion-header sc-advancedExpander-header">
      <table>
        <tr>
          <td class="sc-accordion-header-title sc-advancedExpander-header-title">
            <div class="sc-accordion-header-cell sc-advancedExpander-header-cell">
              <span data-bind="text: conditionName"><%= conditionName %></span>
            </div>
          </td>
          <td class="sc-accordion-header-actionbar sc-advancedExpander-header-actionbar">&nbsp;</td>
          <td class="sc-accordion-header-chevron sc-advancedExpander-header-chevron">&nbsp;</td>
          @*<td class="sc-accordion-header-chevron sc-advancedExpander-header-chevron">
            <a href="#" class="sc-accordion-chevron-close-link sc-advancedExpander-chevron-close-link">
              <span class="sc-accordion-header-close-glyph sc-advancedExpander-header-close-glyph" title="@Sitecore.ClientHost.Globalization.Translate("Delete the condition")"></span>
            </a>
          </td>*@
          <td class="sc-accordion-header-chevron sc-advancedExpander-header-chevron">
            <a href="#" class="sc-accordion-chevron-link sc-advancedExpander-chevron-link">
              <span class="sc-accordion-header-chevron-glyph sc-accordion2-header-chevron-glyph-open sc-advancedExpander-header-chevron-glyph sc-advancedExpander2-header-chevron-glyph-open"></span>
            </a>
          </td>
        <tr>
        <tr>
          <td class="sc-accordion-header-promotedfields sc-advancedExpander-header-promotedfields" colspan="4"></td>
        </tr>
      </table>
    </div>
    <div class="sc-accordion-body sc-advancedExpander-body" data-bind="visible: isOpen">
      <div class="sc-advancedExpander-bodywrapper">
        <div class="row show-padding">
          <div class="col-md-7 pull-left sc-segmentbuilder-conditioncontent-left-field">
            <div class="col-md-8">
              <div class="sc-conditions"></div>
            </div>
            <div class="col-md-4 sc-align-right">
              <button type="button" class="btn sc-btn btn-default sc-segmentbtn sc-listmanagement-remove-condition pull-right">@Sitecore.ClientHost.Globalization.Translate("Remove")</button>
              <button type="button" class="btn sc-btn btn-default sc-segmentbtn sc-listmanagement-edit-rules pull-right">@Sitecore.ClientHost.Globalization.Translate("Edit")</button>
            </div>
          </div>
          <div class="col-md-5 pull-left sc-segmentbuilder-conditioncontent-right-field">
              <div class="sc-conditionsmatch"></div>
          </div>
        </div>
      </div>
      </div>
  </div>
</script>

<div @htmlAttributes>
    <div class="sc-border sc-align-center sc-segmentbuilderbody">
    </div>
</div>

<iframe style="display:none;" src="about:blank" id="SegmentBuilderFrame" class="sc-segmentBuilderFrame" hidden="hidden"></iframe>