﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Sitecore.Social.Client.MessagePosting.UI.Controls.MessagePostInfo" %>
<div class="scsocTopBoard">
    <p class="scsocTopBoardMessage">
        <asp:Literal ID="ltPostInfoMsg" runat="server" />
    </p>
</div>
