﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Sitecore.Social.Client.MessagePosting.UI.Controls.MessageContent" %>
<div id="divNetworkContent" runat="server" class="scsocMessageContent">
  <asp:Literal ID="ltMessage" runat="server" Mode="PassThrough" /></div>
