﻿.panelContentContainer {
  height: 100%;
  font-size: 11px;
  overflow-y: hidden;
  float: left;
  width: 280px;
  margin-left: 0.5em;
}

.panelCommandButtonsContainer {
  position: relative;
  float: left;
  width: 20px;
  height: 100%;
  margin-right: .4em;
}

.showPanelButton {
  position: absolute;
  bottom: 0;
  right: 0;
}

.showPanelButton,
.scRibbonPanelUp,
.scRibbonPanelDown {
  border: none;
  display: block;
  cursor: pointer;
  padding: 0 2px;
}

.showPanelButton:hover,
.scRibbonPanelUp:hover,
.scRibbonPanelDown:hover {
  background: #ccc;
}