﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@using Sitecore.Web.UI.Strategy.Common
@model RenderingModel
@{
  var userControl = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  userControl.Requires.Script("business", "AdvancedComboBox.js");
  userControl.Class = "sc-advancedcombobox";

  new AdvancedComboBoxStrategy(userControl).FillControlAttributes();
}
<div @userControl.HtmlAttributes data-bind="visible: isVisible">
  <select class="form-control hide" data-bind="enable: isEnabled, foreach: options">
    <!-- ko if: $parent.groupFieldName  -->
    <optgroup data-bind="attr: {label: groupName}, foreach: optionItems">
      <option data-bind="text: $root.getDisplayName($data), value: $root.getValue($data)"></option>
    </optgroup>
    <!-- /ko -->
    <!-- ko if: !$parent.groupFieldName() -->
    <option data-bind="text: $root.getDisplayName($data), value: $root.getValue($data)"></option>
    <!-- /ko -->
  </select>
</div>