﻿.scLinkTable {
}

.scLinkTable td {
  vertical-align:top;
  padding: 4px;
}

.scLinkIcon {
  width:24px;
  height:24px;
  margin:0px 4px 0px 0px;
}

.scLinkHeader {
  font-weight:bold;
}

.scLinkDetails {
  padding:2px 0px 0px 0px;
}

.scLinkDivider {
  background:#dddddd;
  margin:4px 0px 4px 0px;
}

/* Override dialog.css */
.scFormDialogFooter .footerOkCancel {
  position: static;  
  right: 0px;        
  top: 0px;          
  text-align: left;   
  float:right;
}