﻿@using Sitecore.Mvc
@model Sitecore.Speak.Components.Models.Structures.Page_Structures.Dialogs.DialogRenderingModel
<header class="sc-dialogHeader">
  @Html.Sitecore().Placeholder("DialogHeader")
</header>

<section class="sc-dialogContent">
  @Html.Sitecore().Placeholder("DialogContent")
</section>

@if (Model.ShowFooter)
{
  <footer class="sc-dialogFooter">
    @Html.Sitecore().Placeholder("DialogFooter")

    @*This placeholder is here just for backwords compatibility.
      Instead of using DialogHeader.Buttons, a DialogFooter component should be added to Dialog pages
      and the buttons should be placed in the DialogFooter.Buttons placeholder.*@
    <div class="sc-dialogFooter-content">
      <div class="sc-dialogFooter-content-buttons">
        @Html.Sitecore().Placeholder("DialogHeader.Buttons")
      </div>
    </div>
  </footer>
}
