﻿@using Sitecore
@model Sitecore.Speak.Components.Models.Common.TextBoxes.ButtonTextBoxRenderingModel
@{
  Model.Class.Append("sc-buttontextbox input-group");
  Model.DataBind.IsVisible()
  .Bind("attr", "{title: Tooltip() ? Tooltip : null }");
}
<div @Model.HtmlAttributes>  
  <input class="form-control"
         data-bind="enable:IsEnabled, value:Value, attr: { maxlength: MaxLength, readonly:IsReadOnly}"
         @Model.MaxLengthAttribute @Model.TypeAttribute placeholder="@Model.Watermark" value="@Model.Value" />
  <span class="input-group-btn">
    <button data-bind="enable:IsEnabled, click:clickHandler" class="btn sc-button btn-@Model.ButtonType.ToLowerInvariant()">
      @if (!string.IsNullOrEmpty(Model.Icon))
      {
        <div style="background-image:url('@Model.Icon'); background-position: @Model.SpritePosition;" data-bind="style: {'backgroundImage': 'url(' + Icon() + ')', 'backgroundPosition': SpritePosition}" class="sc-icon"></div>
      }
      @if (!string.IsNullOrEmpty(Model.ButtonText))
      {
        <span class="sc-button-text" data-bind="text:ButtonText">@Model.ButtonText</span>
      }
    </button>
  </span>
</div>