﻿@using Sitecore.Mvc
@using Sitecore.Web.UI.Controls.Common.UserControls
@model Sitecore.Mvc.Presentation.RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
  userControl.Class = "sc-popover";
  userControl.HasNestedComponents = true;
  userControl.Requires.Script("business", "Popover.js");

  var controlId = userControl.ControlId;

  var targetcontrol = userControl.GetString("TargetControl", "TargetControl");
  userControl.Attributes["data-sc-targetcontrol"] = targetcontrol;

  var trigger = userControl.GetString("Trigger", "Trigger");
  userControl.Attributes["data-sc-trigger"] = trigger;

  var placement = userControl.GetString("Placement", "Placement");
  userControl.Attributes["data-sc-placement"] = placement;

  var htmlAttributes = userControl.HtmlAttributes;
}

<div style="display:none">
  <div @htmlAttributes>
    @this.Html.Sitecore().Placeholder(controlId + ".Content")
  </div>
</div>