﻿@using Sitecore
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  userControl.Class = "sc-accountInformation";
  userControl.Requires.Script("business", "AccountInformation.js");

  var htmlAttributes = userControl.HtmlAttributes;
  
  var user = ClientHost.Context.User;
  
  var name = user.Profile.FullName;
  if (string.IsNullOrEmpty(name))
  {
    name = user.LocalName;
  }

  var portraitUrl = user.Profile.Portrait;

  var LogoutLocalizedText = ClientHost.Globalization.Translate("Logout");
}
<ul @htmlAttributes>
  <li><a class="logout" href="/api/sitecore/Authentication/Logout?sc_database=master">@LogoutLocalizedText</a></li>
  <li>
    @name
    @if (!string.IsNullOrEmpty(portraitUrl))
    {
      <img src="/~/icon/@portraitUrl" />
    }
</li>
</ul>