﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);    
  var showFooter = userControl.GetBool("ShowFooter");  
}
<header class="sc-globalHeader">
  @Html.Sitecore().Placeholder("GlobalHeader")
</header>
  
<section class="sc-applicationContent">
  @Html.Sitecore().Placeholder("ApplicationContent")
</section>

@if (showFooter) {
    <footer class="sc-globalFooter">
      @Html.Sitecore().Placeholder("GlobalFooter")
    </footer>
}