<%@ Page Language="C#" AutoEventWireup="true" Codebehind="InstallUpdatePackage.aspx.cs"
   Inherits="Sitecore.Update.InstallUpdatePackage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
   <title>Untitled Page</title>
</head>
<script type="text/javascript">

</script>
<body>
   <form id="form1" runat="server">
      <asp:Label ID="lblError" CssClass="Error" Visible="false" runat="server"></asp:Label>
   </form>
</body>
</html>
