﻿[data-sc-id="IconBorder"] {
    float: left;
    width: 48px;
    height: 48px;
}

[data-sc-id="DialogNameText"] {
    font-size: 16px;
    font-weight: 400;
    display: block;
}

[data-sc-id="DialogDescriptionText"] {
    display: block;
}

[data-sc-id="CommandButtonsBorder"] {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

[data-sc-id="InsertOptionsBorder"] {
    height: 350px;
}

[data-sc-id="InsertOptions"] {
    background-color: #ffffff;
    overflow-y: auto;
    max-height: 100%;
}

[data-sc-id="ItemNameText"] {
  width: 93%;
  display: inline-block;
  padding-left: 7px;
}

[data-sc-id="ItemNameBorder"] {
    padding-left: 10px !important;
}