﻿@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@using Sitecore
@model RenderingModel

@{
  var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
  rendering.Class = "sc-Section";  
  var id = this.Model.Item.ID.ToShortID().ToString();
  rendering.SetAttribute("id", id);
  
  var htmlAttributes = rendering.HtmlAttributes; 
  Item dataSourceItem = null;

  if (rendering.DataSource != null)
  {
      dataSourceItem = ClientHost.Items.GetItem(rendering.DataSource);
  }
}      
<section @htmlAttributes>
  @{

    var title = "";
    var subTitle = "";
    var content = "";

    if (dataSourceItem != null && dataSourceItem.Fields.Count > 0)
    {
        if (dataSourceItem.Fields["Title"] != null)
        {
            title = dataSourceItem.Fields["Title"].ToString();
        }
        if (dataSourceItem.Fields["SubTitle"] != null )
        {
            subTitle = dataSourceItem.Fields["SubTitle"].ToString();
        }
        if (dataSourceItem.Fields["Content"] != null)
        {
            content = dataSourceItem.Fields["Content"].ToString();
        }
    }
  }
   @if(!string.IsNullOrEmpty(title)){
       <h2  class="sc-section-title">@title</h2>
   }
   @if (!string.IsNullOrEmpty(subTitle))
   {
       <h5 class="sc-section-subTitle">@subTitle</h5>
   }
    @if (!string.IsNullOrEmpty(content))
    {
        <p class="sc-section-content">@Html.Raw(content)</p>
    }
    else
    {
        @Html.Sitecore().Placeholder(rendering.ControlId + ".Content")
    }
</section>