﻿#Container
{
  overflow: auto;
}

.no-variations
{
  height:100%;
  width: 100%;
  vertical-align:middle;
  text-align:left;
}

.no-variations-headline 
{
  display: block;
  color: #333;
  margin: 48px 32px 0px 32px;
  font-weight: bold;
}

.no-variations-text
{
  display: block; 
  color: #333;
  
  margin: 16px 32px;
}

.collapsible-panel .panel
{
  background-color: #E9E9E9;
  padding: 16px 0px;
  border-bottom: 1px solid #afafaf;
}

table.top-row
{
  width: 100%; 
  margin: 0 0 0 15px;
}

table.top-row .left, table.top-row .right
{
  padding: 0 8px 5px;
  vertical-align: middle;
}

table.top-row td.right
{
  width: 180px;
  text-align: center;
}

table.top-row + div {
    min-height: 15px;
    padding: 0 0 0 15px;
}

.display-component-title
{
  padding-left: 4px;  
}

.search-field
{
  border: 1px solid;
  background-color: White;
  min-height: 20px;
  line-height: 18px;
  background-position: 2px 3px;
  background-repeat: no-repeat;
  overflow: hidden;
  border-color: #999999;
}

.search-field input
{
	margin:0px;
	width:90%;
	border:none;
}

.search-field .search-results ul
{
	list-style-type: none;	
	cursor:pointer;
	padding:0px;
	background-color:#ffffff;
	border:solid 1px;margin:0px;
}



.search-field .search-results li
{
	padding-left:5px;
}

.search-field .search-results li:hover
{
	background-color:#D5EFFC;
}

.search-field .search-results
{
	width:100%;
}

.search-field .pick-button
{
	background-image:url('/sitecore/shell/Themes/Standard/Images/right16x16_d.png');
	background-repeat:no-repeat;
	background-position:2px;
}

.item-picker
{
  border: 1px solid;
  background-color: White;
  height: 20px;
  line-height: 20px;
  background-position: 2px 3px;
  background-repeat: no-repeat;
  padding-left: 20px;
  overflow: hidden;
  border-color: #999999;
}

.default-values .item-picker
{
  font-style: italic;
  color: #666666;
}

.display-off .item-picker
{
  background-color: #f1f1f1;
  color: #999999;
}

.display-off .search-field
{
	display:none;
}

.display-off .item-picker
{
  border-color: #cdcdcd;
}

.pick-button, .display-off .pick-button:hover
{ 
  width: 19px;
  text-align: center;
  height: 20px;
  float: right;
  border: none;
  border-left: 1px solid; 
  border-color: #999999;
  background-color: #cfcfcf; 
  outline: none;
  margin-left: 2px;
}
 
.default-values .reset-button
{
  display: none;
}

.reset-button,  .display-off .reset-button:hover
{
  width: 16px;
  height: 20px;  
  background: transparent url('/sitecore/shell/Themes/Standard/Images/Progress/globalsearch_close.png') no-repeat center center;
  outline: none;
  text-decoration: none;
  margin-left: 2px;
  cursor: default;
  float: right;
}

.reset-button:hover
{
  background-image: url('/sitecore/shell/Themes/Standard/Images/Progress/globalsearch_close_H_blue.png');
  cursor: pointer;  
}

.pick-button:hover
{  
  background-color: #D5EFFC;
  border-left: 1px solid #99DEFD;
  text-decoration: none;
}

.display-off .pick-button, .display-off .pick-button:hover
{
  cursor: default;
  border-color: #cdcdcd;
}

.thumbnail-container
{
  height: 136px;
  background-color: White;
  border: 1px solid #999;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: none;
}

.display-off .thumbnail-container
{
  opacity: 0.35;
  filter: alpha(opacity=35);   
}

tr.component-row .test-title
{
  padding-top: 8px;
}

.hide-test-component .component-row
{
  display: none;
}

td.cross-piece
{
  height: 10px;
}

.ff td.cross-piece
{
  height: 2px;
}

.ff.wk td.cross-piece
{
  display: none;
}

#ResetContainer
{
  float:left;
  padding-top: 4px;
}

.scSetDetailsTopOption {
    height: 45px;
}

.scSetDetailsVariations {
    height: calc(100% - 45px);
}