﻿@using Sitecore.Speak.Components.Models.Common.ComboBoxes
@model Sitecore.Speak.Components.Models.Common.ComboBoxes.DropListRenderingModel
@{
  Model.Class.Append("form-control sc-droplist"); // the class will change to sc-droplist
  Model.DataBind.IsVisible().IsEnabled().Options("DynamicData").OptionsText("getDisplayName").OptionsValue("getValue").Value("SelectedValue");
}
<select @Model.HtmlAttributes>
@foreach (var opt in Model.StaticData)
{<option @Model.GetSelected(opt) value="@Model.GetValue(opt)">@Model.GetDisplayName(opt)</option>}
</select>

