﻿@model Sitecore.Speak.Components.Models.Common.HyperlinkButtons.HyperlinkButtonRenderingModel
@{
  Model.Class.Append("sc-hyperlinkbutton")
    .AppendIf(Model.IsButtonMode, "btn btn-default");

  Model.DataBind
    .IsVisible()
    .Bind("css", "{ disabled: !IsEnabled(), 'btn btn btn-default': IsButtonMode(), 'icon': Icon()!='' }")
    .Bind("attr", "{ href: NavigateUrl}");
}
<a @Model.HtmlAttributes target="@Model.Target" href="@Model.NavigateUrl">
<div style="background-image:url('@Model.Icon'); background-position: @Model.SpritePosition;" data-bind="style: { 'backgroundImage': 'url(' + Icon() + ')', 'backgroundPosition': SpritePosition() }" class="sc-icon"></div>
<span class="sc-hyperlink-text" data-bind="text: Text">@Model.Text</span></a>