﻿body {
  margin: 0;
}

iframe.scSpeakWebEditRibbon {
  top: 0;
  overflow-y:visible;
  left: 0;
}

.scChromeName {
  background-color: #474747;
  margin-left: -3px;
  margin-right: -3px;
  margin-top: -1px;
  padding-top: 9px !important;
  padding-left: 11px !important;
  padding-right: 14px !important;
  padding-bottom: 7px !important;
  background: #474747;
  color: #ffffff;
}

.commandRow {
  background-color: #f0f0f0;
}

span.scChromeText {
  color: rgb(255, 255, 255) !important;
  padding: 2px;
}

.scChromeComboButton.scDdExpanded .scChromeCommand.scExpandDropdown,
a.scChromeCommand:link {
  background: none;
}

.scChromeDropDown a.scChromeDropDownRow:hover,
.scChromeComboButton:hover, 
.scChromeComboButton.scDdExpanded,
a.scDisabledCommand, 
a.scDisabledCommand:link, 
a.scDisabledCommand:hover, 
a.scDisabledCommand:active,
a.scChromeCommand.scDdExpanded,
a.scChromeCommand:active,
a.scChromeCommand:hover,
a.scExpandDropdown:hover {
  background-image: none !important;
  background: rgb(227, 227, 227);
  border-color: rgb(227, 227, 227);/* #cccccc;*/
}

.scChromeControls *, .scChromeDropDown *, .scSortingHandle, .scInsertionHandle {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
}

.scChromeControls
{  
  min-height: 69px;
}

.scChromeToolbar
{
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  border: 1px #ccc;
  height: 70px;
}

.scChromeControls, .scChromeDropDown {
  border: solid 1px #ccc;
  background: #ffffff;
}

.scChromeDropDown a.scChromeDropDownRow span {
  margin-left: 14px !important;
}

.scChromeDropDown a.scChromeDropDownRow:hover,
.scChromeDropDownRow {
  padding-top: 12px !important;
  padding-left: 11px !important;
  padding-right: 14px !important;
  padding-bottom: 9px !important;

  border: 1px transparent;
}

#commandRow {
  padding-top: 4px;
}

.scTitleArea.scDdExpanded,
.scItemsList .scActiveListItem,
.scItemsList .scActiveListItem:hover {
  background-image: none !important;
  background: rgb(208, 235, 246);
  background-color: rgb(208, 235, 246);
  border: 1px transparent;
}

.scPrev:hover, .scNext:hover, .scPrevNextContainer:hover .scPrev:hover, .scPrevNextContainer:hover .scNext:hover,
.scTitleArea.scDdExpanded:hover,
.scTitleArea:hover,
a.scEditButton:hover,
.scItemsList .scListItem:hover {
  background-image: none !important;
  background: rgb(227, 227, 227);
  border-color: rgb(227, 227, 227);
}

.scTitleArea.scDdExpanded,
.scTitleArea.scDdExpanded:hover {
  border: 1px transparent;
  padding: 0px 3px !important;
}
