﻿@using Sitecore.Configuration
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Names
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
  userControl.Requires.Script("business", "uploaderinfo.js");
  userControl.Class = "sc-uploaderInfo";

  var controlId = userControl.ControlId;
  var htmlAttributes = userControl.HtmlAttributes;
 
  var showNameField = userControl.GetBool("showNameField", "ShowNameField", true) ? "initial" : "none";
  var showDescriptionField = userControl.GetBool("showDescriptionField", "ShowDescriptionField", true) ? "initial" : "none";
  var showAlternateTextField = userControl.GetBool("ShowAlternateTextField", "ShowAlternateTextField", true) ? "initial" : "none";
}
<script data-layout-uploaderInfo="@controlId" type="text/x-sc-uploaderInfo">
</script>

<script data-layout-uploaderInfo-info="@controlId" type="text/x-sc-uploaderInfo"> 

  <div class="sc-uploaderInfo-row" data-bind="css: { error: error }">
    <div class="sc-uploaderInfo-row-preview col-md-4">
      <div class="sc-uploaderInfo-row-preview-item-wrap">
        <div class="sc-uploaderInfo-row-preview-item">
          <img data-bind="attr: { src: image }" />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <form class="form-horizontal">
        <div class="control-group" style="display:@showNameField">
          <label class="control-label" for="name">@Sitecore.ClientHost.Globalization.Translate("Name"):</label>
          <div class="controls">
            <input class="form-control" name="name" data-bind="value: name" type="text">
          </div>
        </div>
        <div class="control-group" style="display:@showDescriptionField">
          <label class="control-label" for="description">@Sitecore.ClientHost.Globalization.Translate("Description"):</label>
          <div class="controls">
            <textarea class="form-control"  name="description" data-bind="value: description"></textarea>
          </div>
        </div>
        <div class="control-group" style="display:@showAlternateTextField">
          <label class="control-label" for="alternate">@Sitecore.ClientHost.Globalization.Translate("Alternate Text"):</label>
          <div class="controls">
            <input class="form-control"  name="alternate" data-bind="value: alternate" type="text">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 sc-uploaderInfo-action">
      <div class="sc-uploaderInfo-extra">
        <div class="sc-uploaderInfo-extra-status">
          <div class="ready">
            <p>
                @Sitecore.ClientHost.Globalization.Translate(Texts.ReadyToUpload)
            </p>
          </div>
          <div class="progress hide">
            <div class="bar" data-bind="style: { width: percentage() + '%' }"></div>
          </div>
          <div class="completed hide">
            <p>
                @Sitecore.ClientHost.Globalization.Translate(Texts.UploadCompleted)
            </p>
          </div>
          <div class="failed hide">
            <p>
                @Sitecore.ClientHost.Globalization.Translate(Texts.UploadFailed)
            </p>
          </div>
        </div>
        <div class="sc-uploaderInfo-extra-action">
          <button class="btn sc-button btn-default remove">
            @Sitecore.ClientHost.Globalization.Translate("Remove")
          </button>
        </div>
      </div>
      <div class="sc-uploaderInfo-imageDetails">
        <p data-bind="text:fileSize"></p>
        <p data-bind="text:type"></p>
      </div>
    </div>
  </div>   

</script>
<div  @htmlAttributes>
</div>
