﻿@using System.Web.UI.WebControls
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Text
@model Sitecore.Speak.Components.Guidance.Models.ComponentReferences.ComponentReferenceRenderingModel
<script type="text/javascript">
  rendering = {
    itemName: "@Model.ItemName",
    testFileName: "@Model.TestFileName"
  };
</script>

<div @Model.HtmlAttributes>
  <p>
    @Model.Subtitle
  </p>
  <p>
    @Html.Raw(@Model.Text)
  </p>

  <div>
    <a href="#DesignTimeProperties">Design Time Properties</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#RunTimeProperties">Run Time Properties</a>&nbsp;&nbsp;&nbsp;&nbsp;
    @*<a href="#PublicMethods">Component Public Methods</a>&nbsp;&nbsp;&nbsp;&nbsp;*@
    <a href="#Resources">Resources</a>
  </div>
  @{
    if (!Model.ItemId.Equals("{DE943A70-61A4-4D27-A166-C79A5BC9683A}"))
    {
      @Html.RenderView(@Model.ItemId, new { Id = "ReferenceComponent", IsVisible = false, PlaceHolder="Page.Body" })
    }
  }
  
  <section>
    <h2><a id="DesignTimeProperties"></a>Design Time Properties</h2>
    <p>This section displays the @Model.ItemName component properties avaialable at design time.</p>
    <table class="table table-bordered table-hover table-condensed">
      <thead>
        <tr>
          <th>
            Section
          </th>
          <th>
            Property
          </th>
          <th>
            Description
          </th>
          <th>
            Type
          </th>
          <th>
            Binding Mode
          </th>
          <th>
            Default Value
          </th>
        </tr>
      </thead>
      <tbody>
        @if (@Model.Template != null)
        {
          foreach (var templateSection in @Model.Template.Fields.GroupBy(f => f.Section.Name).Select(g => new { Name = g.Key, Fields = g.OrderBy(f => f.DisplayName) }).OrderBy(g => g.Name))
          {
            var first = true;

            foreach (var field in templateSection.Fields.OrderBy(f => f.Name))
            {
              var templateItem = new TemplateItem(field.InnerItem.Parent.Parent);
              var source = new UrlString(field.Source);
              var bindMode = source["bindMode"];

              if (string.IsNullOrEmpty(bindMode))
              {
                bindMode = "readwrite";
              }

              if (!templateItem.BaseTemplates.Any())
              {
                continue;
              }

              if (first)
              {
                <tr class="info">
                  <td>@templateSection.Name</td>
                  <td colspan="5"></td>
                </tr>
              }

              first = false;
              var defaultValue = @Model.DefaultParameters.Parameters[@field.Name] ?? string.Empty;
              <tr>
                <td>
                  
                </td>
                <td>
                  @field.Name
                </td>
                <td>
                  @field.ToolTip
                  @if (this.Session["SC_EDIT"] as string == "1")
                  {
                    <a href="@Model.ItemPathLink"><img src="/sitecore/shell/themes/standard/images/smarttag.png" width="11" height="11" alt="Edit" /></a>
                  }
                </td>
                <td>
                  @field.Type
                </td>
                <td>
                  @bindMode
                </td>
                <td>
                  @defaultValue
                </td>
              </tr>
            }
          }
        }
      </tbody>
    </table>

    <h2 id="RunTimeProperties">Run Time Properties</h2>
    <p>This section displays the @Model.ItemName component properties avaialable at run time.</p>
    <table id="modelMembers" class="table table-bordered table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>
            Name
          </th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    @*<h2 id="PublicMethods">Component Public Methods</h2>

      <table id="publicMethodsMembers" class="table table-bordered table-striped table-hover table-condensed">
          <thead>
              <tr>
                  <th>
                      Name
                  </th>
              </tr>
          </thead>
          <tbody></tbody>
      </table>*@
    <h2><a id="Resources"></a>Resources</h2>
    <p>
      This section displays implementation details related to this control.
    </p>
    <dl>
      <dt>Rendering Item</dt>
      <dd><a href="@Model.ItemPathLink" target="_blank">@Model.ItemPath</a><p/></dd>
      <dt>Rendering Item ID</dt>
      <dd>@Model.ItemId<p /></dd>
      <dt />
      <dt>Placeholders Field</dt>
      <dd>@Model.PlaceHolders<p /></dd>
      <dd />
      <dt>Path Field</dt>
      <dd><a href="@Model.FileName" target="_blank">@Model.PathField</a><p /></dd>
      <dd />
      <dt>File</dt>
      <dd><a href="@Model.FileName" target="_blank">@Model.LocalFileName</a><p /></dd>
      <dd />
      <dt>Component Usage (from Link Database)</dt>
      <dd>@Model.Usages place(s)<p /></dd>
    </dl>
  </section>
</div>