﻿@using Sitecore.Mvc

  <div class="sc-dialogHeader">
    <div class="sc-dialogHeader-content">
      <div class="sc-dialogHeader-title">
        @Html.Sitecore().Placeholder("DialogHeader.Navigation")
        @Html.Sitecore().Placeholder("DialogHeader.Title")
      </div>

      <div class="sc-dialogHeader-actions">
        @Html.Sitecore().Placeholder("DialogHeader.Actions")
      </div>

      <div class="sc-dialogHeader-close">
        @Html.Sitecore().Placeholder("DialogHeader.Close")
      </div>
    </div>
  </div>



