﻿@model Sitecore.Speak.Components.Models.Common.Images.ImageRenderingModel
@{
  Model.NoScript();
  Model.Class.Append("sc-image");
  Model.DataBind.IsVisible();
  Model.DataBind.Bind("css", "{ small: Height() < 48 || Width() < 48 }");
}
<div class="sc-image-container" @Model.HtmlAttributes>
  <img data-bind="attr: { src: ImageUrl, alt: Alt, width: Width() ? Width : null, height: Height() ? Height : null, title: Tooltip() ? Tooltip : null }"
       src="@Model.ImageUrl" alt="@Model.Alt" width="@Model.Width" height="@Model.Height" title="@Model.Tooltip"
       onload="this.parentNode.classList.toggle('show-default-image', this.getAttribute('src') === '/sitecore/images/blank.gif')"/>
</div>
