.scNavigator
{
  white-space: nowrap;
}

.scNavigator *:hover {
  text-decoration: none;
  background-color: #e3e3e3;
}

.scNavigatorItem,
.scNavigatorPrevious,
.scNavigatorActiveItem,
.scNavigatorItem, 
.scNavigatorNext {
display: inline-block;
padding: 10px;
border: 1px solid #e3e3e3;
border-left:none;
line-height: 10px;
}

.scNavigatorPrevious {
  border-left: 1px solid #e3e3e3;
}

.scNavigatorActiveItem
{
  background-color:#D0EBF6;
  font-weight:bold;
}


