.sc-breadcrumb
{
  background: #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7f7f7), color-stop(1, #ebebeb));
  background: -ms-linear-gradient(bottom, #f7f7f7, #ebebeb);
  background: -moz-linear-gradient(center bottom, #f7f7f7 0%, #ebebeb 100%);
  background: -o-linear-gradient(#ebebeb, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#f7f7f7', GradientType=0);
  border-bottom: 1px solid #cccccc;
  padding: 0 1em;
}

#breadcrumbMenuSubcontrol_context_menu nav.sc-breadcrumb{
  height: auto;
}

nav.sc-breadcrumb {
  height: 50px;
}

  .sc-breadcrumb:after
  {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

a.scContentButton
  {
    color: #DC291E;
    white-space: nowrap;
    display: inline-block;
    padding: 4px 5px 0 5px;
  }

.scContentButton:first-child
  {
    padding-left: 0;
  }

.scContentButton:last-child
  {
    border-right: 0 !important;
  }

a.scContentButton:hover, a.scContentButton:active
    {
      text-decoration: underline;
      background: none;
      border: 0;
    }

a.scContentButtonDisabled
  {
    color: #999999;
    cursor: default;
  }

  .sc-breadcrumb .sc-breadcrumb-item
  {
    float: left;
    padding: .2em .5em .5em 0;
    text-decoration: none;
  }

    .sc-breadcrumb .sc-breadcrumb-item:after
    {
      visibility: hidden;
      display: block;
      font-size: 0;
      content: " ";
      clear: both;
      height: 0;
    }

  .sc-breadcrumb .sc-breadcrumb-item-action,
  .sc-breadcrumb .sc-breadcrumb-item-path
  {
    display: block;
    float: left;
    border: 1px solid transparent;
    padding: .25em;
    text-decoration: none;
    color: #2B2B2B;
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    margin-top: 0.3em;
  }

  #breadcrumbMenuSubcontrol_context_menu .sc-breadcrumb .sc-breadcrumb-item-path{
    padding: 5px 5px 5px 5px;
    margin-top: 0;
  }

  #navigationTreeViewButton {
    padding-bottom: 0.7em;
    padding-top: 0.7em;
    margin-top: 0.3em;
  }

    .sc-breadcrumb-item-rectangle,
    .sc-breadcrumb .sc-breadcrumb-item-action:hover,
    .sc-breadcrumb .sc-breadcrumb-item-path:hover
    {
      background: #f2f4f8;
      background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fcfcfc), color-stop(1, #eef1f6));
      background: -ms-linear-gradient(bottom, #fcfcfc, #eef1f6);
      background: -moz-linear-gradient(center bottom, #fcfcfc 0%, #eef1f6 100%);
      background: -o-linear-gradient(#eef1f6, #fcfcfc);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef1f6', endColorstr='#fcfcfc', GradientType=0);
      border: 1px solid #cbcdd1;
    }

      .sc-breadcrumb-item-rectangle img
      {
        padding-right: 4px;
      }

.sc-breadcrumb-item-path.disabled
{
  opacity: .4;
  cursor: default;
}

.sc-breadcrumb-item-button
    {
      display: inline-block;
      padding: 3px;
      margin-left: 7px;
      border: 1px solid rgba(0,0,0,0);
    }

    .sc-breadcrumb-item-button:hover
    {
      border-color: #cbcdd1;
    }
