a.sc-hyperlinkbutton[data-sc-id=FacebookLinkValue],
a.sc-hyperlinkbutton[data-sc-id=GooglePlusLinkValue] {
  width: 105%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

a.sc-hyperlinkbutton[data-sc-id=FacebookLinkValue]:hover,
a.sc-hyperlinkbutton[data-sc-id=GooglePlusLinkValue]:hover {
  width: 105%;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  overflow: visible;
}

div[data-sc-id=TwitterRecentActivityPanel],
div[data-sc-id=GooglePlusRecentActivityPanel] {
  margin-top: 15px;
}
