﻿.ProfileCardContainer{
  float: left;
  border-style: solid;
  border-width: 1px;
  border-color: #C2C2C2;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 3px;
}

/*.ProfileCardContainer:hover {
  border-width: 2px;
}*/

#assignProfileCardsLink {
    color: blue;
}
