﻿@model Sitecore.Speak.Components.Models.Common.ActionControls.ActionControlRenderingModel
@{
  Model.Class.Append("sc-actionpanel");
  Model.DataBind.IsVisible();
}
<div style="float:right;" @Model.HtmlAttributes>
  <div style="display:none" class="sc-actionpanel-popup" data-bind="visible:IsOpen, click: toggleIsOpen"></div>
  <ul role="menu" class="nav">
    <li>
      <div class="icon-group" data-bind="foreach: Favorites">
        <!-- ko if: IsIcon -->
        <a class="btn btn-default mainButton noText" href="javascript:;" data-bind="attr: { title: Tooltip().length > 0 ? Tooltip : Text }, css: { disabled: !IsEnabled() || !$parent.IsEnabled() }">
          <div class="sc-icon" data-bind="click:invoke, enable: IsEnabled, style: { backgroundImage: 'url(\'' + $data.ImageUrl() + '\')', backgroundPosition: $data.BackgroundPosition() }">
          </div>
        </a>
        <!-- /ko -->
      </div><div class="btn-group" data-bind="foreach: Favorites">
        @*!!! Please leave NO SPACE BETWEEN THE 2 DIVs, see here: http://css-tricks.com/fighting-the-space-between-inline-block-elements/ !!!*@
        <!-- ko ifnot: IsIcon -->
              <button class="btn btn-default" href="javascript:;" data-toggle="tooltip" data-bind="click: invoke, attr: { title: Tooltip().length > 0 ? Tooltip : Text }, enable: IsEnabled() && $parent.IsEnabled()">
                <span data-bind="text: Text"></span>
              </button>
        <!-- /ko -->
      </div>
    </li>
    <li role="menuitem">
      <div class="dropdown">
        <a class="btn btn-default mainButton @Model.NoTextClass" data-bind="click: toggleIsOpen, clickBubble: false, css: { disabled: !IsEnabled() }">
          <span class="dropdown-text" data-bind="text:Text">@Model.Text</span>
          <div class="sc-dropdownbutton-toggler">
            <div class="sc-dropdownbutton-chevron" data-bind="css: { 'up': IsOpen() }">

            </div>
          </div>
        </a>
        <div role="menu" class="sc-foldout dropdown-menu open data-sc-registered" data-bind="visible: IsOpen">
          <div class="sc-foldout-content">
            <table class="sc-actionControl-foldout-grid">
              <tbody>
                <tr>
                  <td data-bind="foreach: ActionColumns">
                    <ul>
                      <!-- ko foreach: ActionGroups -->
                      <li class="nav-header"></li>
                      <!-- ko foreach: ActionLinkModels -->
                      <li data-bind="css: { disabled: !IsEnabled()}" class="iconify sc-actionMenu-item">
                        <a data-bind="click:invoke" tabindex="$index" href="#">
                          <div class="sc-icon" data-bind="style: { backgroundImage: 'url(\'' + $data.ImageUrl() + '\')', backgroundPosition: $data.BackgroundPosition() }"></div>
                          <div data-bind="text:Text" class="sc-action-text"></div>
                        </a>
                        <a data-bind="click: togglefavorite, clickbubble: false, css: {selected: IsFavorite(), disabled: !IsFavoriteIconEnable() }" class="favorite-icon" href="#"></a>
                      </li>
                      <!-- /ko -->
                      <!-- /ko -->
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>