﻿.scEnabledChromeComponentTest {
    border-color: red;
    border-style: solid;
}

.scEnabledChromePersonalizationTest {
    border-color: red;
    border-style: solid;
}

.scEnabledChromePageVersionTest {
    border-color: red;
    border-style: solid;
}