﻿#profileCardsList {
    overflow-y: auto;
    width: 100%;
    padding-left: 5px;
    max-height: 88px;
}

[data-sc-id="EditProfilesBorder"] {
    position: absolute;
    bottom: 5px;
    right: 5px;
}