﻿[data-sc-id="MessageIcon"] {
  position: absolute;
  top: 70px;
}

[data-sc-id="MessageBody"] {
  font-size: 1.167em;
  color: #131313;
  line-height: 1.42857143;
  margin-left: 71px !important;
  display: block;
  max-height: 100px;
  overflow: auto;
  max-width: 305px;
}

.dialog-content {
  display: table-cell;
  vertical-align: middle;
}

