﻿.sc { 
div.sc-demoComponentPanel {
    padding: 15px 0 15px 0;
  }

  div.sc-demoComponentPanel .description {
    white-space: normal
  }

  div.sc-demoComponentPanel .demo {
    border: @SC-Border;    
    .sc-rounded-corners(4px);
    background-color: @SC-Theme-Basic-XXX-Light;    
  }

  div.sc-demoComponentPanel .content {
    padding: 15px;
  }

  div.sc-demoComponentPanel .config {
    padding: 15px 0 15px 0;
    background-color: @SC-Theme-Basic-X-Light;
  }

  div.sc-demoComponentPanel .config ul {
    margin-bottom: 0;
    margin-left: -10px;
  }

  .sc-separator.separator {
    margin-top: 0;
    margin-bottom: 0;
  }
}