﻿@using Sitecore
@model Sitecore.Speak.Components.Guidance.Models.DemoComponentPanels.DemoComponentPanelRenderingModel

@{
  Model.Class.Append("sc-demoComponentPanel");
  Model.DataBind.IsVisible().Bind("attr", "{title: Tooltip() ? Tooltip : null }"); 
}
<div @Model.HtmlAttributes>
  <div class="sc-text xx-large">
    @Model.Title
  </div>
  <div class="description sc-text.medium">
    @Model.Description
  </div>
  <div class="demo">
    <div class="content">
      @Html.Raw(ClientHost.Web.PlaceHolder(Model.ControlId + ".Content").ToHtmlString())
    </div>
    @if (@Model.Configuration != null && @Model.Configuration.Count > 0)
    {
      <hr class="sc-separator separator" />
      <div class="config">
        <ul>
          @{
            foreach (string key in @Model.Configuration)
            {
              <li class="sc-text small">@key: @Model.Configuration[key]</li>
            }
          }
        </ul>
      </div>
    }
  </div>
</div>