﻿/* Project section */

.scProjectSection,
.scProjectSection:link,
.scProjectSection:active,
.scProjectSection:hover,
.scProjectSection_hover,
.scProjectSection:visited,
.scProjectSectionActive,
.scProjectSectionActive:link,
.scProjectSectionActive:active,
.scProjectSectionActive:hover,
.scProjectSectionActive_hover,
.scProjectSectionActive:visited {
    cursor: default;
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 4px 4px 4px;
}

/* Selection button */

.scFlatButton,
.scFlatButton:link,
.scFlatButton:visited,
.scFlatButtonActive {
    display: block;
    border: 1px solid #dcdcdc;
    padding: 2px 4px 4px 4px;
    margin: 4px 2px 2px 2px;
}

    .scFlatButton:active,
    .scFlatButton:hover,
    .scFlatButton_hover,
    .scFlatButtonActive:link,
    .scFlatButtonActive:active,
    .scFlatButtonActive:hover,
    .scFlatButtonActive_hover,
    .scFlatButtonActive:visited {
        display: block;
        background: #EDB078;
        border: 1px solid #dcdcdc;
        padding: 2px 4px 4px 4px;
        margin: 4px 2px 2px 2px;
    }

    .scFlatButton:active,
    .scFlatButton:hover,
    .scFlatButton_hover,
    .scFlatButtonActive:link,
    .scFlatButtonActive:active,
    .scFlatButtonActive:hover,
    .scFlatButtonActive_hover,
    .scFlatButtonActive:visited {
        border: 1px solid #999999;
    }

.scInstallerDesignerContainer {
    height: 100%;
    width: 100%;
}

.ie .scInstallerDesignerContainer {
    height: auto;
}

.scFlatButtonHeader {
    font-weight: bold;
    text-decoration: none;
}

.scGroup {
    border: 1px solid #dcdcdc;
    padding: 4px;
    background: f8f8f8;
}

    .scGroup legend {
        font-weight: bold;
    }

.scInstallerField {
    background: white;
    border: 1px solid #dcdcdc;
    color: black;
    font: 10pt verdana;
    width: 100%;
}

.scInstallerField_Active {
    background: white;
    border: 1px solid activecaption;
    color: black;
    font: 10pt verdana;
    width: 100%;
}

.scInstallerFieldPair {
    margin-top: 5px;
}

/* Sources TreeView */

.scInstallerTreeNode TD,
.scInstallerTreeNode A,
.scInstallerTreeNode A:visited {
    cursor: hand;
    color: black;
    font-family: Tahoma;
    padding: 1px 0px 1px 1px;
    text-decoration: none;
}

    .scInstallerTreeNode A:active {
        color: red;
        text-decoration: underline;
    }

    .scInstallerTreeNode A:hover {
        cursor: hand;
        cursor: pointer;
        text-decoration: underline;
        font-family: Tahoma;
        padding: 1px 0px 1px 1px;
    }

.scInstallerPager, .scInstallerCurrentPage {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: inline-block;
    text-align: center;
    line-height: 24px;
    border: 1px solid #d6d6d6;
    border-right: 0;
    margin-top: 10px;
}

    .scInstallerPager:hover {
        background-color: #e3e3e3;
        text-decoration: none;
    }

    .scInstallerPager:last-child, .scInstallerCurrentPage:last-child {
        border-right: 1px solid #d6d6d6;
    }

.scInstallerCurrentPage {
    background-color: #D0EBF6;
}

.scInstallerSelected {
    color: #888;
    font-weight: bold;
}

.scMetadataCustomAttributes {
    min-height: 90px;
}

    .scMetadataCustomAttributes td {
        padding-bottom: 10px;
    }

        .scMetadataCustomAttributes td:first-child {
            padding-right: 5px;
        }

        .scMetadataCustomAttributes td:last-child {
            padding-left: 5px;
        }

.BehaviourBox {
    padding: 4px 8px;
    height: 72px;
    border: 1px solid #CCC;
}

.scRadioGroup > div {
    padding: 5px 0;
}

.scSelectRootItem {
    margin-top: 10px;
    height: calc(100% - 45px);
}

    .scSelectRootItem .scTreeHeaderItem {
        width: 100% !important;
    }

.itemsFilterEditorContainer {
    overflow: auto;
}

    .itemsFilterEditorContainer > fieldset {
        margin-bottom: 10px;
        padding: 8px;
    }

.filterEditorChildContainer {
    position: relative;
}

    .filterEditorChildContainer > div, .filterEditorChildContainer > table, .filterEditorChildContainer > fieldset {
        padding-right: 85px;
    }

    .filterEditorChildContainer > div[id$=brdSelect] {
        padding-right: 100px;
    }

     .lang_ja_jp .filterEditorChildContainer > div, .filterEditorChildContainer > table, .filterEditorChildContainer > fieldset {
        padding-right: 130px;
    }

     .lang_ja_jp .filterEditorChildContainer > div[id$=brdSelect] {
        padding-right: 145px;
    }

    .filterEditorChildContainer > button {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }

.ie8 .itemsFilterEditorContainer > fieldset {
    margin-bottom: 0;
}

.ie8 .filterEditorChildContainer {
    margin: 5px 10px 0 0;
}

#Filters_laFilter_Languages {
    margin-top: 0;
}

#Filters_pubFilter_pd_holder {
    vertical-align: top;
}

#InstallerRibbon .scRibbonNavigator {
    padding-top: 10px;
    overflow: hidden;
    background-color: #474747;
}

#RibbonFrame {
    background-color: #f7f7f7;
}