﻿@using Sitecore.Data
@using Sitecore.Mvc
@model Sitecore.Speak.Components.Models.Dialogs.DialogWindows.ConfirmationDialogRenderingModel
@{
  Model.DataBind.IsVisible();

  Model.DataBind.Bind("css", "{fade:IsAnimated}");
  Model.Class.Append("sc-confirmationDialog modal");
  Model.HasNestedControls = true;
  var buttonRendering = new ID("{88C38B36-787A-43FA-85D4-FE08B0A4B7FF}").ToString();
  var hasDefault = false;
  var idx = 0;
}
<div @Model.HtmlAttributes data-backdrop="static" data-keyboard="true" data-replace="true" >
  <div class="sc-confirmationDialog-header">
    <div >
      <a class="sc-confirmationDialog-close" data-dismiss="modal" aria-hidden="true"></a>
      <span class="sc-confirmationDialog-header-title" data-bind="text: HeaderText">@Model.HeaderText</span>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="modal-body sc-confirmationDialog-body">
    <div class="sc-confirmationDialog-table" >
      <div class="sc-confirmationDialog-col3" >
        <div class="sc-confirmationDialog-col1" ><div class="sc-confirmationDialog-icon" data-bind="css: IconType"></div></div><div class="sc-confirmationDialog-col2" ><span class="sc-confirmationDialog-title" data-bind="text: Title">@Model.Title</span><span class="sc-confirmationDialog-message" data-bind="text: Message">@Model.Message</span></div>
      </div>
    </div>
  </div>
  <div class="sc-confirmationDialog-buttons" >
  @foreach (var butt in Model.ButtonList)
  {
    idx++;
    var strClick = string.IsNullOrEmpty(butt.Click) ? string.Empty : String.Format("trigger:{1}:ButtonClick([\"{0}\"])", butt.Click, Model.ControlId);
    var buttonType = butt.IsDefault ? "Primary": string.Empty;
    
    if (Model.ButtonList.Count == idx && !hasDefault)
    {
      buttonType = "Primary";
    }
    
    if (hasDefault)
    {
      buttonType = string.Empty;
    }
    
    if (!hasDefault && butt.IsDefault)
    {
      hasDefault = true;
    }
    Html.RenderView(buttonRendering, new { Id = butt.ContolId, Text = butt.Label, Click = strClick, ButtonType = buttonType });
  }
  </div>
</div>
