﻿@model Sitecore.Speak.Components.Models.ListsAndGrids.ListControls.ListControlRenderingModel
@{
  Model.Class.Append("sc-listcontrol");
  Model.DataBind.IsVisible();
}
<div @Model.HtmlAttributes>
  <div class="sc-listcontrol-content">
    <!-- Detaillist: Main template -->
    <script type="text/x-handlebars-template" id="template-detaillist">
      <div class="sc-listcontrol-header-wrapper">
        {{> template-detaillist-header }}
      </div>
      <div class="sc-listcontrol-body-wrapper">
        <table class="table sc-listcontrol-body">
          <tbody>
            {{#ListControl:ifDataMissingForDetailList}}
            {{> template-detaillist-nodata }}
            {{else}}
            {{> template-detaillist-body }}
            {{/ListControl:ifDataMissingForDetailList}}
          </tbody>
        </table>
        <div class="sc-filler-rows {{ListControl:ReverseStripes Items}}">
          <table class="table">
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="sc-associated-listpage hide">
        <a href="{{@("Settings.AssociatedListPage")}}">@Model.ViewAll<span> ></span></n></a>
      </div>
    </script>

    <!-- Detaillist: Partials -->
    <script type="text/x-handlebars-template" id="template-detaillist-header">
      {{#if @("Settings.DetailList.ColumnDefinitionItems")}}
      <table class="table sc-listcontrol-header">
        <thead>
          <tr>
            {{#if @("Settings.IsCheckModeEnabled")}}
            <th class="sc-listcontrol-checking-all"><input type="checkbox" /></th>
            {{/if}}
            {{#each @("Settings.DetailList.ColumnDefinitionItems")}}
            <th class="{{ListControl:Classes '{"IsWrapped": "sc-text-wrapped", "IsSortable": "sc-sortable", "ColumnWidth": "col-md-{VALUE}", "ColumnAlignment": "text-{VALUE}", "SortDirection": "sc-{VALUE}"}'}}"
                style="{{ListControl:Styles '{"ColumnMinWidth": "min-width: {VALUE}px;", "ColumnStoredWidth": "width: {VALUE}%;"}'}}">
              {{ColumnTitle}}
            </th>
            {{/each}}
          </tr>
        </thead>
      </table>
      {{/if}}
    </script>

    <script type="text/x-handlebars-template" id="template-detaillist-body">
      {{#each Items}}
      <tr data-sc-itemid="{{_uniqueId}}" class="sc-listcontrol-item">
        {{#if @("../Settings.IsCheckModeEnabled")}}
        <td class="sc-listcontrol-checking"><input type="checkbox" /></td>
        {{/if}}
        {{#each @("../Settings.DetailList.ColumnDefinitionItems")}}
        {{{ListControl:GetColumnPartial this ../this}}}
        {{/each}}
      </tr>
      {{/each}}
    </script>

    <script type="text/x-handlebars-template" id="template-detaillist-nodata">
      <tr class="sc-nodata-row">
        <td class="text-center">@Model.NoDataToDisplay</td>
      </tr>
    </script>

    <script type="text/x-handlebars-template" id="template-detaillist-popover">
      <div class="sc-popover" style="min-width: {{minWidth}}px; top: {{top}}px; left: {{left}}px;">
        <div class="sc-popover-content">
          {{#if hasHiddenColumns}}
          {{> template-detaillist-popover-columnswap }}
          {{/if}}
        </div>
      </div>
    </script>

    <script type="text/x-handlebars-template" id="template-detaillist-popover-columnswap">
      {{#if isSortable}}
        <ul class="sc-sortings">
          <li class="sc-no-sorting {{#if sortDirections.noSorting}}active{{/if}}">@Model.NoSorting</li>
          <li class="sc-ascending {{#if sortDirections.ascending}}active{{/if}}">@Model.SortAscending</li>
          <li class="sc-descending {{#if sortDirections.descending}}active{{/if}}">@Model.SortDescending</li>
        </ul>
      {{/if}}
      <div class="sc-popover-label">Replace column with</div>
      <ul class="sc-columns sc-columnswap">
        {{#each hiddenColumns}}
        <li class="sc-columnswap-item" data-sc-column-index="{{index}}">{{value}}</li>
        {{/each}}
      </ul>
    </script>

    <script type="text/x-handlebars-template" id="template-detaillist-column-text">
      <td class="{{ListControl:Classes '{"IsWrapped": "sc-text-wrapped", "ColumnWidth": "col-md-{VALUE}", "ColumnAlignment": "text-{VALUE}"}'}}"
          style="{{ListControl:Styles '{"ColumnMinWidth": "min-width: {VALUE}px;"}'}}">
        {{#ListControl:ConditionalWrap '[{"IsBold": "strong"},{"IsItalic": "em"}]'}}
        {{ListControl:GetColumnFieldValue ValueItem "DataFieldName"}}
        {{/ListControl:ConditionalWrap}}
      </td>
    </script>


    <script type="text/x-handlebars-template" id="template-detaillist-column-image">
      <td class="{{ListControl:Classes '{"ColumnWidth": "col-md-{VALUE}", "ColumnAlignment": "text-{VALUE}"}'}}"
          style="{{ListControl:Styles '{"ColumnMinWidth": "min-width: {VALUE}px;"}'}}">
        <img src="{{ListControl:ImageUrl ValueItem 'ImageFieldName'}}"
             alt="{{ListControl:ImageAlt ValueItem 'AltFieldName' 'ImageFieldName'}}"
             height="{{ImageHeight}}"
             width="{{ImageWidth}}" />
      </td>
    </script>

    <script type="text/x-handlebars-template" id="template-detaillist-column-link">
      <td class="{{ListControl:Classes '{"ColumnWidth": "col-md-{VALUE}", "ColumnAlignment": "text-{VALUE}"}'}}"
          style="{{ListControl:Styles '{"ColumnMinWidth": "min-width: {VALUE}px;"}'}}">
        <a href="{{ListControl:GetColumnFieldValue ValueItem "LinkUrlFieldName"}}"
           target="{{LinkTarget}}">
          {{ListControl:GetColumnFieldValue ValueItem "LinkTextFieldName"}}
        </a>
      </td>
    </script>

    <script type="text/x-handlebars-template" id="template-detaillist-column-htmltemplate">
      <td class="{{ListControl:Classes '{"ColumnWidth": "col-md-{VALUE}", "ColumnAlignment": "text-{VALUE}"}'}}"
          style="{{ListControl:Styles '{"ColumnMinWidth": "min-width: {VALUE}px;"}'}}">
        {{#if HtmlTemplate}}
        {{{ListControl:CompilePartial HtmlTemplate ValueItem}}}
        {{/if}}
      </td>
    </script>

    <script type="text/x-handlebars-template" id="template-detaillist-column-datesandtimes">
      <td class="{{ListControl:Classes '{"IsWrapped": "sc-text-wrapped", "ColumnWidth": "col-md-{VALUE}", "ColumnAlignment": "text-{VALUE}"}'}}"
          style="{{ListControl:Styles '{"ColumnMinWidth": "min-width: {VALUE}px;"}'}}">
        {{#ListControl:ConditionalWrap '[{"IsBold": "strong"},{"IsItalic": "em"}]'}}
        {{ListControl:GetColumnFieldDateTimeValue ValueItem "DataFieldName"}}
        {{/ListControl:ConditionalWrap}}
      </td>
    </script>

    <script type="text/x-handlebars-template" id="template-detaillist-column-progressbar">
      <td class="{{ListControl:Classes '{"IsWrapped": "sc-text-wrapped", "ColumnWidth": "col-md-{VALUE}", "ColumnAlignment": "text-{VALUE}"}'}}"
          style="{{ListControl:Styles '{"ColumnMinWidth": "min-width: {VALUE}px;"}'}}">
        <div class="sc-progressbar">
          <div class="progress" title="{{ListControl:Progress ValueItem}}%">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuenow="{{ListControl:Progress ValueItem}}"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 style="width: {{ListControl:Progress ValueItem}}%;">
              <span class="sr-only">
                {{ListControl:Progress ValueItem}}%
              </span>
            </div>
          </div>
        </div>
      </td>
    </script>
  </div>
</div>