.scUnchangedFieldLabel
{
  padding: 5px 0 0 0;
}

.scChangedFieldLabel
{
  color:#2694c0;
  font-weight:bold;
  padding: 5px 0 0 0;
}

.scField
{
  border:1px solid #e3e3e3;
  padding: 5px;
  margin: 0 5px 10px 0;
}