﻿.sc-popover[data-sc-id="CreatePopover"] .sc-text {
  color: grey;
  font-style: italic;
}

.sc-popover[data-sc-id="CreatePopover"] .sc-text-largetitle {
  color: inherit;
  font-style: inherit;
}

.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="ImportNewContactsBorder"] > div,
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateListsBorder"] > div {
  margin-bottom: 10px;
}
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="ImportNewContactsBorder"] > div:hover,
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateListsBorder"] > div:hover {
  background-color: #D6D6D6;
}

.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="ImportNewContactsBorder"]  div[class^="col-"],
.sc-popover[data-sc-id="CreatePopover"] div[data-sc-id="CreateListsBorder"]  div[class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}
.sc-popover[data-sc-id="CreatePopover"] a.sc-hyperlinkbutton {
  font-weight: bolder;
  color: #131313;
  text-decoration: none;
}