﻿.scExplanationNothing
{
  padding: 16px 0 0 0;
  text-align: center;
}

.scExplanationHeader
{
  padding: 5px;
}

.scExplanationHeader img
{
  margin-right: 5px;
  float:left;
}

.scExplanationSections {
    clear:both;
}

.scExplanationHeaderName
{
  font-weight: bold;
  font-size: 14px;
}

#Explanation td
{
  white-space: nowrap;
}

.scExplanationSectionsscExplanationHeader {
  clear: left;
  padding: 0 5px;
}

.scExplanationSection
{
  border-top: none;
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  overflow: auto;
}

.scExplanationSectionHeader
{
  font-weight: bold;
  margin: 15px 0 0 0;
  padding: 1px 2px;
}

.scExplanationSectionCaptionIcon
{
  height: 16px;
  margin: 1px 4px 1px 2px;
  vertical-align: middle;
  width: 16px;
}

.scExplanationSecurityNotSet
{
}

.scExplanationWorkflow
{
  padding: 2px 8px 2px 4px;
}

.scExplanationWorkflowState
{
  padding: 2px 8px 2px 4px;
}

.scExplanationWorkflowStateRight
{
  padding: 2px 8px 2px 4px;
}

.scExplanationSecurityTable
{
    width: 100%;
}

.scExplanationSecurityTableHeaderCell,
.scExplanationSecurityTableHeaderCellFill
{
background-color: #5e5e5e;
border: none;
border-left: solid 1px white;
border-right: solid 1px #e1e1e1;
color: #fff;
padding: 14px 10px;
text-align: left;
	white-space: nowrap;
}

.scExplanationSecurityTableItem
{
  white-space: nowrap;
}

.scExplanationSecurityTableAccount
{
  padding: 2px 4px 2px 6px;
  white-space: nowrap;
}

.scExplanationSecurityTableSelector
{
  padding: 2px 0 0 4px;
  text-align: center;
  white-space: nowrap;
}

.scExplanationSecurityText
{
  margin: 0 12px 8px 0;
  padding: 4px;
}

.scExplanationWarning
{
  margin: 0 0 5px 5px;
  padding: 4px 0 0 0;
}

.scEditorWarningTitle
{
  
}

.ff .scAccessViewerTreeviewContainer {
    height: 1px;
}