﻿BODY {
    cursor: default;
    height: 100%;
    margin: 0;
}

FORM {
    /*position:absolute;   left: 0px;   bottom: 0px;   right: 0px;*/
    height: 100%;
    width: 100%;
}

/* IE9 specific styles */
.ie8 #ContentTreeHolder,
.ie9 #ContentTreeHolder, .ie8 #SearchResultHolder, .ie9 #SearchResultHolder, .ie8 #SearchResult, .ie9 #SearchResult {
    position: absolute;
    width: 100%;
    bottom: 0;
    top: 0;
    margin-top: 60px;
}

.ie8 #ContentTreeHolder, .ie8 #SearchResultHolder, .ie8 #SearchResult {
    margin-top: 21px;
}

    .ie8 #SearchResult > table, .ie8 #SearchResult .filler .scSearchCategory {
        height: auto;
    }


.scPanel {
    height: 100%;
    border: none;
    margin: 0px;
    padding: 0px;
    table-layout: fixed;
    width: 100%;
}

.scOutline {
    border: 2px ridge;
    position: absolute;
    z-index: 9999;
    cursor: col-resize;
}

.scWindowBorder1 {
    border: 1px solid #5e5e5e;
    overflow: hidden; /* fix for the scrollbar in IE */
}

    .scWindowBorder1.wk {
        overflow: hidden;
    }

.scWindowBorder2 {
    table-layout: fixed;
}

.scWindowBorder3 {
    background: #4E4E4E;
    height: 2px;
}

.scWindowBorder4 {
    border: none;
    height: 1px;
    width: 2px;
}

/* CM specific ribbon styles */

.scRibbonNavigator {
    margin-left: 61px;
    padding-right: 130px;
}

a.scSystemMenu {
    position: absolute;
    top: 17px;
    left: 0px;
    width: 62px;
    height: 30px;
    display: inline-block;
    border: none;
    background: url("/sitecore/shell/themes/standard/images/hamburgermenu_default.png") no-repeat center;
    text-decoration: none;
    z-index: 1;
}

    a.scSystemMenu:hover {
        background-image: url("/sitecore/shell/themes/standard/images/hamburgermenu_hover_active.png");
    }

.scSystemButtons {
    position: absolute;
    right: 0;
    height: 27px;
}

/* Caption */

.scCaption {
    background-color: #474747;
    position: relative;
}

#CaptionTopLine {
}

    #CaptionTopLine img {
        border: none;
        height: 1px;
        width: 1px;
        display: none !important;
    }

/* Content */

#MainPanel {
    height: auto;
    position: relative;
}

#MainContent {
}

.scContent {
    vertical-align: top;
}

/* Splitter */

.scSplitter {
    background: #d2d5da url("/sitecore/shell/themes/standard/Images/Content Editor/Splitter.png") repeat-y;
    cursor: w-resize;
    width: 7px;
    position: relative;
}

.scSplitterFill {
    border: none;
    width: 7px;
    height: 1px;
}

/* Editor */

.scEditor {
    border: none;
    height: 100%;
}

.scEditorHeader {
    padding: 30px 15px;
    height: 35px;
    background-color: #fff;
}

.scEditorHeaderIcon,
a.scEditorHeaderIcon,
a.scEditorHeaderIcon:link,
a.scEditorHeaderIcon:hover,
a.scEditorHeaderIcon:active,
a.scEditorHeaderIcon:visited {
    float: left;
}

    a.scEditorHeaderIcon:hover {
        opacity: 0.4;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 40);
        filter: alpha(opacity = 40);
    }

img.scEditorHeaderIcon {
    border: none;
    height: 32px;
    width: 32px;
}

.scEditorHeaderTitlePanel {
    float: left;
}

.scEditorHeaderTitle,
.scEditorHeaderTitle:link,
.scEditorHeaderTitle:hover,
.scEditorHeaderTitle:active,
.scEditorHeaderTitle:visited {
    display: inline;
    font-size: 18px;
    white-space: nowrap;
    padding: 5px 15px;
    line-height: 32px;
}

    .scEditorHeaderTitle:hover {
        background-color: #E3E3E3;
        text-decoration: none;
    }

.scEditorHeaderTitleName {
}

.scEditorHeaderTitleHelp {
    padding: 0 15px;
    display: block;
}

.scEditorHeaderVersions {
    float: right;
}

/* Personalization */

.scEditorHeaderCustomizeProfilesIcon {
    margin-left: 0px;
}

.scEditorHeaderCustomizeProfilesIcon, a.scEditorHeaderCustomizeProfilesIcon, a.scEditorHeaderCustomizeProfilesIcon:link, a.scEditorHeaderCustomizeProfilesIcon:hover, a.scEditorHeaderCustomizeProfilesIcon:active, a.scEditorHeaderCustomizeProfilesIcon:visited {
    float: right;
    text-decoration: none;
}

    a.scEditorHeaderCustomizeProfilesIcon:hover {
        cursor: pointer;
        opacity: 0.4;
        -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 40);
        filter: alpha(opacity = 40);
    }

img.scEditorHeaderCustomizeProfilesIcon {
    border: medium none;
    height: 32px;
    width: 32px;
    margin-left: 0px;
}

.scEditorHeaderProfileCards {
    float: right;
    margin: -4px 0 0;
    border: none;
}

.ie .scEditorHeaderCustomizeProfilesIcon {
    border: none;
    height: 36px;
    width: 36px;
}

.scEditorHeaderProfileCardIcon {
    cursor: default;
    padding: 0;
    text-decoration: none;
    float: right;
    height: 32px;
    width: 32px;
    border: 1px solid #e3e3e3;
    margin: 0 0 0 2px;
}

.ie .scEditorHeaderProfileCardIcon {
    height: 34px;
    width: 34px;
}

a.scEditorHeaderProfileCardIcon:hover {
    opacity: 0.4;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 40);
    filter: alpha(opacity = 40);
}

.ie a.scEditorHeaderProfileCardIcon:hover {
    height: 36px;
    width: 36px;
}

.scEditorHeaderSeperator {
    display: inline;
    float: left;
    padding: 0;
    vertical-align: top;
    float: right;
}

.scEditorHeaderSeperatorLine {
    background: none repeat scroll 0 0 White;
    border-left: 1px solid #B9B9B9;
    display: block;
    height: 34px;
    margin: 1px 3px 1px 5px;
    width: 1px;
}

.scEditorHeaderSeperatorFirstLine {
    margin: 1px 2px 1px 5px;
}

.ie .scEditorHeaderSeperatorLine {
    margin: 1px 4px 1px 5px;
}

.ie .scEditorHeaderSeperatorFirstLine {
    margin: 1px 2px 1px 5px;
}

.RadToolTip_Telerik.rtLoading {
    background-image: url('/sitecore/shell/Themes/Standard/Images/sitecore-loader24.gif') !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

/* editor header buttons */

a.scEditorHeaderButton {
    padding: 5px 15px;
    display: inline;
    border-radius: 0px;
    background-image: none;
    background-color: #f7f7f7;
}

    a.scEditorHeaderButton:hover, a.scEditorHeaderButton:active {
        text-decoration: none;
        background-color: #fff;
        background-image: none;
    }

    a.scEditorHeaderButton:active {
        -webkit-box-shadow: inset 0 1px 3px #ccc;
        box-shadow: inset 0 1px 3px #ccc;
    }

a.scEditorHeaderVersionsLanguage {
}

a.scEditorHeaderVersionsVersion span {
    /*background-color: #d9eafc;
    padding: 4px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;*/
}

a.scEditorHeaderNavigator {
}

.scEditorHeaderVersionsLanguageIcon,
.scEditorHeaderNavigatorIcon {
    width: 16px;
    height: 16px;
    border: none;
    vertical-align: middle;
}

.scEditorHeaderVersionsLanguageGlyph,
.scEditorHeaderVersionsVersionGlyph,
.scEditorHeaderNavigatorGlyph {
    width: 7px;
    height: 5px;
    border: none;
    margin: 0px 0px 0px 2px;
    vertical-align: middle;
}

.scEditorHeaderNavigatorMenu {
    width: 270px;
    table-layout: fixed;
}

a.scEditorHeaderNavigatorSection,
a.scEditorHeaderNavigatorField {
    display: block;
    padding: 5px 5px 5px 15px;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .scEditorHeaderNavigatorField:hover,
    a.scEditorHeaderNavigatorSection:hover {
        cursor: pointer;
        background-color: #E3E3E3;
    }

a.scEditorHeaderNavigatorSection {
    font-weight: bold;
    border-top: 1px solid #F0F0F0;
}


/* =quick info*/
.scEditorQuickInfo {
    width: 100%;
    margin: 5px 0 5px 10px;
}

    .scEditorQuickInfo td:nth-of-type(1) {
        text-align: left;
        width: 110px;
        font-weight: bold;
    }

    .scEditorQuickInfo td {
        white-space: nowrap;
    }

    .scEditorQuickInfo input,
    .scEditorQuickInfo input:focus {
        display: inline;
        width: 100%;
        background-color: transparent !important;
        border: 0px;
        box-shadow: none;
        padding: 0;
    }

    .scEditorQuickInfo tr {
      line-height: 35px;
    }




.scEditorHeaderQuickInfoInput {
    background: transparent;
    border: none;
    width: 100%;
}

.scEditorHeaderQuickInfoInputID {
    background: transparent;
    border: none;
    width: 240px;
}

.scEditorPanelCell {
    padding: 0px 0px 0px 0px;
    background: #cccccc;
    height: 100%;
}

.scEditorPanel {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-right: 21px;
}


.scEditorSections {
    background-color: #f0f0f0;
}

.scEditorSectionCaptionExpanded,
.scEditorSectionCaptionCollapsed {
    background-color: #474747;
    white-space: nowrap;
    line-height: 35px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #474747;
    padding: 0 0 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scEditorSectionCaptionExpanded {
    border-left: 5px solid #DC291E;
}

    .scEditorSectionCaptionExpanded::selection {
        background-color: #969696;
    }


.scEditorSectionCaptionCollapsed {
    background-color: #969696;
    cursor: pointer;
    border-bottom: 1px solid #CCCCCC;
    padding: 0 0 0 15px;
}

    .scEditorSectionCaptionCollapsed::selection {
        background-color: #474747;
    }



.scEditorSectionCaptionGlyph {
    float: right;
    margin: 10px 15px 0 0;
}

.scEditorSectionCaptionIcon {
    margin: 1px 0;
    vertical-align: middle;
}

.scEditorSectionPanel {
    table-layout: fixed;
    margin: 15px 15px 0 0;
    overflow: hidden;
}

div#QuickInfo + .scEditorSectionPanel {
    margin: 0 15px 0 0;
}

.scEditorSectionPanelCell {
    padding: 5px;
}

.scEditorSectionPanelCell_NoSections {
    padding: 0px 4px 0px 6px;
}


.scCheckBox {
    float: left;
}

.scContentControlCheckbox {
}

.scCheckBox + .scEditorFieldLabel {
}

.scEditorFieldLabel {
    padding: 0 0 10px 0;
}

.scEditorFieldLabelDisabled {
    color: #999999;
}

.scEditorFieldLabelAdministrator {
    color: #999999;
    font-weight: normal;
}

.scEditorFieldLabelLink, .scEditorFieldLabelLink:link, .scEditorFieldLabelLink:active, .scEditorFieldLabelLink:hover, .scEditorFieldLabelLink:visited {
    color: #333333;
    padding-bottom: 1px;
    text-decoration: none;
}

    .scEditorFieldLabelLink:hover {
        text-decoration: underline;
    }

.scEditorFieldMenu {
    border: 1px solid #F0CCA5;
    color: black;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr= '#F8EED0', EndColorStr= '#F8D5A6' );
    padding: 3px 2px 0px 4px;
}

.scEditorTranslateButton {
    background: #F8D5A6;
    border: 1px solid #F0CCA5;
    color: black;
    cursor: default;
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F8EED0', EndColorStr='#F8D5A6');
    height: 22px;
}


.scGalleryFrame {
    position: absolute;
    border: none;
    z-index: -1;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
}

.scCombobuttonMain {
    color: #b9b9b9;
}

.scEditorFieldMarker {
    table-layout: fixed;
    margin: 0 0 24px 0;
    width: 100%;
}

.wk .scEditorFieldMarker {
    table-layout: auto;
}

.scEditorFieldMarkerBarCell,
.scEditorFieldMarkerBarCellGrey,
.scEditorFieldMarkerBarCellYellow,
.scEditorFieldMarkerBarCellRed {
    border-left: 5px solid transparent;
    width: 5px;
}

.scEditorFieldMarkerBarCellGrey {
    border-left-color: #bbbbbb;
}

.scEditorFieldMarkerBarCellYellow {
    border-left-color: #fbc200;
}


.scEditorFieldMarkerBarCellRed {
    border-left-color: #ce130a;
}



.scEditorFieldMarkerInputCell {
}


.scEditorFieldSpacer {
    height: 12px;
}

.scFieldMarker {
    border-left: 4px solid #cccccc;
    width: 4px;
}


.scContentButtons {
    padding: 0 0 10px 0;
}

a.scContentButton {
    color: #DC291E;
    white-space: nowrap;
    display: inline-block;
    border-right: 1px solid #ccc;
    padding: 0 14px 0 15px;
}

    a.scContentButton:hover,
    a.scContentButton:active {
        text-decoration: underline;
    }



.scContentButton:first-child {
    padding-left: 0;
}

.scContentButton:last-child {
    border-right: 0px;
}

.scContentButtonDisabled {
    color: #999999;
    padding: 2px 6px 2px 6px;
    cursor: default;
    white-space: nowrap;
    display: inline-block;
}

/* Template */

.scTemplateTreeTemplate, .scTemplateTreeTemplate:link, .scTemplateTreeTemplate:active, .scTemplateTreeTemplate:hover, .scTemplateTreeTemplate:visited, .scTemplateTreeTemplateActive, .scTemplateTreeTemplateActive:link, .scTemplateTreeTemplateActive:active, .scTemplateTreeTemplateActive:hover, .scTemplateTreeTemplateActive:visited {
    cursor: default;
    display: block;
    font-weight: bold;
    text-decoration: none;
    padding: 4px 4px 4px 4px;
}

    .scTemplateTreeTemplateActive, .scTemplateTreeTemplate:hover {
        background: #EDB078;
    }

.scTemplateTreeSections {
    border: 1px solid #999999;
    padding: 2px 4px 4px 4px;
    margin: 4px 2px 2px 2px;
}

.scTemplateTreeSectionsHeader {
    font-weight: bold;
}

.scTemplateTreeSection {
    border: 1px solid #c9c9c9;
    margin: 4px 4px 4px 16px;
}

.scTemplateTreeSectionName, .scTemplateTreeSectionName:link, .scTemplateTreeSectionName:active, .scTemplateTreeSectionName:hover, .scTemplateTreeSectionName:visited, .scTemplateTreeSectionNameActive, .scTemplateTreeSectionNameActive:link, .scTemplateTreeSectionNameActive:active, .scTemplateTreeSectionNameActive:hover, .scTemplateTreeSectionNameActive:visited {
    cursor: default;
    display: block;
    font-weight: bold;
    padding: 3px 4px 3px 4px;
    text-decoration: none;
}

    .scTemplateTreeSectionNameActive, .scTemplateTreeSectionName:hover {
        background: #EDB078;
    }

.scTemplateTreeSectionAdd, .scTemplateTreeSectionAdd:link, .scTemplateTreeSectionAdd:active, .scTemplateTreeSectionAdd:hover, .scTemplateTreeSectionAdd:visited {
    cursor: default;
    display: block;
    padding: 4px 4px 4px 18px;
    text-decoration: none;
}

    .scTemplateTreeSectionAdd:hover {
        text-decoration: underline;
    }

.scTemplateTreeSectionField, .scTemplateTreeSectionField:link, .scTemplateTreeSectionField:active, .scTemplateTreeSectionField:hover, .scTemplateTreeSectionField:visited, .scTemplateTreeSectionFieldActive, .scTemplateTreeSectionFieldActive:link, .scTemplateTreeSectionFieldActive:active, .scTemplateTreeSectionFieldActive:hover, .scTemplateTreeSectionFieldActive:visited {
    border: 1px solid #c9c9c9;
    cursor: default;
    display: block;
    margin: 2px 4px 2px 16px;
    padding: 2px;
    text-decoration: none;
}

.scTemplateTreeSectionFieldDetails {
    color: #999999;
}

.scTemplateTreeSectionFieldActive, .scTemplateTreeSectionField:hover {
    background: #EDB078;
}

.scTemplateTreeSectionFieldAdd, .scTemplateTreeSectionFieldAdd:link, .scTemplateTreeSectionFieldAdd:active, .scTemplateTreeSectionFieldAdd:hover, .scTemplateTreeSectionFieldAdd:visited {
    cursor: default;
    display: block;
    padding: 4px 4px 4px 18px;
    text-decoration: none;
}

    .scTemplateTreeSectionFieldAdd:hover {
        text-decoration: underline;
    }

.scTemplateTreeStandardValues {
    border: 1px solid #999999;
    padding: 2px 4px 4px 4px;
    margin: 8px 2px 2px 2px;
}

.scTemplateTreeStandardValuesHeader {
    font-weight: bold;
}

.scTemplateTreeStandardValuesEdit, .scTemplateTreeStandardValuesEdit:link, .scTemplateTreeStandardValuesEdit:active, .scTemplateTreeStandardValuesEdit:hover, .scTemplateTreeStandardValuesEdit:visited, .scTemplateTreeStandardValuesEditActive, .scTemplateTreeStandardValuesEditActive:link, .scTemplateTreeStandardValuesEditActive:active, .scTemplateTreeStandardValuesEditActive:hover, .scTemplateTreeStandardValuesEditActive:visited {
    cursor: default;
    display: block;
    margin: 2px 4px 2px 8px;
    padding: 2px;
    text-decoration: none;
}

    .scTemplateTreeStandardValuesEditActive, .scTemplateTreeStandardValuesEdit:hover {
        background: #EDB078;
    }

.scTemplateTreeMasters {
    border: 1px solid #999999;
    padding: 2px 4px 4px 4px;
    margin: 8px 2px 2px 2px;
}

.scTemplateTreeMastersHeader {
    font-weight: bold;
    padding: 0px 0px 4px 0px;
}

.scTemplateTreeMaster, .scTemplateTreeMaster:link, .scTemplateTreeMaster:active, .scTemplateTreeMaster:hover, .scTemplateTreeMaster:visited, .scTemplateTreeMasterActive, .scTemplateTreeMasterActive:link, .scTemplateTreeMasterActive:active, .scTemplateTreeMasterActive:hover, .scTemplateTreeMasterActive:visited {
    cursor: default;
    display: block;
    margin: 2px 4px 2px 8px;
    padding: 2px;
    text-decoration: none;
}

    .scTemplateTreeMasterActive, .scTemplateTreeMaster:hover {
        background: #EDB078;
    }

.scTemplateTreeMasterAdd, .scTemplateTreeMasterAdd:link, .scTemplateTreeMasterAdd:active, .scTemplateTreeMasterAdd:hover, .scTemplateTreeMasterAdd:visited {
    cursor: default;
    display: block;
    padding: 4px 4px 4px 8px;
    text-decoration: none;
}

    .scTemplateTreeMasterAdd:hover {
        text-decoration: underline;
    }

.scTemplateTreeDisabled {
    color: GrayText;
    display: block;
    padding: 4px 4px 4px 8px;
}

.scTemplateTreeIconGrayed {
    filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
    width: 16px;
}

/* Pager */

.scPager {
    background-color: #474747;
    height: 30px;
    border-top: 2px solid #dc291e;
}

a.scPagerButtonNormal,
a.scPagerButtonActive {
    float: left;
    white-space: nowrap;
    text-decoration: none;
    line-height: 30px;
    padding: 0 10px;
    color: #fff;
}

.scPagerButtonNormal:active,
.scPagerButtonNormal:hover {
}

.scPagerButtonNormal:hover {
    color: #131313;
    background-color: #e3e3e3;
}

a.scPagerButtonActive {
    background-color: #f7f7f7;
    color: #131313;
}

.scPagerButtonActive:hover {
    cursor: default;
}

.scRibbonToolbarKeyCodeSmallButton {
    position: absolute;
    border: 1px solid #666666;
    background: white;
    padding: 2px;
    margin: 8px 0px 0px 4px;
    z-index: 1;
    filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.75);
}

.scRibbonToolbarKeyCodeLargeButton {
    position: absolute;
    border: 1px solid #666666;
    background: white;
    padding: 2px;
    margin: 8px 0px 0px 4px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.75);
}

/* EDITOR TABS */

#Editors {
    height: 100%;
}

.scEditorGrid {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    position: relative;
}

#EditorTabs {
    background-color: #F0F0F0;
    vertical-align: top;
    height: 56px;
    padding-left: 15px;
    border-bottom: 2px solid #474747;
}

.scEditorTabControlsHolder {
    float: right;
    margin-top: 25px;
    height: 40px;
}

.scEditorTabControls {
    display: inline;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    height: 24px;
}

.scEditorTabControlsTab0 {
    width: 6px;
    height: 24px;
    vertical-align: top;
    float: left;
}

.scEditorTabControlsTab2 {
    width: 21px;
    height: 24px;
    vertical-align: top;
}

.scEditorTabControlsTab3 {
    width: 21px;
    height: 24px;
    vertical-align: top;
}

.scEditorTabControlsTab4 {
    float: left;
    width: 21px;
    height: 24px;
    vertical-align: top;
    margin-top: 1px;
}

.scEditorTabControlsTab5 {
    margin-right: 15px;
}

.scEditorTabControlsTab6 {
    width: 6px;
    height: 24px;
    margin: 0px 4px 0px 0px;
    vertical-align: top;
    margin-top: 1px;
}

#EditorFrames {
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin-top: 58px;
    background-color: #f0f0f0;
}

#BTAddNewSearch {
    background-color: #e0e0e0;
    color: #131313;
    cursor: pointer;
    border: 1px solid #bdbdbd;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-box-shadow: inset 0 1px #ffffff;
    box-shadow: inset 0 1px #ffffff;
    text-shadow: none;
    background-image: url(/sitecore/shell/Applications/Buckets/images/edition-magnifier.png);
    background-image: url(/sitecore/shell/Applications/Buckets/images/edition-magnifier.png), linear-gradient(to bottom, #f0f0f0 0%, #d9d9d9 100%);
    background-position: center;
    background-repeat: no-repeat;
    width: 36px;
    height: 33px;
    margin: 16px 5px 0;
}

a#BTAddNewSearch:hover {
    background-color: #d1d1d1;
    background-image: url(/sitecore/shell/Applications/Buckets/images/edition-magnifier.png);
    background-image: url(/sitecore/shell/Applications/Buckets/images/edition-magnifier.png), linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 100%);
}

a#BTAddNewSearch:active {
    background-image: url(/sitecore/shell/Applications/Buckets/images/edition-magnifier.png);
    background-color: #d1d1d1;
    background-image: url(/sitecore/shell/Applications/Buckets/images/edition-magnifier.png), -webkit-linear-gradient(top, #d9d9d9 0%, #d9d9d9 100%);
    background-image: url(/sitecore/shell/Applications/Buckets/images/edition-magnifier.png), -o-linear-gradient(top, #d9d9d9 0%, #d9d9d9 100%);
    background-image: url(/sitecore/shell/Applications/Buckets/images/edition-magnifier.png), linear-gradient(to bottom, #d9d9d9 0%, #d9d9d9 100%);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9d9d9', endColorstr='#ffd9d9d9', GradientType=0);
    -webkit-box-shadow: inset 0 3px 3px #b0b0b0;
    box-shadow: inset 0 3px 3px #b0b0b0;
    border-color: #bdbdbd;
}



a.scRibbonEditorTabNormal,
a.scRibbonEditorTabActive {
    float: left;
    position: relative;
    height: 40px;
    padding: 0px;
    color: #5e5e5e;
    text-decoration: none;
    white-space: nowrap;
    outline: none;
    margin-top: 16px;
    background-color: #fff;
    border-right: 1px solid #F0F0F0;
}

a.scRibbonEditorTabActive {
    color: #fff;
    cursor: default;
    background-color: #474747;
}

.scRibbonEditorTabNormal > img,
.scRibbonEditorTabActive > img {
    margin-top: 1px;
}

a.scRibbonEditorTabNormal:hover,
a.scRibbonEditorTabNormal:active,
a.scRibbonEditorTabActive:hover,
a.scRibbonEditorTabActive:active {
    text-decoration: underline;
}

a.scRibbonEditorTabNormal:hover {
    background-color: #e3e3e3;
}

.scEditorTabHeaderNormal,
.scEditorTabHeaderActive {
    float: left;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
}

    .scEditorTabHeaderNormal > img,
    .scEditorTabHeaderActive > img {
    }

.scEditorTabIcon {
    display: none;
}

.scEditorTabHeaderActive {
}

.scEditorTabIcon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin: 0px 2px 0px 0px;
}

.scEditorTabClose {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin: -2px 0 0 8px;
    cursor: pointer;
}

/* Validator bar */

.scValidatorPanel {
    background: #f0f0f0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

.scValidationMarkerLine {
    white-space: nowrap;
    width: 184px;
    padding: 2px 0px 4px 4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scValidationResult {
    padding: 0px 2px 0px 3px;
}

.scValidationResultIcon {
    width: 16px;
    height: 16px;
}

.scValidationMarker {
    padding: 4px 2px 1px 3px;
}

.scValidationMarkerIcon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.scValidationResultValidating {
    background: url(/sitecore/shell/themes/standard/images/bullet_square_grey.png) center no-repeat;
    padding: 0 2px 0 3px;
    width: 16px;
    height: 16px;
}




/* search */

#SearchPanel {
    padding: 8px 12px;
    border-bottom: 1px solid #D6D6D6;
}



    #SearchPanel > table {
        width: 100%;
    }

        #SearchPanel > table td {
            vertical-align: middle;
        }


a.scSearchButton {
    display: block;
    height: 16px;
    width: 16px;
}

.ie8 a.scSearchButton {
    height: 16px;
}

a.scSearchButton img {
}

a.scSearchButton:active,
a.scSearchButton:hover {
}

a.scSearchOptionsButton {
}

.ie8 a.scSearchOptionsButton {
    height: 16px;
}

a.scSearchOptionsButton img {
}

.scSearchOptionsButton:active, .scSearchOptionsButton:hover {
}

#SearchOptionsList {
    margin-top: 15px;
}

a.scSearchAddCriteria {
    white-space: nowrap;
    padding-right: 5px;
}

    a.scSearchAddCriteria:active, a.scSearchAddCriteria:hover {
    }

    a.scSearchAddCriteria:hover {
        text-decoration: none;
    }

    a.scSearchAddCriteria img {
        vertical-align: middle;
    }

.scSearchAddCriteriaInput {
    padding-top: 11px;
}

a.scSearchOptionName {
    font-weight: bold;
    white-space: nowrap;
}

.scSearchOptionName:active, .scSearchOptionName:hover {
}

.scSearchOptionName:hover {
}

.scSearchOptionsNameContainer {
    text-align: right;
    padding: 5px 10px 5px 0;
}

.scSearchOptionsValueContainer {
    padding: 5px 0;
}


.scSearchCategory {
    border-right: 1px solid #ccc;
    text-align: right;
    padding-right: 5px;
    vertical-align: top;
    line-height: 20px;
}

.scSearchResults {
    padding-left: 5px;
}

a.scSearchLink {
    display: block;
    padding: 5px;
    white-space: nowrap;
}

.scSearchLink:hover,
.scSearchLink:active {
    background-color: #E3E3E3;
    color: #131313;
    text-decoration: none;
}

a.scSearchLink img {
    vertical-align: middle;
}

.scSearchLinkDetails {
    margin: 0px 0px 0px 8px;
    color: #999999;
}

.scSearchHeader {
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
    padding: 15px;
}

    .scSearchHeader img {
        vertical-align: middle;
    }

#TreeSearch {
    color: #969696;
}

.ie8 .scSearchInput {
    height: 18px;
}

.scSearchEntireTree {
    padding-top: 12px;
}

    .scSearchEntireTree a {
        color: Blue;
    }

/* =Field error */
.scContentEditorFieldError {
    margin: 8px 0px 8px 0px;
}

    .scContentEditorFieldError .errorImage {
        float: left;
        margin-right: 4px;
    }

    .scContentEditorFieldError .errorTitle {
        font-weight: bold;
        line-height: 32px;
    }

    .scContentEditorFieldError .errorButtons, .scContentEditorFieldError .errorDetails {
        margin: 4px 0px 0px 2px;
        clear: left;
    }

    .scContentEditorFieldError .errorDetails {
        display: none;
    }

.scEditorFieldMarkerInputCell iframe {
    background: white;
}

.scEditorFieldMarkerInputCell .scContentControlTreelist, .scEditorFieldMarkerInputCell .scContentControlTreelist_Active {
    height: 220px;
    padding-bottom: 5px;
}

.scContentControlTreelist .scScrollbox, .scContentControlTreelist_Active .scScrollbox {
    border: 1px solid #e3e3e3;
}

/* Personalization */


.scSingleSelection {
}

.scPresetCard {
    height: 74px;
}

.scProfileCards {
    margin-bottom: 30px;
}

.scProfileHeader .scProfileName {
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 5px;
    width: 150px;
}

.scProfileHeader:first-child .scProfileName, .scProfileHeader:first-child .scSelectPresetLink {
    padding-top: 0;
}

.scProfileHeader .scSelectPresetLink {
    text-decoration: underline;
    padding-top: 12px;
    padding-bottom: 5px;
}

.scProfileHeader .scSelectPresetLinkDisabled {
    color: #999999;
}

.scPresetCard #textContainer {
    padding: 10px 6px 10px 10px;
}

.scPresetCard #imageContainer {
    padding: 8px 0px 10px 10px;
}

    .scPresetCard #imageContainer div {
        width: 48px;
        border: none;
        text-align: center;
    }

.scPresetCard #moreInfoContainer {
    float: right;
    left: 2px;
    position: relative;
    top: 38px;
}

.scPresetCard #presetName {
    font-weight: bold;
}

.scPresetCard #presetDescription {
    margin-top: 10px;
}

.scPresetCard #moreInfoContainer {
    cursor: pointer;
}

.scPresetCard #weightContainer {
    float: right;
    position: relative;
    top: -4px;
    left: 16px;
}

    .scPresetCard #weightContainer span {
        margin-right: 17px;
        font-weight: bold;
        font-size: medium;
    }

.PresetCustomizationCard #headerContainer {
    font-weight: bold;
}

.PresetCustomizationCard .profileKeyControl {
    text-align: right;
}

.PresetCustomizationCard #headerContainer {
    padding: 10px 10px 5px 10px;
}

.PresetCustomizationCard textContainer {
    padding: 5px 10px 5px 10px;
}

.PresetCustomizationCard #imageContainer {
    padding: 3px 10px 5px 10px;
}

.PresetCustomizationCard #profileKeys {
    padding: 0px 10px 10px 10px;
}

.PresetCustomizationCard .sliderContainer {
    overflow-y: auto;
}

.scContentDragMarker {
    position: absolute;
    background: #008EF4;
    z-index: 9999999;
    height: 2px;
}

#EditorWrapper > tbody > tr:first-child {
    height: 2px;
}

#EditorTop {
    height: 27px;
}

#EditorWrapper td.reToolZone {
    height: 26px;
}

#EditorWrapper #EditorModule {
    height: auto;
}

.splitter-bar {
    width: 3px;
    background-color: #f0f0f0;
}

    .splitter-bar > a {
        width: 1px;
        display: inline-block;
    }

    .splitter-bar:before, .splitter-bar:after {
        background-color: #e3e3e3;
        width: 1px;
        content: "";
        height: 100%;
        display: inline-block;
    }

#ContentTreePanel {
    width: 150px;
    min-width: 40px;
    background-color: #fff;
}

.scContentEditorSplitter {
    height: 100% !important;
}

    .scContentEditorSplitter > div {
        position: relative;
        height: 100% !important;
    }

.scConditionContainer {
    background-color: #446693;
    color: White;
    float: left;
    left: 10px;
    position: absolute;
    text-align: center;
    top: -2px;
    padding: 0 2px;
}

#saveAnimation {
    background: #FFFFFF url('/sitecore/shell/Themes/Standard/Images/ProgressIndicator/sc-spinner32.gif') no-repeat center;
    width: 96px;
    height: 96px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 100;
    box-shadow: 0 2px 8px rgba(0,0,0,0.175);
    border-radius: 6px;
}

.scNavButton:hover,
.scCalendarYearLeftCell:hover,
.scCalendarYearRightCell:hover {
    background: #e3e3e3;
    cursor: pointer;
}


.reResizeCell {
    display: none;
}

#Editor {
    height: 100% !important;
    min-height: 0 !important;
}

#EditorWrapper {
    height: 100% !important;
}

.RadEditor.Metro.scRadEditor {
    min-width: 0 !important;
}

.Default.RadEditor {
    background: none !important;
}

body .Metro .reDialog .reTool:hover, .Metro .reToolbar .reTool:hover, .Metro .reModule .reTool:hover {
    background: #E3E3E3 !important;
}

.reEditorModesCell .reEditorModes {
    padding: 0 !important;
    white-space: nowrap;
}

.Metro.RadEditor .reEditorModes a {
    height: 31px;
    box-sizing: border-box;
}

.reEditorModesCell {
    background-color: #474747;
    height: 30px;
    border-top: 2px solid #dc291e !important;
}

body .reEditorModes li {
    float: none !important;
    display: inline-block;
    vertical-align: top;
}

body .reEditorModes span {
    line-height: 27px;
    background: none;
    padding: 0 10px;
}

body .Metro.RadEditor .reEditorModes a {
    color: #fff !important;
    background-color: #474747;
    border: 1px solid #474747;
}

    body .Metro.RadEditor .reEditorModes a:hover {
        border: 1px solid #474747;
    }

    body .Metro.RadEditor .reEditorModes a.reMode_selected:hover {
        border: 1px solid #e5e5e5;
    }

body .reEditorModes a {
    width: auto;
}

body .Metro.RadEditor .reEditorModes .reMode_selected {
    background-color: #f7f7f7 !important;
    color: #131313 !important;
}

#EditorBottom {
  border-top: 2px solid #dc291e !important;
}

#EditorBottom, .reModule.reStatistic {
  background-color: #474747 !important;
  color: #fff !important;
}

body .Metro .reTool span, body .Metro.reInsertTable body .reTlbVertical ul .reTool_text span, body .Metro .reToolbar .reTool_text span {
    background-image: url(/sitecore/shell/Themes/Standard/Images/Editor/WebResource.png);
}

body .Metro .reTool .split_arrow {
    background-image: url(/sitecore/shell/Themes/Standard/Images/Editor/WebResource.gif);
}

body .RadWindow_Metro .rwTopLeft, body .RadWindow_Metro .rwTopRight, body .RadWindow_Metro .rwTitlebar, body .RadWindow_Metro .rwTopResize {
    background: #2b2b2b;
}

body .RadWindow_Metro .rwControlButtons a {
    background-color: #2b2b2b;  
    background-image: url(/sitecore/shell/Themes/Standard/Images/Editor/WebResource2.png);
    border: none;
    position: relative;
    left: 9px;
}

body div.RadWindow_Metro .rwTitlebarControls em {
    text-transform: none;
}

body .RadTabStripTop_Metro .rtsLevel1, .RadTabStrip_Metro .rtsLevel1 .rtsUL {
    background-color: #474747;
    color: #fff;
}

body .RadTabStrip_Metro .rtsLevel1 .rtsLink {
    border: none;
    text-transform: capitalize !important;
}

body .Metro .reToolbar .reTool.reTool_selected, body .Metro .reToolbar .reTool.reTool_selected:hover {
    background-image: none;
    background-color: #aadbee;
}

.reAjaxspell_wrapper {
    height: 30px;
    background-color: #FEFAE6 !important;
    border: none !important;
}

.reAjaxspell_wrapper label {
    color: #E0B406 !important;
}

.Metro .reAjaxspell_button {
    color: #2b2b2b !important;
    background: #f0f0f0 !important;
    margin-right: 10px;
    padding: 2px 10px;
}

.Metro .reToolbar li {
    padding-right: 5px !important;
}

ul.reToolbar li.grip_first {
    padding-right: 0 !important;
}


body .scRadEditor .InsertSitecoreLink {
    background-image: url(/sitecore/shell/Themes/Standard/Images/Editor/WebResource.png) !important;
    background-position: -3697px center !important;
}

body .scRadEditor .InsertSitecoreMedia {
    background-image: url(/sitecore/shell/Themes/Standard/Images/Editor/WebResource.png) !important;
    background-position: -1866px center !important;
}

body .scRadEditor .AjaxSpellCheck {
    background-image: url(/sitecore/shell/Themes/Standard/Images/Editor/WebResource.png) !important;
    background-position: -66px center !important;
}

body .RadSpell h4 {
    font: 12px Arial, Helvetica, sans-serif;
    margin: 10px 0 10px;
}

body .RadSpell {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
}

.RadSpell .MainOptions {
  margin-top: 9px;
}

.redSpellCheckDialog body {
  width: 455px;
  height: 320px;
}

.RadWindow_Metro table.rwShadow.rwTable .rwTitleRow .rwTopRight.rwCorner {
  width: 8px !important;
}

body .reGrip.grip_last {
    display: none;
}

.scAdditionalParameters td {
    padding-bottom: 10px !important;
}

.scAdditionalParameters td:first-child {
    padding-right: 5px !important;
}

.scAdditionalParameters td:last-child {
    padding-left: 5px !important;
}

#RadWindowWrapper_Editor_dialogOpenerFindAndReplace {
    height: 295px !important;
    overflow: hidden;
}

#RadWindowWrapper_Editor_dialogOpenerFindAndReplace > table.rwTable {
    height: 100% !important;
}

#RadWindowWrapper_Editor_dialogOpenerEXTERNAL_URLdefault .rwCorner .rwTopLeft,  
#RadWindowWrapper_Editor_dialogOpenerEXTERNAL_URLdefault .rwCorner .rwTopRight,  
#RadWindowWrapper_Editor_dialogOpenerEXTERNAL_URLdefault table .rwTopLeft,  
#RadWindowWrapper_Editor_dialogOpenerEXTERNAL_URLdefault table .rwTopRight,  
#RadWindowWrapper_Editor_dialogOpenerEXTERNAL_URLdefault table .rwFooterLeft,  
#RadWindowWrapper_Editor_dialogOpenerEXTERNAL_URLdefault table .rwFooterRight,  
#RadWindowWrapper_Editor_dialogOpenerEXTERNAL_URLdefault table .rwFooterCenter,  
#RadWindowWrapper_Editor_dialogOpenerEXTERNAL_URLdefault table .rwBodyLeft,  
#RadWindowWrapper_Editor_dialogOpenerEXTERNAL_URLdefault table .rwBodyRight
{    
    display: none !important;   
}

.scElementHover:hover {
    background: #E3E3E3;
    text-decoration: none;
}

.scSearchOptionName:hover {
    background: #E3E3E3;
    text-decoration: none;
}

.arrowDown {
    position: relative;
    top: 4px;
}

.searchOptionAlignment {
    position: relative;
    bottom: 2px;
    font-weight:bold;
    min-width:110px;
    white-space: nowrap;
}

.inlineBlock {
    display: inline-block;
}

.criteriaAreaAlignment {
    min-width: 110px; 
    text-align: right;
    padding-right: 10px;
}

.elementPadding {
    padding: 4px;
}

.elementImgAlignment {
    width: 16px; 
    height: 16px; 
    padding: 4px;
}

.verticalAlignmentContainer {
    top: 2px;
    position: relative;
}

.paddingLeft {
    padding-left: 3px;
}