﻿html * {
  margin: 0;
  padding: 0;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

b {
  font-weight: bold;
}


ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

  blockquote:before, blockquote:after,
  q:before, q:after {
    content: '';
    content: none;
  }

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  line-height: initial;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #131313;
  border: none;
  outline: 0;
  height: 100%;
}

form {
  margin: 0;
  padding: 0;
  border: none;
  height: 100%;
}


a, a:active, a:visited {
  text-decoration: none;
  color: #474747;
  outline: none;
}

  a:hover {
    text-decoration: underline;
  }

.ff a {
  outline: none;
}

fieldset {
  border: 0;
  padding-top: 5px;
  margin-top: 15px;
  line-height: 160%;
}

    fieldset > legend {
        font-weight: bold;
    }

    fieldset > p {
        padding: 10px 0;
    }

    fieldset:first-child {
        margin-top: 0;
        padding-top: 0;
    }

textarea {
  resize: none;
  overflow: auto;
  font-family:  Arial, Helvetica, sans-serif;
}


input[type="radio"], input[type="checkbox"] {
  line-height: normal;
  margin: 0 4px 0 0;
  vertical-align: middle;
}

  input[type="radio"] + label, input[type=checkbox] + label {
    vertical-align: middle;
  }

input:not([type]),
input[type="text"],
input[type="password"],
select,
textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 34px;
  padding: 8px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #474747;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family:  Arial, Helvetica, sans-serif;
}

  input:not([type]):focus,
  input[type="text"]:focus,
  input[type="password"]:focus,
  select:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }

  input[disabled]:not([type]),
  input[type="text"][disabled],
  input[type="password"][disabled],
  input[readonly]:not([type]),
  input[type="text"][readonly],
  input[type="password"][readonly] select[disabled] {
    cursor: not-allowed;
    background-color: #e3e3e3;
    opacity: 1;
  }

  input[readonly]:not([type]),
  input[type="text"][readonly],
  input[type="password"][readonly],
  select[disabled] {
    cursor: default;
  }

select {
  margin-bottom: 10px;
}

  select:last-child {
    margin-bottom: 0;
  }

.ie8 input {
  box-sizing: border-box;
}

input:not([type])::-ms-clear, input[type=text]::-ms-clear {
  display: none;
}


input[disabled], select[disabled] {
  cursor: not-allowed;
  background-color: #e3e3e3;
}




iframe {
  vertical-align: top;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

.scBackground {
}

.scHorizontalLine {
  height: 1px;
  line-height: 1px;
  width: 100%;
  background-color: #dbdbdb;
  font-size: 0;
}

.scBlackHorizontalLine {
  height: 1px;
  line-height: 1px;
  color: transparent;
  width: 100%;
  background-color: black;
}

.scFill {
  width: 100%;
  height: 100%;
}

.scFont {
}

.scFormTable {
    width: 100%;
}

.scFormTable > tbody > tr > td {
  padding: 5px;
}

  .scFormTable > tbody > tr > td:first-child {
    color: #5E5E5E;
    vertical-align: top;
    padding-top: 14px;
    padding-left: 0;
    line-height: 1.42857143;
    width: 1px;
    white-space: nowrap;
  }

  .scFormTable > tbody > tr > td:last-child {
    padding-right: 0;
  }

.scFormTable > tbody > tr:first-child > td {
  padding-top: 0;
}

.scFormTable > tbody > tr:last-child > td {
  padding-bottom: 0;
}

.scFormTable > tbody > tr:first-child > td:first-child {
  padding-top: 9px;
}

.scFormTable fieldset td {
  padding: 5px;
}

.scFormTable + .scFieldLabel {
  padding-top: 20px;
}

.scFormTable.scNoneditableForm > tbody > tr > td {
  padding-top: 5px;
}

.scFormTable.scNoneditableForm > tbody > tr:first-child > td {
  padding-top: 0;
}

.scFormTable.scNoneditableForm > tbody > tr:last-child > td {
  padding-bottom: 0;
}

.scLargeFont {
  font-size: 14px;
}

.scLargeFont_Hover {
  font: 14px;
}

.scLargeFont2 {
  font: 12px;
}

.scLargeFont2_Hover {
  font: 12px;
}

.scClickFont {
}

.scClickFont_Hover {
}



/* buttons*/


.scButton,
input[type="submit"] {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bdbdbd;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 80px;
    height: 36px;
    text-shadow: none;
    margin-left: 10px;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px #ffffff;
    box-shadow: inset 0 1px #ffffff;
    text-shadow: none;
    background-color: #d9d9d9;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #d9d9d9 100%);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

    .scButton:hover,
    input[type="submit"]:hover {
        background-repeat: repeat-x;
        border-color: #bdbdbd;
        background-color: #d1d1d1;
        background-position: 0 0;
        background-image: linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 100%);
    }


    .scButton:active,
    input[type="submit"]:active {
        background-color: #d1d1d1;
        background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #d9d9d9 100%);
        background-image: -o-linear-gradient(top, #d9d9d9 0%, #d9d9d9 100%);
        background-image: linear-gradient(to bottom, #d9d9d9 0%, #d9d9d9 100%);
        background-repeat: repeat-x;
        -webkit-box-shadow: inset 0 0px 6px #ccc;
        box-shadow: inset 0 0px 6px #ccc;
        background-image: none;
        border-color: #bdbdbd;
        -webkit-box-shadow: inset 0 3px 3px #b0b0b0;
        box-shadow: inset 0 3px 3px #b0b0b0;
    }


    .scButton[disabled],
    .scButton[disabled]:hover,
    .scButton[disabled]:active {
        background-color: #d1d1d1;
        background-image: none;
        cursor: default;
        opacity: 0.4;
        border-color: #bdbdbd;
        box-shadow: none;
        color: #5e5e5e;
    }

    .scButton:first-of-type, input[type="submit"]:first-of-type {
        margin-left: 0;
    }

  .scButtonPrimary,
  input[type="submit"].scButtonPrimary {
    background-repeat: repeat-x;
    border-color: #207da2;
    -webkit-box-shadow: inset 0 1px #5dbadf;
    box-shadow: inset 0 1px #5dbadf;
    color: #fff;
    background-color: #207da2;
    background-image: linear-gradient(to bottom, #289bc8 0%, #207da2 100%);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }

    .scButtonPrimary:hover,
    input[type="submit"].scButtonPrimary:hover {
      background-repeat: repeat-x;
      border-color: #175973;
      background-color: #1d7395;
      background-position: 0 0;
      background-image: linear-gradient(to bottom, #289bc8 0%, #289bc8 100%);
    }

    .scButtonPrimary:active,
    input[type="submit"].scButtonPrimary:active {
      background-color: #1d7395;
      background-image: -webkit-linear-gradient(top, #207da2 0%, #207da2 100%);
      background-image: -o-linear-gradient(top, #207da2 0%, #207da2 100%);
      background-image: linear-gradient(to bottom, #207da2 0%, #207da2 100%);
      background-repeat: repeat-x;
      -webkit-box-shadow: inset 0 3px 3px #13485e;
      box-shadow: inset 0 3px 3px #13485e;
      background-image: none;
      border-color: #175973;
    }


.ie9 .scButton, .ie9 input[type="submit"] {
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWQ5ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
}

    .ie9 .scButton:hover, .ie9 input[type="submit"]:hover {
        background: #f0f0f0;
    }

    .ie9 .scButton:active,
    .ie9 input[type="submit"]:active {
        background: #d9d9d9;
    }

    .ie9 .scButtonPrimary {
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI4OWJjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMDdkYTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    }

        .ie9 .scButtonPrimary:hover {
            background: #289bc8;
        }

        .ie9 .scButtonPrimary:active {
            background: #207da2;
        }

.ie8 .scButton, .ie8 .scButton_Disabled {
  min-width: 50px;
}

/*.ie9 .scButton::before, .ie9 .scButton_Disabled::before {
    content: "";
    display: block;
    width: 50px;
}*/

.scButton_Disabled {
  width: 75px;
  height: 24px;
}

.scBevelVerticalLine {
  background: transparent;
  border-left: 1px solid threedshadow;
  border-right: 1px solid threedhighlight;
  height: 100%;
  width: 2px;
}

.scBevelHorizontalLine {
  border-top: 1px solid threedshadow;
  background: threedhighlight;
  height: 2px;
  overflow: hidden;
  width: 100%;
}

.scBevelRaisedBox {
  background: transparent;
  border-top: 1px solid threedhighlight;
  border-left: 1px solid threedhighlight;
  border-right: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
}

.scBevelLoweredBox {
  background: transparent;
  border-top: 1px solid threedshadow;
  border-left: 1px solid threedshadow;
  border-right: 1px solid threedhighlight;
  border-bottom: 1px solid threedhighlight;
}

.scBottomEdge {
  height: 1px;
  background: threedshadow;
}

.scTopEdge {
  height: 1px;
  background: threedhighlight;
}

.scWizardSmallIcon {
  position: absolute;
  top: 8px;
  left: 102px;
  width: 58px;
  height: 58px;
  border: 2px solid white;
}

  .scWizardSmallIcon > img {
    width: 48px;
    height: 48px;
  }

.scWizardLargeIcon {
  overflow: hidden;
  -moz-opacity: 0.2;
  opacity: 0.2;
  filter: progid:DXImageTransform.Microsoft.BasicImage(opacity=0.20, grayscale=1);
  clip: rect(0 128px 128px 0);
  width: 128px;
  height: 128px;
  position: absolute;
  bottom: 0;
  right: 0;
}

  .scWizardLargeIcon > img {
    width: 196px;
    height: 196px;
  }

.scWizardButtons {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 56px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 15px 9px;
  text-align: right;
  background: #f0f0f0;
  white-space: nowrap;
  line-height: 34px;
  border-top: 1px solid #e3e3e3;
}

.scWizardPageContainer {
  position: absolute;
  top: 0;
  bottom: 56px;
  width: 100%;
}

.scWizardFormPadding {
  padding: 8px;
  overflow: auto;
}

.scWizardFirstPageLeftPanel, .scWizardLastPageLeftPanel {
  width: 164px;
  position: absolute;
  height: 100%;
  background: #123960;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#123960', EndColorStr='#405E7A');
}

.scWizardFirstPageContent, .scWizardLastPageContent {
  margin-left: 164px;
  height: 100%;
  overflow: auto;
  padding: 10px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: white;
}

.scWizardProgressPage {
  text-align: center;
}

  .scWizardProgressPage > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  .scWizardProgressPage .scSpinner {
    margin-top: 150px;
    width: 32px;
    height: 32px;
  }

  .scWizardProgressPage .scActionText {
    margin-top: 15px;
  }

  .scWizardProgressPage .scWizardStatusText {
    margin-top: 15px;
  }

.ie8 .scWizardFormContentForOldIE, .ie9 .scWizardFormContentForOldIE {
  position: absolute;
  top: 66px;
  bottom: 0;
  width: 100%;
}

.ie9 .scWizardPageContainer > div:last-child .scWizardFormContentForOldIE {
  top: 45px;
}

.scCalendar {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

.scCalendarDay {
  font-weight: bold;
  cursor: default;
  padding: 3px 6px;
  text-align: center;
  text-transform: uppercase;
  color: #969696;
}

.scCalendarToday {
  font-weight: bold !important;
}

.scCalendarSelected {
  cursor: default;
  text-align: center;
  background-color: #D0EBF6;
  color: #131313;
}

.scCalendarCell, .scCalendarToday {
  cursor: pointer;
  text-align: center;
  border: none;
  line-height: 34px;
  padding: 0 8px;
}

td.scCalendarCell:hover, td.scCalendarToday:hover {
  background-color: #E3E3E3;
  color: #131313;
}
    
.scCalendarCellOtherMonth {
  cursor: default;
  text-align: center;
  color: #969696;
  line-height: 34px;
  padding: 0 8px;
}

.scCalendarTodayCell {
  border: none;
  line-height: 34px;
  padding: 0 8px;
  cursor: default;
  text-align: center;
  border-top: 1px solid #F0F0F0;
}

.scCalendarYearRow {
}

.scCalendarYearLeftCell,
.scCalendarYearMiddleCell,
.scCalendarYearRightCell {
  line-height: 34px;
  padding: 0 8px;
  text-transform: uppercase;
}


/* date/time pickers */
.scDateTimePickerContainer {
    overflow: hidden;
    white-space: nowrap;
}

.scDatePickerComboBox, .scTimePickerComboBox {
    vertical-align: top;
}

.scDatePickerComboBox, .scDateTimePickerContainer > img, .scTimePickerComboBox {
    display: inline-block;
}

    .scDatePickerComboBox[disabled] .scComboboxDropDown, .scTimePickerComboBox[disabled] .scComboboxDropDown {
        background-color: #e3e3e3;
        cursor: auto;
    }

    .scDatePickerComboBox[disabled] .scComboboxEdit, .scTimePickerComboBox[disabled] .scComboboxEdit {
        background-color: #e3e3e3 !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    }

.scTimePicker {
  width: 80px;
  height: 300px;
  overflow: auto;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

  .scTimePicker a {
    height: 16px;
    padding: 1px;
    width: auto;
    text-align: center;
    display: block;
  }

  .scTimePicker li {
    width: 100%;
  }

  .scTimePicker a:hover {
    background-color: #E3E3E3;
    color: #131313;
    text-decoration: none;
  }

  .scTimePicker a:active {
    background-color: #D0EBF6;
  }

.scComboEditInput {
  width: 100%;
}

.scCombobutton, .scCombobuttonEditor {
  border: none;
  display: inline;
  height: 22px;
  padding-right: 1px;
  vertical-align: top;
  white-space: nowrap;
}

.scCombobutton_Disabled, .scCombobuttonEditor_Disabled {
  cursor: default;
  display: inline;
  height: 22px;
  vertical-align: top;
  white-space: nowrap;
}

.scCombobutton_Down, .scCombobuttonEditor_Down {
  cursor: default;
  height: 22px;
  display: inline;
  vertical-align: top;
  white-space: nowrap;
}

.scCombobutton_Hover, .scCombobuttonEditor_Hover {
  cursor: default;
  display: inline;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A5ADAF', EndColorStr='#7A8284');
  height: 22px;
  vertical-align: top;
  white-space: nowrap;
}

.scCombobutton_Hot, .scCombobuttonEditor_Hot {
  cursor: default;
  height: 22px;
  display: inline;
  vertical-align: top;
  white-space: nowrap;
}

.scCombobuttonMain {
  border: none;
  background: transparent;
  color: white;
  display: inline;
  height: 100%;
  padding: 4px 2px 1px 5px;
  white-space: nowrap;
}

.scCombobuttonEditorMain {
  background: transparent;
  border: 1px solid #F0CCA5;
  border-right: none;
  color: black;
  display: inline;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F8EED0', EndColorStr='#F8D5A6');
  height: 100%;
  padding: 3px 2px 0px 4px;
  white-space: nowrap;
}

.scCombobuttonMain_Disabled {
  display: inline;
  height: 100%;
  padding: 4px 2px 1px 5px;
  white-space: nowrap;
  border: none;
  background: transparent;
  color: buttontext;
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
}

.scCombobuttonEditorMain_Disabled {
  background: transparent;
  border: 1px solid #F0CCA5;
  border-right: none;
  color: graytext;
  display: inline;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F8EED0', EndColorStr='#F8D5A6');
  height: 100%;
  padding: 3px 2px 0px 4px;
  white-space: nowrap;
}

.scCombobuttonMain_Down, .scCombobuttonEditorMain_Down {
  height: 100%;
  display: inline;
  padding: 3px 2px 0px 4px;
  white-space: nowrap;
  border: 1px solid #4A4A4A;
  border-right: none;
  color: white;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A5ADAF', EndColorStr='#7A8284');
}

.scCombobuttonMain_Hover, .scCombobuttonEditorMain_Hover {
  height: 100%;
  display: inline;
  padding: 2px 3px 1px;
  white-space: nowrap;
  border: 1px solid #242424;
  border-right: none;
  color: white;
}

.scCombobuttonMain_Hot, .scCombobuttonEditorMain_Hot {
  height: 100%;
  display: inline;
  padding: 3px 2px 0px 4px;
  white-space: nowrap;
  border: 1px solid #242424;
  border-right: none;
  color: white;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7A8284', EndColorStr='#A4ACAE');
}

.scCombobuttonDrop {
  display: inline;
  height: 100%;
  padding: 4px 1px 1px 3px;
  border: none;
}

.scCombobuttonEditorDrop {
  border: 1px solid #F0CCA5;
  border-left: none;
  display: inline;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F8EED0', EndColorStr='#F8D5A6');
  height: 100%;
  padding: 3px 0px 0px 3px;
}

.scCombobuttonDrop_Disabled {
  display: inline;
  height: 100%;
  padding: 4px 1px 1px 3px;
  border: none;
}

.scCombobuttonEditorDrop_Disabled {
  border: 1px solid #F0CCA5;
  border-left: none;
  display: inline;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F8EED0', EndColorStr='#F8D5A6');
  height: 100%;
  padding: 3px 0px 0px 3px;
}

.scCombobuttonDrop_Down, .scCombobuttonEditorDrop_Down {
  display: inline;
  height: 100%;
  padding: 3px 1px 0px 2px;
  border: 1px solid #242424;
  border-left: 1px solid #6E7475;
  color: buttontext;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#7A8284', EndColorStr='#A5ADAF');
}

.scCombobuttonDrop_Hover, .scCombobuttonEditorDrop_Hover {
  display: inline;
  height: 100%;
  padding: 2px 2px 1px 1px;
  border: 1px solid #242424;
  border-left: 1px solid #6E7475;
  color: buttontext;
}

.scCombobuttonDrop_Hot, .scCombobuttonEditorDrop_Hot {
  display: inline;
  height: 100%;
  padding: 3px 1px 0px 2px;
  border: 1px solid #242424;
  border-left: 1px solid #6E7475;
  color: buttontext;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A5ADAF', EndColorStr='#7A8284');
}

.scContentEditorItemInformationLine {
  font: 9pt verdana;
  color: black;
  padding: 3px;
}

.scContentEditorItemInformationHeader {
  color: white;
  font-weight: bold;
}

.scContentLabel {
  color: #6487DC;
  padding: 16px 0px 1px 0px;
}

a.scContentLabelLink, a.scContentLabelLink:active, a.scContentLabelLink:visited {
  color: #6487DC;
  padding-bottom: 1px;
  text-decoration: none;
}

  a.scContentLabelLink:hover {
    color: #6487DC;
    padding-bottom: 1px;
    text-decoration: underline;
  }

.scContentControl {
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -khtml-box-sizing: border-box;
    min-height: 35px;
    padding: 5px;
}

    .scContentControl[disabled] .scComboboxEdit, .scContentControl[disabled] .scComboboxDropDown {
        background-color: #e3e3e3 !important;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

        .scContentControl[disabled] .scComboboxEdit:active, .scContentControl[disabled] .scComboboxDropDown:active {
        }

iframe.scContentControl {
  padding: 0 0 0 5px;
}

.scContentControl_Active {
  background: white;
  border: 1px solid activecaption;
  color: black;
  font: 10pt verdana;
  width: 100%;
}

.scContentControlComboControl {
  border: 1px solid #cccccc;
  color: black;
  width: 100%;
}

.scContentControlChecklist {
  background: white;
  border: 1px solid #e3e3e3;
  padding-left: 5px;
  height: 150px;
}

.scContentControlChecklist input {
  margin-top: 5px;
}

.scContentControlTreelist {
  position: relative;
}

.scTreelistEx {
    border: 1px solid #ccc;
    background: white;
    height: 150px;
    overflow: auto;
}

.scTreelistEx > div {
    padding: 2px 0 2px 5px;
}

.scTreeListHalfPart {
  height: 100%;
  width: 50%;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.ie .scTreeListHalfPart {
  height: calc(100% - 1px);
}

.scTreeListHalfPart > div:first-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 25px;
}

.ff .scContentControlChecklist label, .ff .scContentControlChecklist input {
  float: left;
}

.ff .scContentControlChecklist label {
  padding-top: 2px;
}

.ff .scContentControlChecklist br {
  clear: left;
}

.scContentControlChecklist_Active {
  background: white;
  border: 1px solid activecaption;
  color: black;
}

.scContentControlMemo {
  height: 80px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
}

.scContentControlMemo_Active {
  height: 80px;
  width: 100%;
}

.scContentControlCheckbox {
}

.scContentControlHtml {
  border: 1px solid #cccccc;
  height: 100%;
  width: 100%;
}

.defaultFieldEditorsFrameContainer {
  height: 150px;
}

.defaultFieldEditorsMultilistContainer {
    height: 250px;
}

    .defaultFieldEditorsFrameContainer > iframe {
        box-sizing: border-box;
    }

.scContentControlHtmlToolbar {
  padding: 1px 2px 1px 2px;
  background: #505050 url(/sitecore/shell/themes/standard/Images/Toolbar/ToolbarBackground.png) repeat-x;
}

.scContentControlHtmlToolbarButton, .scContentControlHtmlToolbarButton:link, .scContentControlHtmlToolbarButton:visited, .scContentControlHtmlToolbarButton:hover, .scContentControlHtmlToolbarButton:active {
  color: #303030;
  cursor: default;
  padding: 2px 2px 2px 2px;
  text-decoration: none;
  white-space: nowrap;
}

  .scContentControlHtmlToolbarButton:active {
    border: 1px solid;
    border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
    background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
    padding: 1px 1px 1px 1px;
  }

  .scContentControlHtmlToolbarButton:hover {
    border: 1px solid;
    border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
    background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonSmallButtonHover.png) repeat-x;
    padding: 1px 1px 1px 1px;
    text-decoration: underline;
  }


.scContentControlHtml_Active {
  border: 1px solid activecaption;
  height: 100%;
  width: 100%;
}

.scContentControlIFrame {
  border: 1px solid #cccccc;
  color: black;
  height: 150px;
  width: 100%;
}

.scContentControlIFrame_Active {
  border: 1px solid activecaption;
  color: black;
  height: 80px;
  width: 100%;
}

.scContentControlImage {
}

.scContentControlImage_Active {
}

.scContentControlImagePane {
  border: 1px solid #cccccc;
  border-top: none;
}

.scContentControlImageImage {
  padding: 8px 12px;
  background-color: #fff;
  text-align: center;
}

.scContentControlImageDetails {
  padding: 8px 12px;
  color: #969696;
}

.scContentControlAttachment {
  background: transparent;
  border: 1px solid #cccccc;
  color: black;
  font: 10pt verdana;
  width: 100%;
}

.scContentControlAttachment_Active {
  background: transparent;
  border: 1px solid activecaption;
  color: black;
  font: 10pt verdana;
  width: 100%;
}

.scContentControlAttachmentPane {
  background: #e9e9e9;
  color: black;
  margin: 0px 0px 0px 0px;
  width: 100%;
}

.scContentControlAttachmentImage {
  background: white;
  border: 1px solid #e3e3e3;
  text-align: center;
}


.scMultilistNav {
  width:200%;
  overflow:hidden;
  height:50px;
  white-space: nowrap;
}

  .scMultilistNav a {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
  }

.scMultilistNav a img {
margin: 0 5px;
}

.scMultilistNav a:nth-of-type(1) {
padding-left: 15px;
}

.scMultilistNav a:nth-of-type(2) {
padding-right: 15px;
border-right:1px solid #ccc;
}

.scMultilistNav a:nth-of-type(4) {
padding-right: 15px;
border-right:1px solid #ccc;
}

.scMultilistNav > span {
display: inline-block;
line-height:50px;
}

.scContentControlMultilist {
  width: 100%;
  height: 100%;
  table-layout: fixed;
  padding: 5px;
}

.scContentControlMultilistCaption {
  color: #666;
}


.scContentControlTree {
  position: absolute;
  top: 20px;
  bottom: 0;
  height: auto !important;
  left: 0;
  right: 0;
  border: 1px solid #e3e3e3;
}

.scContentControlTree.scScrollbox {
  padding: 10px 0;
}

.scContentControlMultilistContainer, .scContentControlSearchListContainer {
    height: 100%;
    overflow: auto;
    box-sizing: border-box;
}

.ie .scContentControlSearchListContainer {
    padding-bottom: 30px;
}

.ie .scContentControlMultilistContainer {
    padding-bottom: 50px;
}

.ff .scContentControlSearchListContainer {
    padding-bottom: 15px;
}

.scContentControlMultilistBox {
  border: 1px solid #e3e3e3;
  border-bottom: 0px;
  height: 100%;
}

.scContentControlNavigation {
  padding-top: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 25px;
}

  .scContentControlNavigation > img {
    margin: 5px;
    display: block;
  }


.scContentControlTreeListHelp {
  background-color: #f7f7f7;
  line-height: 30px;
  height: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  border: 1px solid #e3e3e3;
  border-top: 0px;
  padding: 0 10px;
}

.scContentControlMultilistHelp {
  background-color: #f7f7f7;
  height: 20px;
  line-height: 20px;
  border: 1px solid #e3e3e3;
  border-top: 0px;
  padding: 5px;
}

.scContentControlSelectedList {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 30px;
  z-index: 5;
}

  .scContentControlSelectedList > select {
    height: 100%;
  }

.scContentControlSecurity {
  border: 1px solid #cccccc;
  color: black;
  width: 100%;
  height: 100% !important;
}

.scContentControlSecurity_Active {
  border: 1px solid activecaption;
  color: black;
  width: 100%;
}

.scContentControlTreelistEx {
  height: 80px;
  width: 100%;
  overflow: auto;
}

  .scContentControlTreelistEx div {
    padding: 2px;
  }

.scContentHeaderLabel {
  color: white;
  padding: 6px 0px 1px 0px;
}

a.scHyperlinkButton {
  color: #DC291E;
  white-space: nowrap;
  display: inline-block;
  border-right: 1px solid #ccc;
  padding: 0 14px 0 15px;
}

  a.scHyperlinkButton:hover,
  a.scHyperlinkButton:active {
    text-decoration: underline;
  }

  a.scHyperlinkButton:first-of-type {
    padding-left: 0;
  }

  a.scHyperlinkButton:last-of-type {
    border-right: 0;
  }

.scGrayGradient {
}

.scGrayGradientLightShadow {
}

.scWhiteBackground {
  background-color: #fff;
}

.scGreyBackground {
  background-color: #f0f0f0;
}

.scBlueGradient {
  background: #5A6B7D url(/sitecore/shell/themes/standard/gradients/blue1.gif) 50% 0 repeat-y;
}

.scBlueGradientLightShadow {
  background: #818E9C url(/sitecore/shell/themes/standard/gradients/blue2.gif) 50% 0 repeat-y;
}

.scDocumentBlueGradient {
  background: #274092 url(/sitecore/shell/themes/standard/gradients/documentblue1.gif) 50% 0 repeat-y;
}

.scGreenGradient {
  background: #f7f7f7;
}

.scGreenGradientLightShadow {
  background: #7F9847 url(/sitecore/shell/themes/standard/gradients/green2.gif) 50% 0 repeat-y;
}

.scLightBlueGradient {
  background: #8595A4 url(/sitecore/shell/themes/standard/gradients/lightblue1.gif) 50% 0 repeat-y;
}

.scOrangeGradient {
  background: #D2662B url(/sitecore/shell/themes/standard/gradients/orange1.gif) 50% 0 repeat-y;
}

.scOrange2Gradient {
  background: #d2662b url(/sitecore/shell/themes/standard/gradients/orange2.gif) 50% 0 repeat-y;
}

.scPurpleGradient {
  background: #2B0C2B url(/sitecore/shell/themes/standard/gradients/purple1.gif) 50% 0 repeat-y;
}

.scRedGradient {
  background: #761819 url(/sitecore/shell/themes/standard/gradients/red1.gif) 50% 0 repeat-y;
}

.scListview {
  height: 100%;
  overflow: auto;
}

.scListviewItemReport {
  color: windowtext;
  cursor: default;
  overflow: hidden;
  padding: 3px;
  text-overflow: ellipsis;
  vertical-align: top;
}

.scListviewItemReport_Selected {
  background: #F6D2AB;
  border: 1px solid #F0CCA5;
  color: #46448D;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F8EED0', EndColorStr='#F8D5A6');
  cursor: default;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  vertical-align: top;
}

.scListviewViewReportIcon {
  cursor: default;
  padding-bottom: 4px;
}

.scListviewItemIcons {
  cursor: default;
  display: block;
  overflow: hidden;
  margin: 5px 25px 15px 5px;
  padding: 35px 5px 0 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  width: 128px;
  height: 128px;
  float: left;
  border: 1px solid #e3e3e3;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

  .scListviewItemIcons:hover {
    background: #e3e3e3;
  }

.scListviewItemIcons_Selected {
  background: #aadbee;
  color: #46448D;
  cursor: default;
  display: block;
  overflow: hidden;
  margin: 5px 25px 15px 5px;
  padding: 35px 5px 0 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
  width: 128px;
  height: 128px;
  float: left;
  border: 1px solid #e3e3e3;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scListviewViewIconsIcon {
  cursor: default;
  padding-bottom: 4px;
}

.scListviewItemList {
  cursor: default;
  display: inline;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  float: left;
}

  .scListviewItemList:hover {
    background: #e3e3e3;
  }

.scListviewItemList_Selected {
  background: #aadbee;
  color: #46448D;
  cursor: default;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F8EED0', EndColorStr='#F8D5A6');
  display: inline;
  overflow: hidden;
  padding: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
  float: left;
}

.scListviewItemDetails {
  cursor: default;
  overflow: hidden;
  padding: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scListviewItemDetails_Selected {
  cursor: default;
  overflow: hidden;
  padding: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scListviewItemDetailsCell, .scListviewItemDetailsCell_Selected {
  cursor: default;
  padding: 5px 10px;
  white-space: nowrap;
}

  .scListviewItemDetailsCell > img, .scListviewItemDetailsCell_Selected > img {
    margin-right: 5px;
  }

.scListviewItemDetailsCell_Selected {
  background-color: #D0EBF6;
}

.scListviewItemThumbnails {
  color: windowtext;
  cursor: default;
  display: inline;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 100px;
}

.scListviewItemThumbnails_Selected {
  background: #F8D5A6;
  border: 1px solid #F6D2AB;
  color: #46448D;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#F8EED0', EndColorStr='#F8D5A6');
  cursor: default;
  display: inline;
  overflow: hidden;
  padding: 4px;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 100px;
}

.scListviewItemThumbnailsIcon {
  border: 1px solid threedface;
  cursor: default;
  height: 72px;
  vertical-align: baseline;
  width: 72px;
}

.scListviewItemDocument {
  border-bottom: 1px solid threedface;
  color: highlight;
  cursor: default;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
}

.scListviewItemDocument_Selected {
  border-bottom: 1px solid threedface;
  background: highlight;
  color: highlighttext;
  cursor: default;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
}

.scListviewItemDocumentTitle {
  color: windowtext;
}

.scListviewItemDocumentText {
  color: windowtext;
}

.scListviewDetailline {
  padding: 2px 0px 2px 0px;
}

.scListviewNavigator {
  background: threedface;
  border-left: 1px solid threedhighlight;
  border-top: 1px solid threedhighlight;
  border-right: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
  padding: 2px 4px 2px 4px;
  white-space: nowrap;
}

.scListviewNavigatorItem {
  font-weight: bold;
}

.scListviewNavigatorItemActive {
  color: activecaption;
  font-weight: bold;
}

.scListviewViewDetailsHeader {
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  line-height: 32px;
  padding: 0 15px;
  text-align: left;
  white-space: nowrap;
}

  .scListviewViewDetailsHeader:first-child {
    border-left: 1px solid #ccc;
  }


.scListviewViewDetailsHeaderHover {
  background-color: #f7f7f7;
  border-right: 1px solid #ccc;
  height: 17px;
  padding: 1px 3px 1px 3px;
  text-align: left;
  white-space: nowrap;
}

.scMenu,
.scPopup {
  background-color: #fff;
  border-collapse: separate;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  overflow-x: hidden !important;
  overflow-y: auto !important;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scPopup.scPopupSharp {
    border: none;
}

    .scPopup > .scMenu {
        background-color: transparent;
        border: 0px;
        border-collapse: separate;
        border-radius: 0px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        height: 100%;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }




.scMenuHeader {
  font-weight: bold;
  font-size: 14px;
  padding: 15px 15px 5px;
}




/*.scMenu tr:first-child td:nth-child(1),
.scMenu tr:first-child td:nth-child(2),
.scMenu tr:first-child td:nth-child(3) {
    padding: 15px 15px 5px;
}

.scMenu tr:last-child td:nth-child(1),
.scMenu tr:last-child td:nth-child(2),
.scMenu tr:last-child td:nth-child(3) {
    padding: 5px 15px 15px;
}*/


.scMenuItem {
  padding: 5px 15px;
  line-height: 140%;
}

.scMenuItemIcon,
.scMenuItemCaption,
.scMenuItemHotkey,
.scMenuItemIcon_Hover,
.scMenuItemCaption_Hover,
.scMenuItemHotkey_Hover,
.scMenuPanelItem_Hover,
.scMenuPanelItemSelected_Hover,
.scMenuItemIcon_Disabled,
.scMenuItemCaption_Disabled,
.scMenuItemHotkey_Disabled {
  white-space: nowrap;
  padding: 0 5px;
  vertical-align: middle;
}

.scMenuItemIcon,
.scMenuItemIcon_Hover,
.scMenuItemIcon_Disabled {
  width: 24px;
  padding-left: 15px;
  padding-right: 0;
  padding-top:5px;
  padding-bottom:5px;
}


.scMenuItemIcon_Hover,
.scMenuItemCaption_Hover,
.scMenuItemHotkey_Hover,
.scMenuPanelItemSelected_Hover,
.scMenuPanelItem_Hover {
  background-color: #E3E3E3;
  cursor: pointer;
}

.scMenuItemIcon_Disabled,
.scMenuItemCaption_Disabled,
.scMenuItemHotkey_Disabled {
  color: #cccccc;
  cursor: default;
}

  .scMenuItemIcon_Disabled > img {
    opacity: 0.4;
    filter: alpha(opacity=40);
  }

.scMenuDividerIcon {
  background-color: #e3e3e3;
  height: 1px;
}

  .scMenuDividerIcon img {
    display: block;
  }



.scScrollbox .scRibbonToolbarSmallButton {
  white-space: nowrap;
  padding: 8px 15px;
  vertical-align: middle;
}

.scScrollbox a.scRibbonToolbarSmallButton:hover {
  text-decoration: none;
}

.scScrollbox .scRibbonToolbarSmallButton > img {
  padding-right: 10px;
}




.scMenuDividerCaption {
  background-color: #e3e3e3;
  /*border-top: 1px solid #fafafa;*/
  /*border-bottom: 1px solid #fafafa;
  border-left: 2px solid #fafafa;*/
  height: 1px;
}

  .scMenuDividerCaption img {
    display: block;
  }

.scMenuDividerHotkey {
  background-color: #e3e3e3;
  /*border-top: 1px solid #fafafa;*/
  /*border-bottom: 1px solid #fafafa;*/
  height: 1px;
}

  .scMenuDividerHotkey img {
    display: block;
  }

.scMenuPanelItem,
.scMenuPanelItemSelected {
  white-space: nowrap;
  padding: 0 5px;
}

.versionNumSelected,
.scMenuPanelItemSelected {
  background-color: #D0EBF6;
}

.versionNum,
.versionNumSelected {
  padding: 10px;
}

.scMenubar {
  background: threedface;
  border: none;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#F1F3F1', EndColorStr='#ECE9D8');
  width: 100%;
  padding: 1px 0px 1px 2px;
}

.scBorderCell {
  border: 1px solid threedface;
}

.scBorderCellHigh {
  color: highlighttext;
  background: highlight;
}

.scBorderCellSelected {
  color: captiontext;
  background: activecaption;
}

.scDarkBorderCell {
  border: 1px solid #D4D0C8;
}

.scNotebookFrame {
  border-left: 1px solid threedhighlight;
  border-bottom: 1px solid threedshadow;
  border-right: 1px solid threedshadow;
}

.scScrollbox {
  background-color: #fff;
  height: 100%;
  overflow: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.scScrollboxStretchAbsolute {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 15px;
}

.scStretchAbsolute {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.scMarginAbsolute {
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
}

.scStretch {
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.scScroller {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.wk .scScroller {
  margin-bottom: 2px;
}

.scScrollerLeft {
  display: none;
}

.scScrollerRight {
  display: none;
}

.scShellTasks {
  background: url(/sitecore/shell/themes/standard/images/gradient2800x16.png) 50% 0 repeat;
  height: 100%;
  padding: 8px;
  width: 100%;
}

.scShellDetails {
  padding: 6px;
}

.scSpinEditButton {
  padding-bottom: 1px;
}

.scSpinEditInput {
  border-top: 1px solid #7F9DB9;
  border-left: 1px solid #7F9DB9;
  border-bottom: 1px solid #7F9DB9;
  border-right: none;
  height: 22px;
  width: 100%;
}

.scTaskboxOption {
  cursor: default;
}

.scTaskboxOption_Hover {
  cursor: default;
  text-decoration: underline;
}

.scTaskboxBody {
  height: 100%;
  overflow: auto;
  padding: 4px;
  width: 100%;
}

.scTabstripTopTabs {
  border-top: 2px solid #FFFBE9;
  background: #FFFBE9;
}

.scTabstripTopTabs_Tab {
  color: #817E73;
  border-bottom: 2px groove;
  padding: 3px 8px 3px 8px;
}

.scTabstripTopTabs_TabHover {
  color: #F93;
  text-decoration: underline;
  border-bottom: 2px groove;
  padding: 3px 8px 3px 8px;
}

.scTabstripTopTabs_ActiveTab {
  background: threedface;
  font-weight: bold;
  border-left: 1px solid threedhighlight;
  border-top: 1px solid threedhighlight;
  border-right: 1px solid threeddarkshadow;
  padding: 3px 8px 3px 8px;
}

.scTabstripTopTabs_ActiveTabHover {
  background: threedface;
  color: #F93;
  font-weight: bold;
  text-decoration: underline;
  border-left: 1px solid threedhighlight;
  border-top: 1px solid threedhighlight;
  border-right: 1px solid threeddarkshadow;
  padding: 3px 8px 3px 8px;
}

.scTabstripTopTabs_Filler {
  border-bottom: 2px groove;
}

.scTabstripBottomTabs {
  border-bottom: 2px solid #FFFBE9;
  background: #FFFBE9;
}

.scTabstripBottomTabs_Tab {
  color: #817E73;
  border-top: 2px groove;
  padding: 4px 8px 4px 8px;
}

.scTabstripBottomTabs_TabHover {
  color: #F93;
  text-decoration: underline;
  border-top: 2px groove;
  padding: 3px 8px 3px 8px;
}

.scTabstripBottomTabs_ActiveTab {
  background: threedface;
  font-weight: bold;
  border-left: 1px solid threedhighlight;
  border-bottom: 1px solid threeddarkshadow;
  border-right: 1px solid threeddarkshadow;
  padding: 3px 8px 3px 8px;
}

.scTabstripBottomTabs_ActiveTabHover {
  background: threedface;
  color: #F93;
  font-weight: bold;
  text-decoration: underline;
  border-left: 1px solid threedhighlight;
  border-bottom: 1px solid threeddarkshadow;
  border-right: 1px solid threeddarkshadow;
  padding: 3px 8px 3px 8px;
}

.scTabstripBottomTabs_Filler {
  border-top: 2px groove;
}

.scTabstripButtons {
  border: 3px solid #FFFBE9;
  background: #FFFBE9;
}

.scTabstripButtons_Tab {
  color: #817E73;
  padding: 3px 9px 3px 9px;
}

.scTabstripButtons_TabHover {
  color: #F93;
  text-decoration: underline;
  padding: 3px 9px 3px 9px;
}

.scTabstripButtons_ActiveTab {
  background: window;
  border: 1px solid #316AC5;
  padding: 2px 8px 2px 8px;
}

.scTabstripButtons_ActiveTabHover {
  background: window;
  color: #F93;
  text-decoration: underline;
  border: 1px solid #316AC5;
  padding: 2px 8px 2px 8px;
}

.scTaskboxCaption {
  color: #0148B2;
  background: #C5D2F0;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#FFFFFF', EndColorStr='#C5D2F0');
}

.scTaskboxBody {
  background: white;
}

.scTaskOption {
  color: white;
  font-weight: bold;
  cursor: default;
  padding: 6px 0px;
  white-space: nowrap;
}

.scTaskOption_Hover {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  cursor: default;
  padding: 6px 0px;
  white-space: nowrap;
}

.scDisabledTaskOption {
  color: graytext;
  font-weight: bold;
  cursor: default;
  padding: 6px 0px;
  white-space: nowrap;
}

.scToolbar {
  border: none;
  padding: 13px;
  background: #f0f0f0;
}

.scToolbutton,
.scToolbutton_Disabled,
.scToolbutton_Down,
.scToolbutton_Down_Hover,
.scToolbutton_Hover,
.scToolbutton_Hot {
  background: transparent;
  border: none;
  cursor: default;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  padding-right: 12px;
  color: #474747;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

    .scToolbutton:last-of-type,
    .scToolbutton_Disabled:last-of-type,
    .scToolbutton_Down:last-of-type,
    .scToolbutton_Down_Hoverlast-of-type,
    .scToolbutton_Hoverlast-of-type,
    .scToolbutton_Hotlast-of-type {
        margin-right: 0;
    }

.scToolbutton_Disabled {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);
  border: none;
  cursor: default;
}

.scToolbutton_Down {
  background: #E3E3E3;
  cursor: pointer;
}

.scToolbutton_Down_Hover {
  background: #E3E3E3;
  cursor: pointer;
}

.scToolbutton:hover, 
.scToolbutton_Hover {
  cursor: pointer;
  opacity: 0.6;
  text-decoration: underline;
}

.scToolbutton_Hot {
  background: #E3E3E3;
  cursor: pointer;
}

  .scToolbutton img,
  .scToolbutton_Disabled img,
  .scToolbutton_Down img,
  .scToolbutton_Down_Hover img,
  .scToolbutton_Hover img,
  .scToolbutton_Hot img {
    vertical-align: middle;
    margin: 0 10px 0 0 !important;
  }

.scPropertyInspectorEditor {
  border: none;
  background: transparent;
  width: 100%;
}

.scFieldCaption {
  color: #666;
  border-top: 1px solid threedshadow;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid threedshadow;
  background: threedface;
  padding: 5px 0px 0px 8px;
}

.scFieldBody {
  background: window;
  border-top: 1px solid threedshadow;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid threedshadow;
}

.scFieldBodySpace {
  background: threedface;
  border-top: 1px solid threedshadow;
  border-left: none;
  border-right: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
}

table.scTemplateEditorInspector {
  border-collapse: collapse;
  color: windowtext;
}

.scTemplateEditorSelector {
  border: none;
  background: transparent;
  width: 100%;
}

.scTaskTitle {
  font-weight: bold;
  color: white;
  height: 28px;
}

.scTaskHeadline {
  font: bold 18pt tahoma;
  color: #D6DFF5;
}

.scTaskWhatDoYouWantToDo {
  font: bold 18pt tahoma;
  color: #e9e9e9;
  padding: 0px 0px 4px 0px;
}

.scTaskGradient {
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#3366CC', EndColorStr='#6375D6');
  height: 28px;
}

a.scTagTracker, a.scTagTracker:active, a.scTagTracker:visited {
  color: windowtext;
  text-decoration: none;
  padding: 1px;
  white-space: nowrap;
}

  a.scTagTracker:hover {
    color: activecaption;
    text-decoration: underline;
    padding: 1px;
    white-space: nowrap;
  }

.scTagTrackerSelected {
  font-weight: bold;
  color: windowtext;
  padding: 1px;
  white-space: nowrap;
}

.scInspector {
  background: appworkspace;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.scInspectorGrid {
  background: threedface;
  border-collapse: collapse;
  border: none;
}

.scInspectorSection {
  color: #666;
  border: 1px solid threedshadow;
  border-left: none;
  border-right: none;
  white-space: nowrap;
  padding: 0px 4px 0px 4px;
}

.scInspectorKey {
  color: #666;
  border: 1px solid threedshadow;
  border-left: none;
  white-space: nowrap;
  padding: 0px 4px 0px 4px;
}

.scInspectorValue {
  background: window;
  color: windowtext;
  border: 1px solid threedshadow;
  border-right: none;
  width: 100%;
  padding-left: 4px;
}

.scInspectorButtons {
  background: window;
  color: windowtext;
  border: 1px solid threedshadow;
  border-left: none;
  border-right: none;
  padding: 0px;
}

.scInspectorButton {
  font: bold 10pt arial;
  color: buttontext;
  background: buttonface;
  width: 19px;
  height: 19px;
}

.scInspectorInput {
  border: none;
  width: 100%;
  background: transparent;
}

.scInspectorDropdown {
  border: none;
  width: 100%;
  background: transparent;
}

.scInspectorHeader {
  font-weight: bold;
  border: none;
  padding: 4px;
  background: threedlightshadow;
}

.scInspectorText {
  color: #666;
  text-align: center;
}

a.scInspectorTaglist, a:hover.scInspectorTaglist, a:active.scInspectorTaglist, a:visited.scInspectorTaglist {
  color: Black;
  border: none;
  text-decoration: none;
  background: transparent;
}

a.scInspectorInspectedtag, a:hover.scInspectorInspectedtag, a:active.scInspectorInspectedtag, a:visited.scInspectorInspectedtag {
  color: highlighttext;
  border: none;
  text-decoration: none;
  background: highlight;
}

.scWizardHeader {
  color: #fff;
  background-color: #2b2b2b;
  min-height: 64px;
}

.ie8 .scWizardHeader, .ie9 .scWizardHeader {
  height: 64px;
  overflow: hidden;
}

.scWizardHeader > img {
  float: right;
  margin-top: 10px;
  margin-right: 5px;
}

.scWizardTitle {
  font-weight: bold;
  margin: 5px 0 5px 15px;
}

.scWizardText {
  margin-left: 15px;
  padding-bottom: 4px;
}

.scWizardWelcomeTitle {
  font: bold 12pt verdana;
  padding-bottom: 16px;
}

.scWizardWelcomePanel {
  color: windowtext;
  background: window;
  padding: 8px;
}

.scWizardSkip {
  position: absolute;
  bottom: 10px;
}

.scWizardTextPanel {
  padding: 8px 36px 0px 36px;
}

.scWizardTextline {
  color: windowtext;
  padding-bottom: 8px;
}

.scWizardDocument {
  font: 9pt Courier New;
  width: 412px;
  height: 100%;
  overflow: auto;
  border: 1px inset;
  color: windowtext;
  background: window;
}

.ie8 .scWizardLastPageResultText, .ie9 .scWizardLastPageResultText {
  position: absolute;
  top: 65px;
  bottom: 0;
  width: 100%;
}

.wizardCompleteText {
  padding-bottom: 16px;
  font-weight: bold;
  display: inline-block;
}

.wizardResult {
  padding-bottom: 2px;
  display: inline-block;
}

li.scWizardBullet {
  padding-bottom: 8px;
}

.scRollOver {
  cursor: default;
  text-decoration: none;
}

  .scRollOver_Hover, .scRollOver:hover {
    cursor: pointer;
    text-decoration: underline;
  }

.scRollOver2 {
  cursor: default;
  text-decoration: none;
}

.scRollOver2_Hover {
  background: #EDB078;
  cursor: default;
  text-decoration: none;
}

.scRollover,
.scRollover_Hover{
  cursor: pointer;
  text-decoration: none;
  color:#DC291E;
  margin-right:15px;
}

  .scRollover img,
  .scRollover_Hover img {
    display:none;
  }

.scSection {
  width: 100%;
  margin-bottom: 1px;
}

.scSectionLeft {
  background-color: #474747;
}

.scSectionCenter {
  color: #fff;
  font-weight: bold;
  font-size:12px;
  line-height: 36px;
  width: 100%;
  background-color: #474747;
  padding-left: 15px !important;
  border-left: 5px solid #DC291E;
}

.scSectionRight {
  padding: 10px;
  background-color: #474747;
  text-align: right;
}

.scSectionRight a {
  margin-right: 10px;
}

.scSectionCenter, .scSectionRight {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.scCollapsed .scSectionCenter {
    background-color: #969696;
    border-left: 5px solid #969696;
}

.scCollapsed .scSectionRight {
    background-color: #969696;
}

.scCommandbarContainer {
    overflow: hidden;
    padding: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.scCommandContainer {
    display: inline-block;
}

.scCommand,
.scCommand_Hover {
  cursor: default;
  padding: 10px;
  white-space: nowrap;
}

.scCommand_Hover {
  cursor: pointer;
  background-color:#E3E3E3;
}

.scCombobox {
  white-space: nowrap;
  min-height: 35px;
}

  .scCombobox td {
    padding: 0 !important;
  }

input[type="text"][readonly].scComboboxEdit {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 35px;
  background: white;
  border-color: #cccccc;
  box-shadow: none !important;
}

.scComboboxDropDown {
  margin: 0;
  background-color: #fff;
  padding: 14px 5px;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: pointer;
}


  .scComboboxDropDown:hover {
    background-color: #e3e3e3;
  }

.scListbox {
  cursor: default;
  overflow: auto;
  border: 3px inset;
}

.scListboxItem {
  font: 10pt arial;
  padding: 1px;
  white-space: nowrap;
}

.scListboxItem_Selected {
  background: highlight;
  color: highlighttext;
  font: 10pt arial;
  padding: 1px;
  white-space: nowrap;
}

.scInformationBar {
  background: infobackground;
  color: infotext;
  padding: 6px 2px 6px 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #666666;
}

.scFieldLabel {
  padding: 10px 0 10px;
  display: block;
}

  .scFieldLabel:first-child, .scFieldLabel + .scFieldLabel, legend + .scFieldLabel, input[type=hidden] + .scFieldLabel {
    padding-top: 0;
  }

  .scFieldLabel + fieldset {
      margin-top: 0;
  }

.scFieldInput {
  background: window;
  border-bottom: 1px solid threedshadow;
  padding: 0px 0px 0px 4px;
  width: 100%;
}

.scFieldSection {
  background: threedface;
  padding: 2px 0px 2px 4px;
  border-bottom: 1px solid threedshadow;
  font: bold 8pt tahoma;
}

.scFieldTextbox {
  border: none;
}

.scContentControlLayout {
}

.scContentControlLayout_Active {
  border: 1px solid activecaption;
  background: #e9e9e9;
  margin: 0px 0px 16px 0px;
}

.scContentControlLayoutDevice {
  margin: 10px 0;
  white-space: nowrap;
}

.scContentControlLayoutDevice_Active {
  background: #e9e9e9;
  white-space: nowrap;
}

.scContentControlLayoutDeviceName {
  padding: 5px 0px;
  white-space: normal;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  display:inline-block;
  width:15%;
  min-width:65px;
  vertical-align: top;
}

.scContentControlLayoutDeviceRenderings {
  padding: 5px 10px;
  display:inline-block;
  width:85%;
  min-width: 330px;
  box-sizing: border-box;
}

.scTabstripContainer {
  position: relative;
  height: 100%;
}

.scTabstrip {
  height: 42px;
  vertical-align: bottom;
  position: relative;
  z-index: 999;
  border-bottom: 2px solid #474747;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ff .scTabstrip {
  width: 100%;
}

.scTabs {
  background-color: #fff;
  position: absolute;
  z-index: 9;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

.scTabPage {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow: auto;
  padding: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top: 0;
}

.scTab,
.scTab_Hover,
.scTabActive,
.scTabActive_Hover {
  background-color: #fff;
  cursor: pointer;
  line-height: 39px;
  padding: 0 20px;
  vertical-align: top;
  display: inline-block;
  color: #5e5e5e;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  white-space: nowrap;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.scTabActive,
.scTabActive_Hover {
    background-color: #474747;
    color: #fff;
    cursor: default;
    position: relative;
    left: -1px;
    border-top: 1px solid #474747;
    border-right: none;
    padding: 0 19px 0 21px;
}

    .scTabActive:after, .scTabActive_Hover:after {
        content: ".";
        display: inline-block;
        color: transparent;
        background: #474747;
        width: 1px;
        position: relative;
        right: -20px;
        height: 40px;
        top: -1px;
    }

.scTab_Hover {
    background-color: #e3e3e3;
}


nobr:first-child > .scTab,
nobr:first-child > .scTab_Hover {
  border-left: 1px solid #ccc;
}

nobr:first-child > .scTabActive,
nobr:first-child > .scTabActive_Hover {
    border-left: 1px solid #474747;
    position: static;
    padding: 0 20px;
}

nobr:last-child > .scTabActive,
nobr:last-child > .scTabActive_Hover {
  border-right: 1px solid #474747;
}

.scTabFiller {
  background: transparent;
  width: 100%;
}

.scVerticalTabstrip .scVerticalTabs {
  border-right: 2px solid #474747;
  overflow: auto;
  margin-right: 15px;
}

  .scVerticalTabstrip .scVerticalTabs a,
  .scVerticalTabstrip .scVerticalTabs span.header {
    padding: 0 8px;
    line-height: 34px;
    display: block;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-right: 0;
  }

    .scVerticalTabstrip .scVerticalTabs a {
        border-bottom: 0;
    }

    .scVerticalTabstrip .scVerticalTabs a:last-child {
        border-bottom: 1px solid #ccc;
    }

    .scVerticalTabstrip .scVerticalTabs a.active,
    .scVerticalTabstrip .scVerticalTabs a.active:hover {
      background-color: #474747;
      color: #fff;
      border: 1px solid #474747;
      border-right: 0;
    }
        .scVerticalTabstrip .scVerticalTabs a.active + a {
            border-top: 0;
        }

    .scVerticalTabstrip .scVerticalTabs a:hover {
      background-color: #E3E3E3;
      text-decoration: none;
    }

  .scVerticalTabstrip .scVerticalTabs span.header {
    font-weight: bold;
    border:0px;
    display:none;
  }

.scVerticalTabstrip .scTabContent {
}

.scViewerHeadline {
  background: #a7a9bf url(/sitecore/portal/tech/head.gif) repeat-x;
  border-top: 1px solid #b6b8cb;
  border-bottom: 1px solid #cdcedb;
  color: white;
  padding: 2px;
  font: 16pt Franklin Gothic Medium;
  height: 33px;
}

.scDesktopItemIcons {
  cursor: default;
  display: inline;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 80px;
}

.scDesktopItemIcons_Selected {
  background: highlight;
  color: highlighttext;
  cursor: default;
  display: inline;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 80px;
}

.scDesktopViewIconsIcon {
  cursor: default;
  padding-bottom: 4px;
}

.scWindowManagementButton,
.scWindowManagementCloseButton {
  border: none;
  padding: 5px 3px;
  margin: 0 8px 0 0;
  cursor: pointer;
}


#scLightbox {
  position: absolute;
  z-index: 100;
  border: solid 1px #868686;
  background: white;
}

#scOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 90;
  background-color: #000;
  opacity: 0.2;
  zoom: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.alpha(Opacity=20);
}

#SearchBox {
  border: none;
  width: 255px;
  color: #cccccc;
  background: #5E5E5E;
  box-shadow: none;
  padding-left: 17px;
}

  #SearchBox.focus {
    background-color: #2B2B2B;
  }

/* Content Tree */

.scContentTreeContainer {
  width: 100%;
  height: 100%;
  position: absolute;
}

.scContentTree {
  background: #fff url("/sitecore/shell/themes/standard/Images/Content Editor/TreeViewGutter.png") repeat-y;
  height: 100%;
  overflow: auto;
  position: relative;
  padding-left: 10px;
}

#ContentTreeActualSize {
  padding-top: 15px;
}

.scContentTreeNode {
  padding: 0px 5px 0px 16px;
  white-space: nowrap;
  clear: both;
}

  .scContentTreeNode a {
    text-decoration: none;
    outline: none;
  }

  .scContentTreeNode > img {
    display: inline-block;
    vertical-align: top;
    width: 16px;
    margin: 5px 0;
  }

  .scContentTreeNode > a {
    display: inline-block;
    padding: 3px 5px;
    margin: 1px 0;
    height: 16px !important;
  }

    .scContentTreeNode > a > span {
      vertical-align: middle;
    }


a.scContentTreeNodeNormal,
a.scContentTreeNodeActive,
a.scContentTreeNodeStatic {
}

  a.scContentTreeNodeStatic, a.scContentTreeNodeStatic:visited, a.scContentTreeNodeStatic:hover, a.scContentTreeNodeStatic:active {
    color: #666666;
  }

  a.scContentTreeNodeNormal:hover,
  a.scContentTreeNodeActive,
  a.scContentTreeNodeNormal.scDragHover {
    background-color: #E3E3E3;
  }

a.scContentTreeNodeActive {
  background-color: #D0EBF6;
}

.ff .scContentControl a.scContentTreeNodeNormal:hover, .ff .scContentControl a.scContentTreeNodeActive {
}

.scContentTreeNodeGlyph {
  border: none;
  line-height: 0;
  vertical-align: middle;
  cursor: pointer;
}

  .scContentTreeNodeGlyph:hover {
    background-color: #E3E3E3;
  }

img.scContentTreeNodeGlyph:hover[src="/sitecore/shell/themes/standard/images/noexpand15x15.gif"] {
  background-color: #fff;
  cursor: default;
}


.scLoadingGlyph {
  background: url(/sitecore/shell/themes/standard/images/sc-spinner16.gif);
  line-height: 0;
  margin: 0 0 0 8px;
  vertical-align: middle;
}

.scContentTreeNodeIcon {
  border: none;
  line-height: 0;
  margin: 0 5px 0 0;
  vertical-align: text-bottom;
}

.scContentTreeNodeTitle {
  outline: none;
}

.scContentTree a {
  text-decoration: none !important;
}

.scContentTreeNodeGutter {
  position: absolute;
  left: 1px;
  display: inline;
}

.scContentTreeNodeGutterIcon {
  width: 16px;
  height: 16px;
  padding: 5px 0;
}

.scContentTreeNodeGutterFlyout {
  position: absolute;
  z-index: 999;
  border: 1px solid #E3E3E3;
  padding: 5px;
  background-color: #fff;
  margin: -3px 0px 0px -3px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
}

  .scContentTreeNodeGutterFlyout .scContentTreeNodeGutterButton {
    display: inline-block;
    padding: 5px;
  }

.scContentTreeNodeGutterButton,
.scContentTreeNodeGutterButton:link,
.scContentTreeNodeGutterButton:active,
.scContentTreeNodeGutterButton:hover,
.scContentTreeNodeGutterButton:visited {
  text-decoration: none;
}




  .scContentTreeNodeGutterButton:hover,
  .scContentTreeNodeGutterButton:visited {
    background-color: #E3E3E3;
  }

/* Item Tiles */
.scTileItemIcon {
  height: 32px;
  width: 32px;
}

.ff .scInsetBorder {
  min-height: 200px !important;
}

.ie .scInsetBorder {
  border: 1px inset;
}

.scFixSize, .scFixSizeInitialized {
  height: 100px;
  overflow: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*border-top: 1px solid #ccc !important;*/
  padding-top: 10px !important;
}

  .scFixSize > * {
    display: none;
  }

.ff img[align=middle] {
  vertical-align: middle;
}

/* Enables traditional box model like in IE quirks mode. */
.scQuirksBoxModel {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.scTmpCalculateSize > * {
  display: none !important;
}

/*
 * Treeview.
 */

.scTreeview {
  border: none;
  margin: 0;
  padding: 0;
}

  .scTreeview ul {
    border: none;
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }

    .scTreeview ul li {
      border: none;
      display: inline-block;
      margin: 0;
      padding: 0;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: top;
    }

  .scTreeview .cell {
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
  }

  .scTreeview .header {
    background-color: #5e5e5e;
    border: none;
    color: #fff;
    padding: 14px 10px;
    text-align: left;
  }

  .scTreeview .header:before {
content: " ";
border-right: 1px solid #fff;
margin-left: -8px;
margin-right: 8px;
  }

    .scTreeview .scTreeHeader {
        background-color: #5e5e5e;
    }

  .scTreeHeader .scTreeHeaderItem:first-of-type .header:before {
content: " ";
border-right: 0px solid #fff;
margin-left: -8px;
margin-right: 8px;
  }



  .scTreeview .value {
    border-left: solid 1px #e3e3e3;
  }

  .scTreeview .glyph {
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0;
    margin-right: 3px;
    vertical-align: middle;
    width: 16px;
  }

    .scTreeview .glyph:hover {
      background-color: #E3E3E3;
      cursor: pointer;
    }


  .scTreeview .icon,
  .scTreeview .icon_Hover {
    border: none;
    margin: 0;
    margin-right: 3px;
    vertical-align: middle;
  }

  .scTreeview .nodeNormal,
  .scTreeview .nodeNormal_Hover,
  .scTreeview .nodeSelected,
  .scTreeview .nodeSelected_Hover {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
    padding-bottom: 1px;
    white-space: nowrap;
    outline: none;
  }

  .scTreeview .nodeNormal,
  .scTreeview .nodeNormal_Hover {
    background: transparent;
    border-color: transparent;
  }

  .scTreeview .nodeSelected,
  .scTreeview .nodeSelected_Hover {
    background-color: #D0EBF6;
  }

  .scTreeview .scTreeItem,
  .scTreeview .scTreeItem_Hover {
    height: 21px;
  }

    .scTreeview .scTreeItem.hover {
      background-color: #E3E3E3;
      white-space: nowrap;
    }

.scAccessViewerRight,
.scAccessViewerRight:link,
.scAccessViewerRight:active,
.scAccessViewerRight:hover,
.scAccessViewerRight:visited {
  display: block;
  padding: 1px 6px;
  text-decoration: none;
  white-space: nowrap;
}

  .scAccessViewerRight:hover {
    background-color: #E3E3E3;
  }

  .scAccessViewerRight:active,
  .scAccessViewerRight:focus {
    background-color: #D0EBF6;
  }

.scActionLink, .scActionLink:link, .scActionLink:hover, .scActionLink:active {
  color: #186BF9;
  text-decoration: none;
  outline: none;
}

  .scActionLink:hover {
    text-decoration: underline;
  }

.scApplicationContentContainer {
  padding: 15px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: auto;
}

.scApplicationFooter {
  position: relative;
  background-color: #f0f0f0;
  border-top: 1px solid #e3e3e3;
  padding: 8px 15px 9px;
  height: 56px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 34px;
  text-align: right;
}

.scWorkBoxMainHeader {
  background-color:#474747;
  line-height:36px;
  cursor: pointer;
}

    .scWorkBoxMainHeader.scCollapsed {
        background-color: #969696;
    }

.scWorkBoxMainHeader td:last-of-type {
  padding-right:15px;
}

.scWorkBoxMainHeader td:last-of-type  div * {
  cursor:pointer;
  vertical-align: middle;
}


.scPaneHeader {
  color:#fff;
  border-left: 5px solid #DC291E;
  padding-left:15px;
  font-weight: bold;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scCollapsed .scPaneHeader {
    border-left: 5px solid #969696;
}

.scPaddingless {
  padding: 0 !important;
}

.scSpacer {
  display: block;
}

.scHeightAuto {
  height: auto !important;
}

.scHeight100 {
  height: 100% !important;
}

.SecurityLegend {
  background-color: #f0f0f0;
  border-top: 1px solid #ccc;
  overflow: hidden;
  padding: 5px 10px;
}
.SecurityLegend > div {
  display:inline-block;
  margin-right:15px;
}

.scVSplitterImage {
  vertical-align: top;
  width: 3px;
  display: block;
}

.scTextAlignCenter {
  text-align: center;
}

.scTextAlignRight {
  text-align: right !important;
}

.scVerticalTabContent {
  height: 100%;
}

.scHidden {
  display: none;
}

.col2 {
  height: 100%;
  width: 50%;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
}

/* Japanese language support*/
.lang_ja_jp a.scRibbonToolbarSmallButton span {
  height: 0;
}

.lang_ja_jp .scPaneHeader,
.lang_ja_jp .scSectionCenter,
.lang_ja_jp .scClickFont,
.lang_ja_jp .scClickFont_Hover,
.lang_ja_jp .scFont,
.lang_ja_jp .scFont_Hover,
.lang_ja_jp .scPopup,
.lang_ja_jp .scLargeFont {
  font-family: メイリオ, Meiryo, Microsoft YaHei, tahoma, sans-serif;
}

/* Japanese font support. */
form[lang|='ja'] *,
.lang_ja_jp,
.lang_ja_jp table,
.lang_ja_jp button,
.lang_ja_jp th,
.lang_ja_jp a:link,
.lang_ja_jp a:hover {
  font-family: メイリオ, Meiryo, Microsoft YaHei, tahoma, sans-serif;
}


/* Ribbon > Configure > Icons */

#Icons .scRibbonToolbarLargeIconButton {
  display: inline-block;
  padding: 5px;
}

  #Icons .scRibbonToolbarLargeIconButton:hover {
    display: inline-block;
    padding: 5px;
    background-color: #E3E3E3;
  }


#Presets .scRibbonToolbarLargeTextButton {
  white-space: nowrap;
  padding: 8px 15px;
  vertical-align: middle;
  display: block;
}

  #Presets .scRibbonToolbarLargeTextButton:hover {
    white-space: nowrap;
    padding: 8px 15px;
    vertical-align: middle;
    background-color: #E3E3E3;
    text-decoration: none;
  }

.scProgressIndicator32 {
  height: 32px;
  width: 32px;
  background: transparent url("/sitecore/shell/Themes/Standard/Images/ProgressIndicator/sc-spinner32.gif") no-repeat center center;
  background-color: #ffffff;
  color: transparent;
}

.sc-text-bold {
  font-weight: bold;
  color: #131313;
}

.sc-text-label {
  font-size: 12px;
}

.sc-text-value {
  font-size: 12px;
}

.sc-text-largevalue {
  font-weight: bold;
  font-size: 14px;
}

.sc-text-title {
  font-size: 14px;
}

.sc-text-smalltitle {
  font-size: 10px;
}

.sc-text-largetitle {
  font-size: 18px;
}

.sc-text-divider {
  display: block;
  padding: 10px 0;
  margin: 10px 0 10px 0;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-size: 18px;
}

.scListControl {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  line-height: 1.42857143;
}

  .scListControl > tbody:first-child > tr:first-child,
  .scListControl > thead,
  .scListControlHead {
    background-color: #5E5E5E;
    color: white;
  }

  .scListControl > thead img {
      margin-left: 5px;
  }

  .scListControl > tbody > tr:nth-child(odd) {
    background-color: #f7f7f7;
  }

  .scListControl > tbody > tr:hover {
    background-color: #e3e3e3;
  }

  .scListControl > thead th,
  .scListControl > tbody > tr > td {
    border: 1px solid #ccc;
    padding: 14px 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .scListControl > thead th,
  .scListControl > tbody:first-child > tr:first-child > td {
    border: 1px solid #5E5E5E;
    position: relative;
  }

    .scListControl > thead th:only-of-type,
    .scListControl > tbody:first-child > tr:first-child > td:only-of-type {
      text-align: left;
    }

    .scListControl > thead th:after,
    .scListControl > tbody:first-child > tr:first-child > td:after {
      background: #d6d6d6 right center;
      position: absolute;
      width: 1px;
      display: block;
      height: 20px;
      top: 13px;
      right: 0;
      content: "";
    }

    .scListControl > thead th:last-child:after,
    .scListControl > tbody:first-child > tr:first-child > td:last-child:after {
      background: none;
    }



/* Notification and warnings */

.scEditorWarningPanel {
}

.scEditorWarning {
  background-color: #FEFAE6;
  color: #E0B406;
  padding: 5px;
}

  .scEditorWarning td {
    padding: 7px;
  }

    .scEditorWarning td:first-child {
      padding-right: 0px;
    }

.scWizardWarning {
  background-color: #FEFAE6;
  color: #E0B406;
  padding: 10px;
}

  .scWizardWarning img {
    margin: 0 10px 0 0;
    float: left;
  }

  .scWizardWarning .scEditorWarningText {
    display: block;
    margin-top: 4px;
  }


.scWarning {
    background-color: #FEFAE6;
    color: #E0B406;
    padding: 10px;
}

    .scWarning img {
        margin: 0 10px 0 0;
        float: left;
    }

    .scWarning .scWarningTextContainer {
        overflow: hidden;
    }

    .scWarning .scWarningText {
        display: block;
        padding-top: 4px;
    }

    .scWarning .scWarningText:first-of-type {
        padding-top: 0;
    }

    .scWarning .scWarningText:only-of-type {
        padding: 5px 0;
    }

.scEditorWarningTitle {
  font-weight: bold;
}

.scEditorWarningHelp {
  padding-top: 5px;
}

.scEditorWarningOptions {
  padding: 0px 0px 0px 0px;
}

.scEditorWarningOptionsList {
  margin: 8px 8px 8px 24px;
  cursor: default;
  text-decoration: none;
  font-weight: bold;
}

.scEditorWarningOptionBullet {
  color: #E0B406;
}

a.scEditorWarningOption {
  color: #E0B406;
  text-decoration: underline;
}

.scUnselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scContentControlChecklist > div {
    height: 100% !important;
}