form {
    height: 100%;
    width: 100%;
    position: absolute;
}

.scFormDialogHeader {
    width: 100%;
    min-height: 45px !important;
}
   

.scFormDialogFooter {
    position: relative;
    background-color: #f0f0f0;
    border-top: 1px solid #e3e3e3;
    padding: 8px 15px 9px;
    height: 56px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 34px;
}

    .scFormDialogFooter .footerOkCancel {
        white-space: nowrap;
        position: absolute;
        right: 15px;
        text-align: right;
    }

.ie8 .lang_ja_jp .scFormDialogFooter > div, .ie9 .lang_ja_jp .scFormDialogFooter > div {
    padding-top: 0;
}

.scDialogHeader {
    width: 100%;
}

.scDialogMessage {
    font-size: 1.167em;
    color: #131313;
    line-height: 1.42857143;
    word-break: break-all;
    word-break: break-word; /* Chrome */
}

.scDialogContentContainer {
    width: 100%;
    padding: 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: auto;
}

    .ie9 .scDialogContentContainer.scStretchAbsolute {
        width: auto;
    }

    .scDialogContentContainer > div {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

.scDialogTextWithPadding {
    display: block;
    padding-bottom: 4px;
}

.lang_ja_jp #Versions td {
    white-space: nowrap;
}

.scDialogNoWrap {
    white-space: nowrap;
    overflow: hidden;
}


.DialogHeader {
    font-size: 18px;
    padding: 0 15px 0;
    line-height: 30px;
}

.DialogHeaderDescription {
    padding: 0 75px 15px 15px;
}




/* Extracted from dialogs*/
.ProfileCardsContainer {
    overflow-y: auto;
}

.NoProfilesText {
    margin: 10px;
    color: #666666;
}

/*        #TextLiteral
        {
          display:block;
          padding-bottom:2px;
        }
        
        #Cancel{
          display: none;
        }
    */

.dialogButtonsRight > .scButton {
  width: 100%;
  margin-top: 15px;
  margin-left: 0;
}

.dialogButtonsRight > .scButton:first-child {
    margin-top: 0;
}





/* jquery overwrite */

.ui-dialog {
    padding: 0;
}

    .ui-dialog .ui-dialog-title {
        margin: 0;
        display: none;
    }

    .ui-dialog .ui-dialog-titlebar {
        padding: 0;
        position: relative;
    }

        .ui-dialog .ui-dialog-titlebar + .DialogHeader {
            height: 45px;
            background: #2b2b2b;
            color: #fff;
            padding: 0 0 0 15px;
            line-height: 28px;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
        }

.ui-widget-content {
    border: 0px;
    background-image: none;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
    -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.ui-dialog-content.ui-widget-content {
    box-shadow: none;
}

.scFormDialogHeader,
.scDialogHeader,
.ui-widget-header {
    border: 0;
    background-image: none;
    padding: 0;
    color: #fff;
    background-color: #2b2b2b;
    min-height: 15px;
    position: relative;
    border-radius: 0;
}

.ui-dialog-titlebar-buttonpane {
    margin-top: 0 !important;
    position: absolute;
    top: 21px !important;
    right: 15px !important;
    z-index: 9999;
}

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default,
    .ui-dialog-titlebar-buttonpane a {
        background-image: none;
        background-color: transparent;
        border: 0;
        margin-right:15px;
    }


        .ui-dialog-titlebar-close .ui-icon {
            background: url(/sitecore/shell/themes/standard/Images/Window%20Management/dialog_close.png) no-repeat center center;
        }

            .ui-dialog-titlebar-close span.ui-icon:hover {
                background: url(/sitecore/shell/themes/standard/Images/Window%20Management/dialog_close_h.png) no-repeat center center;
            }

.ui-dialog-titlebar-maximize .ui-icon {
    background: url(/sitecore/shell/themes/standard/Images/Window%20Management/dialog_maximize.png) no-repeat center center;
}

.ui-dialog-titlebar-maximize:hover .ui-icon {
    background: url(/sitecore/shell/themes/standard/Images/Window%20Management/dialog_maximize_h.png) no-repeat center center;
}

.ui-dialog-titlebar-restore .ui-icon {
    background: url(/sitecore/shell/themes/standard/Images/Window%20Management/dialog_restore.png) no-repeat center center;
}

.ui-dialog-titlebar-restore:hover .ui-icon {
    background: url(/sitecore/shell/themes/standard/Images/Window%20Management/dialog_restore_h.png) no-repeat center center;
}

.ui-dialog .ui-dialog-titlebar-close {
    height: 18px;
}

.no-close .ui-dialog-titlebar-close, .no-maximize .ui-dialog-titlebar-maximize, .no-restore .ui-dialog-titlebar-restore{
    display: none !important;
}

.scNavButton:hover, 
.scCalendarYearLeftCell:hover,
.scCalendarYearRightCell:hover  {
    background: #e3e3e3;
    cursor: pointer;
}