.scTitle {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0 5px 15px;
  border-bottom: 1px solid #d6d6d6;
}

.scEmpty {
  padding: 32px;
  font-style: italic;
  color: #666666;
  text-align: center;
}

.scButtonsTitle {
}

.scButtons {
  padding:15px 5px;
}

a.scButton {  
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  overflow: visible;
  display: inline-block;
  margin:15px 0 0 10px;
}

.scButton:first-of-type {
margin-left: 10px;
}
.scButton:hover, 
.scButton:active {
  background-color: #e3e3e3;
}

.scButtonIconImage {
  width:16px;
  height:16px;
  display:inline-block;
  margin-right:5px;
  vertical-align: middle;
}

.scButtonHeader {
  display:inline-block;
  line-height: 36px;
}

.scTilesTitle {
}

.scTiles {
}

a.scTileItem {  
  text-decoration: none;
width: 180px;
height: 130px;
padding: 15px;
background-color: #ffffff;
margin: 15px;
float: left;
border: 1px solid #e1e1e1;
border-radius: 2px;
cursor: pointer;
-moz-box-sizing: border-box;
box-sizing: border-box;
vertical-align: top;
display: inline-block;
text-align: center;
line-height: 1.6em;
overflow: hidden;

}

.scTileItem:hover, 
.scTileItem:active {
  background-color:#e3e3e3;
}

.scTileItemIcon {
  margin: 0 auto;
}

.scTileItemIconImage {
}

.scTileItemDetails {
  margin-top: 15px;
}

.scTileItemDetailsHeader {
font-size: 14px;
font-weight: bold;
}

.scTileItemDetailsLine {
  color:#666666;
}