.Grid {
    cursor: pointer;
    height: 100% !important;
}

.GridHeader {
    padding: 0;
    width: 99999px;
    padding-bottom: 10px;
    height: 1px;
    cursor: default;
}

.GridHeaderText {
    text-align: left;
}

    .GridHeaderText > input {
        width: 50%;
        display: inline-block;
        margin-left: 5px;
    }

.GroupByText {
}

.HeadingRow {
    color: white;
}

.HeadingCell {
    background-color: #5e5e5e;
    border: none;
    color: #fff;
    padding: 14px 10px;
    text-align: left;
    position: relative;
}

    .HeadingCell:last-child {
        border-right: 1px solid #5e5e5e;
    }

    .HeadingCell:after {
        background: #d6d6d6 right center;
        position: absolute;
        width: 1px;
        display: block;
        height: 20px;
        top: 13px;
        right: 0;
        content: "";
    }

    .HeadingCell:last-child:after {
        background: none;
    }


.HeadingRow td.FirstHeadingCell {
}

.HeadingCellText {
    text-align: left;
}

.Row {
    background-color: #FFFFFF;
}

    .Row:nth-child(odd) {
        background-color: #f7f7f7;
    }


    .Row:hover {
        background: #e3e3e3;
    }

    .Row td.DataCell {
        cursor: default;
        padding: 5px;
        border: 1px solid #ccc;
        border-top: none;
    }

.SortedDataCell {
    background-color: #F5F5F5;
}


.Row td.LastDataCell {
    background-color: #EFEFF4;
}

.SelectedRow {
}

    .SelectedRow td.DataCell {
        background-color: #D0EBF6;
        border: 1px solid #ccc;
        border-top: none;
        padding: 5px;
    }

    .SelectedRow td.FirstDataCell {
    }

    .SelectedRow td.LastDataCell {
    }

td[id$=Roles_dom] > table, td[id$=Domains_dom] > table {
}

.GroupHeading {
    color: #706F91;
    background-color: #FFFFFF;
    border-bottom: 2px solid #A5A4BD;
    padding-top: 10px;
    padding-bottom: 3px;
}

.SliderPopup {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background: white;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    left: 110px;
    top: 15px;
}

.GridFooter {
    cursor: default;
    padding: 15px 5px 5px;
    height: 30px; /* User manager footer*/
}

.GridFooterText {
}

.SearchBox {
    width: 250px !important;
}

.no-pages .GridFooterText {
    display: none;
}


.Grid, .Row *, .SelectedRow *, .HeadingRow * {
    width: auto !important;
    box-sizing: border-box;
}

.ff .Grid {
  margin-left: 1px;
}

.GridFooter.scGridFooter img:active {
    width: 36px;
    height: 36px;
    padding-left: 36px;
    box-sizing: border-box;
}

.GridFooter.scGridFooter table table td:nth-of-type(1) img:active {
    background: url('/sitecore/shell/themes/standard/componentart/grid/pager/first_active.gif');
}

.GridFooter.scGridFooter table table td:nth-of-type(2) img:active {
    background: url('/sitecore/shell/themes/standard/componentart/grid/pager/prev_active.gif');
}

.GridFooter.scGridFooter table table td:nth-of-type(3) {
    background-repeat: no-repeat;
    background-position: center;
    min-width: 150px;
}

.GridFooter.scGridFooter table table td:nth-of-type(5) img:active {
    background: url('/sitecore/shell/themes/standard/componentart/grid/pager/next_active.gif');
}

.GridFooter.scGridFooter table table td:nth-of-type(6) img:active {
    background: url('/sitecore/shell/themes/standard/componentart/grid/pager/last_active.gif');
}