﻿body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: Arial, "Helvetica Neue",Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}

.login-outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.login-main-wrap {
  display: table-cell;
  vertical-align: middle;
}

.login-box {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  background-color: #c8c8c8;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 50px 60px;
  color: #ffffff;
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
  box-sizing: border-box;
}

.logo-wrap {
  text-align: center;
  margin-bottom: 50px;
}

.form-control {
  display: block;
  width: 100%;
  height: 41px;
  padding: 10px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #5e5e5e;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #CCC;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  box-sizing: border-box;
  margin: 5px 0 10px;
}

.login-label {
  color: #fff;
  font-size: 12px;
  margin: 5px 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.35);
}

.checkbox.login-label {
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}

  .checkbox.login-label input {
    position: absolute;
    margin: 4px 0 0;
    margin-top: 4px \9;
    padding: 0;
    box-sizing: border-box;
    margin-left: -20px;
  }

.forgot-pass-link-wrap {
  float: left;
}
.license-info-link-wrap {
  float: right;  
}
.remember-me-lnk {
  float: left;
}
.remember-me-wrap,.forgot-pass-wrap {
  overflow: hidden;
  margin-top: 20px;
}
.forgot-pass-separator {
  display: block;
  float: left;
  border-left: 1px solid #fff;
  height: 12px;
  margin: 4px 15px 0;
}
.forgot-pass-wrap {
  text-align: left;
}

.show-recovery, .login-link {
  color: #ffffff;
  font-size: 12px;
  margin: 5px 0;
  text-shadow: 0 1px rgba(0, 0, 0, 0.35);
  text-decoration: none;
}
.show-recovery:hover, .login-link:hover {
  text-decoration: underline;
}

.license-info-wrap {
  padding: 20px;
  background: #fff;
  color: #2b2b2b;
  font-size: 12px;
}

.license-info-wrap ul {
  margin: 0 0 20px 8px;
  padding: 0;
  list-style-type: none;
  font: normal 11px/13px "Tahoma", Arial, Helvetica, sans-serif;
  color: #333;
}

.license-info-wrap ul.browser-notes {
  margin: 0;
}

.license-info-wrap ul li:first-child {
  font: normal 17px/17px "Tahoma", Arial, Helvetica, sans-serif;
  margin-bottom: 11px;
  
}

.login-link-wrap {
  margin-top: 20px;
}

.form-wrap {
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 14px 12px;
  font-size: 15px;
  line-height: 1.42857143;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .btn:active,
  .btn.active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  }

  .btn.disabled,
  .btn[disabled],
  fieldset[disabled] .btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.btn-primary {
  color: #ffffff;
  background: #289bc8; /* Old browsers */
  background: -moz-linear-gradient(top, #289bc8 0%, #207da2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#289bc8), color-stop(100%,#207da2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #289bc8 0%,#207da2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #289bc8 0%,#207da2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #289bc8 0%,#207da2 100%); /* IE10+ */
  background: linear-gradient(to bottom, #289bc8 0%,#207da2 100%); /* W3C */
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#289bc8', endColorstr='#207da2',GradientType=0 ); /* IE6-9 !1!*/
  border: 1px solid #207da2;
  -webkit-box-shadow: inset 0 1px 0 0 #aadbee;
  box-shadow: inset 0 1px 0 0 #aadbee;
}

  .btn-primary:hover {
    background-image: -webkit-linear-gradient(top, #289bc8 0%, #289bc8 100%);
    background-image: -o-linear-gradient(top, #289bc8 0%, #289bc8 100%);
    background-image: linear-gradient(to bottom, #289bc8 0%, #289bc8 100%);
    background-repeat: repeat-x;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff289bc8', endColorstr='#ff289bc8', GradientType=0);*/
    border-color: #175973;
  }

  .btn-primary:focus {
    border-color: #175973;
  }

  .btn-primary:active,
  .btn-primary.active {
    background-color: #1D7395;
    background-image: -webkit-linear-gradient(top, #207da2 0%, #207da2 100%);
    background-image: -o-linear-gradient(top, #207da2 0%, #207da2 100%);
    background-image: linear-gradient(to bottom, #207da2 0%, #207da2 100%);
    background-repeat: repeat-x;
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff207da2', endColorstr='#ff207da2', GradientType=0);*/
    -webkit-box-shadow: inset 0 3px 3px #13485e;
    box-shadow: inset 0 3px 3px #13485e;
    background-image: none;
    border-color: #175973;
  }

.btn-block {
  display: block;
  width: 100%;
}

.btn-default {
  background-color: #F0F0F0;
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #d1d1d1 100%);
  background-image: -o-linear-gradient(top, #f0f0f0 0%, #d1d1d1 100%);
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #d1d1d1 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffd1d1d1', GradientType=0);*/
  background-image: -webkit-linear-gradient(top, #f0f0f0 0%, #d9d9d9 100%);
  background-image: -o-linear-gradient(top, #f0f0f0 0%, #d9d9d9 100%);
  background-image: linear-gradient(to bottom, #f0f0f0 0%, #d9d9d9 100%);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#ffd9d9d9', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
  background-repeat: repeat-x;
  background-position: 0 50%;
  border-color: #cccccc;
  font-size: 12px;
  padding: 8px 12px;
  -webkit-box-shadow: inset 0 1px #ffffff;
  box-shadow: inset 0 1px #ffffff;
  border-color: #bdbdbd;
  min-width: 80px;
  height: 36px;
  text-shadow: none;
  outline: none;
  color: #474747;
  height: 36px;
  box-sizing: border-box;
}

  .btn-default:hover {
    background-image: -webkit-linear-gradient(top, #F0F0F0 0%, #F0F0F0 100%);
    background-image: -o-linear-gradient(top, #f0f0f0 0%, #f0f0f0 100%);
    background-image: linear-gradient(to bottom, #F0F0F0 0%, #F0F0F0 100%);
    background-repeat: repeat-x;
   /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f0f0', endColorstr='#fff0f0f0', GradientType=0);*/
    border-color: #BDBDBD;
    background-color: #D1D1D1;
  }

  .btn-default:active, .btn-default.active {
    background-color: #D1D1D1;
    background-image: -webkit-linear-gradient(top, #D9D9D9 0%, #D9D9D9 100%);
    background-image: -o-linear-gradient(top, #d9d9d9 0%, #d9d9d9 100%);
    background-image: linear-gradient(to bottom, #D9D9D9 0%, #D9D9D9 100%);
    background-repeat: repeat-x;
   /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9d9d9', endColorstr='#ffd9d9d9', GradientType=0);*/
    -webkit-box-shadow: inset 0 3px 3px #B0B0B0;
    box-shadow: inset 0 3px 3px #B0B0B0;
    background-image: none;
    border-color: #BDBDBD;
    
  }

  .btn-default:disabled,
  .btn-default[disabled] {
    background-color: #d1d1d1;
    background-image: none;
  }

  .btn-default.disabled {
    border-color: #bdbdbd;
  }
.sc-messageBar {
  margin-bottom: 30px;
}

.sc .sc-messageBar .alert {
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
  padding: 10px 35px 10px 45px;
  position: relative;
  margin: 0;
  font-weight: bold;
  
  background-color: #fefae6;
  background-image: none;
  filter: none;
  color: #e0b406;
  line-height: 20px;

}
.sc .sc-messageBar .alert:hover {
  background-color: #fefae6;
}
.sc .sc-messageBar .alert p {
  padding: 0;
  margin: 0;
}
.sc .sc-messageBar .alert a {
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
  float: none;
  color: #e0b406;
}
.sc .sc-messageBar .alert.alert-error {
  color: #f0f0f0;
  background-color: #ca241c;
}
.sc .sc-messageBar .alert.alert-error .open {
  display: block;
}
.sc .sc-messageBar .alert.alert-error .alert-icon {
  background-position: -60px -31px;
}
.sc .sc-messageBar .alert.alert-error:hover {
  background-color: #ca241c;
}
.sc .sc-messageBar .alert.alert-error a {
  color: #f0f0f0;
}
.sc .sc-messageBar .alert.alert-error a .icon-chevron-down {
  margin-top: -1px;
  margin-left: 3px;
}
.sc .sc-messageBar .alert.alert-error .alert-error-details {
  display: none;
}
.sc .sc-messageBar .alert.alert-error ul {
  margin-top: 10px;
}
.sc .sc-messageBar .alert.alert-error ul li {
  list-style-type: none;
}
.sc .sc-messageBar .alert.alert-success {
  background-color: #e2eed7;
}
.sc .sc-messageBar .alert.alert-success a {
  color: #588136;
}
.sc .sc-messageBar .alert.alert-success .alert-icon {
  background-position: 0 0;
}
.sc .sc-messageBar .alert.alert-success:hover {
  background-color: #e2eed7;
}
.sc .sc-messageBar .alert.alert-info {
  color: #2694c0;
  background-color: #d0ebf6;
}
.sc .sc-messageBar .alert.alert-info a {
  color: #2694c0;
}
.sc .sc-messageBar .alert.alert-info .alert-icon {
  background-position: 0px -32px;
}
.sc .sc-messageBar .alert.alert-info:hover {
  background-color: #d0ebf6;
}
.sc .sc-messageBar .alert-icon {
  position: absolute;
  left: 20px;
  top: 15px;
  display: block;
  height: 30px;
  width: 30px;
  background: url("/sitecore/shell/Themes/Standard/Images/Login/sc-message-bar-icons.png") no-repeat 0px 0px;
  background-position: -28px -32px;
}
.sc .sc-messageBar .alert.alert-error .open {
  display: block;
}
.sc .sc-messageBar .alert.alert-error a .icon-chevron-down {
  margin-top: -1px;
  margin-left: 3px;
}
.sc .sc-messageBar .alert.alert-error .alert-error-details {
  display: none;
}
.sc .sc-messageBar .alert.alert-error ul {
  margin-top: 10px;
}
.sc .sc-messageBar .alert.alert-error ul li {
  list-style-type: none;
}
.sc .sc-messageBar .sc-messageBar-actionLink {
  display: inline-block;
  margin-left: 5px;
  line-height: 20px;
}
.sc .sc-messageBar .sc-messageBar-actionLink-layout {
  display: inline-block;
  line-height: 20px;
  vertical-align: bottom;
}
.sc .sc-messageBar .alert .alert-ico {
  display: inline-block;
  vertical-align: top;
  width: 24px;
  height: 24px;
  background: transparent url("/sitecore/shell/Themes/Standard/Images/Login/sc-message-bar-icons.png") no-repeat;
  margin-left: -30px;
}
.sc .sc-messageBar .alert-error .alert-ico {
  background-position: 0 -50px;
}
.sc .sc-messageBar .alert-info .alert-ico {
  background-position: 0 -25px;
}
.sc .sc-messageBar .icon-chevron {
  background-image: none;
  content: "";
  display: inline-block;
  height: 0;
  vertical-align: text-top;
  width: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #e0b406;
  margin-top: 5px;
}
.sc .sc-messageBar .icon-chevron.direction-up {
  border-top: 0;
  border-bottom: 5px solid #e0b406;
}
.sc .sc-messageBar .alert-info .icon-chevron.direction-up {
  border-top: 0;
  border-bottom: 5px solid #2694c0;
}
.sc .sc-messageBar .alert-error .icon-chevron.direction-up {
  border-top: 0;
  border-bottom: 5px solid #f0f0f0;
}
.sc .sc-messageBar .alert-info .icon-chevron {
  border-top: 5px solid #2694c0;
}
.sc .sc-messageBar .alert-error .icon-chevron {
  border-top: 5px solid #f0f0f0;
}
.sc .sc-messageBar .sc-messageBar-chevron-layout {
  white-space: nowrap;
  display: inline-block;
  vertical-align: bottom;
}
.sc .sc-messageBar .sc-messageBar-chevron-layout a {
  display: inline-block;
  margin-left: 10px;
}
.sc .sc-messageBar .sc-messageBar-messages-wrap .alert {
  margin: 0;
}
.sc .sc-messageBar .sc-messageBar-head.alert {
  margin-bottom: 0;
}
.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert .alert-ico {
  margin-top: 2px;
  display: inline-block;
  width: 20px;
  height: 18px;
  vertical-align: top;
  margin-left: -30px;
  background-position: -27px 0;
}
.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-error .alert-ico {
  background-position: -27px -48px;
}
.sc .sc-messageBar .sc-messageBar-messages-nested-children.sc-messageBar-messages-wrap .alert-info .alert-ico {
  background-position: -27px -24px;
}
.sc .sc-messageBar .sc-messageBar-messages-nested-children .alert {
  padding: 5px 35px 5px 60px;
}
.sc .sc-messageBar .sc-messageBar-messageText {
  display: inline-block;
  padding-left: 5px;
  vertical-align: bottom;
  font-size: 12px;
}
.sc .sc-messageBar .alert .close {
  margin-top: -11px;
  position: absolute;
  right: 15px;
  top: 50%;
}

:-ms-input-placeholder {
   color: #ACACAC !important;
}