.scFolderButtons {
  padding-left: 5px;
}

#FileList a {  
  text-decoration: none;
width: 180px;
height: 180px;
padding: 15px;
margin: 15px;
float: left;
border: 1px solid #e1e1e1;
border-radius: 2px;
cursor: pointer;
-moz-box-sizing: border-box;
box-sizing: border-box;
vertical-align: top;
display: inline-block;
text-align: center;
line-height: 1.6em;
overflow: hidden;
}

#FileList a:hover, 
#FileList a:active, 
#FileList a.highlight {  
  background-color:#e3e3e3;
}

#FileList a.scButton {  
  vertical-align: top;
  text-decoration: none;
  text-align: center;
  overflow: visible;
  display: inline-block;
  margin:15px 0 0 10px;
  width: auto;
height: auto;
padding:8px 12px;
float:none;
}



.scIcon {
  width:16px;
  height:16px;
  display:inline-block;
  margin-right:5px;
  vertical-align: middle;
}

.scHeader {
  display:inline-block;
  line-height: 36px;
}

#FileList .scUploadWrapper {
  display: inline-block;
  position: relative;
}

#FileList .scUploadOverlay {
  position: absolute;
  width: 70px;
  top: 15px;
  left: 10px;
  z-index: 2;
}
    #FileList .scUploadOverlay:hover + a.scButton {
        background-repeat: repeat-x;
        background-color: #f0f0f0;
        background-position: 0 0;
        background-image: linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 100%);
    }

    #FileList .scUploadOverlay:active + a.scButton {
        background-color: #d1d1d1;
        background-image: linear-gradient(to bottom, #d9d9d9 0%, #d9d9d9 100%);
        background-repeat: repeat-x;
        -webkit-box-shadow: inset 0 0px 6px #ccc;
        border-color: #bdbdbd;
        box-shadow: inset 0 3px 3px #b0b0b0;
    }


.ie9 #FileList .scUploadOverlay:hover + a.scButton {
    background: #f0f0f0;
}

.ie9 #FileList .scUploadOverlay:active + a.scButton {
    background: #d9d9d9;
}

.scMediaBorder {
}

.scMediaIcon {
  vertical-align: middle;
}

.scMediaTitle {
font-size: 14px;
font-weight: bold;
}

.scMediaDetails {
  padding: 4px 0px 0px 0px;
  color: #999999;
}

.scMediaValidation {
  color: red;
}

.scMediaUsages {
}

.scTitle {
  font: 8pt tahoma;
  font-weight: bold;
  padding: 8px 0px 4px 4px;
  border-bottom: 1px solid #999999;
  clear: left;
}

.scBackground {
 background: white;
}

/* upload */

#UploadUI {
  padding-top: 16px;
  overflow: auto;
}

#queue {
  margin: 10px 0;
}

#queue th {
  text-align: left;
  color: #999999;
  padding-bottom: 2px;
}

#queue td {
  padding: 2px 0;
  line-height: 16px;
}

  #queue .name {
    padding-right: 23px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    width: 100%;
    max-width: 332px;

  }

#queue .size {
  padding-right: 32px;
  white-space: nowrap;
}

#queue .remove {
  text-align: center;
}

.simple #queue .alt {
  display: none;
}

#queue .alt input {
  height: 18px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 100%;
  margin: 0;
  width: 200px;
}

#queue .progress {
  width: 160px;
  padding-left: 20px;
  
  background: url(/sitecore/shell/Themes/Standard/Images/Progress/background_media.png) no-repeat 20px 50%;
  visibility: hidden;
}

#queue .filler {
  height: 4px;
}

#buttons {
  text-align:right;
}

.scButton {
  width: 90px;
  margin-left: 10px;
}

.simple #AdvancedOptions {
  display: none;
}

#AdvancedOptions {
  margin: 15px;
  line-height:220%
}

#AdvancedOptions label {
  padding-right: 12px;
}

.yui3-button {
    -ms-opacity: 0;
    opacity: 0; 
    width: 100%; 
    height: 100%;
    cursor: pointer;
}

.yui3-uploader-content {
    width: 100%;
    height: 100%;
}
