﻿.RibbonPanel {
    clear:both;
}



.scRibbon {
    background-color: #474747;
}

    .scRibbon a {
        text-decoration: none;
        cursor: pointer;
        color: #131313;
    }

.scRibbon select {
    display:inline;
    width:auto;
    padding: 2px;
    min-height: 10px;
}

/* ribbon tabs */
/* extracted from default.aspx 

      table {
        border:0;
        border-collapse:collapse; 
      }

      table td {
        padding:0;
      }

      #MainPanel {
        position: relative;
      }

      .ie8 #ContentTreeHolder, .ie9 #ContentTreeHolder, .ie8 #SearchResultHolder, .ie9 #SearchResultHolder, .ie8 #SearchResult, .ie9 #SearchResult {
        position: absolute;
        width: 100%;
        bottom:0;
        top:0;
        margin-top: 29px;
      }

      .ie8 #ContentTreeHolder, .ie8 #SearchResultHolder,.ie8 #SearchResult {
        margin-top: 21px;
      }

      .ie8 #SearchResult > table, .ie8 #SearchResult .filler .scSearchCategory {
        height: auto;
      }


*/



.scRibbonClose,
.scRibbonOpen {
width: 16px;
height: 16px;
overflow: hidden;
position: absolute;
right: 10px;
bottom: 0px;
background-image:url(/sitecore/shell/themes/standard/images/ribbon_collapser.png);
background-repeat:no-repeat;
background-position:center;
}


.scRibbonOpen {
background-image:url(/sitecore/shell/themes/standard/images/ribbon_expander.png);
}


.scRibbonNavigator {
    margin-left: 4px;
}

.scRibbonNavigatorEmpty {
    height: 1px;
}

.scRibbonNavigatorButtonsGroup,
.scRibbonNavigatorButtonsContextualGroup {
    float: left;
    padding: 0 1px;
    margin: 0 2px 0 0;
}

.scRibbonNavigatorButtonsGroupHeader,
.scRibbonNavigatorButtonsContextualGroupHeader {
    float: left;
    padding: 2px 12px;
    height: 13px;
    white-space: nowrap;
}

.scRibbonNavigatorButtonsContextualGroupHeader {
    float: none;
    text-align: center;
    margin-top:0px;
    color:#fff;
}

.lang_ja_jp .scRibbonNavigatorButtonsContextualGroupHeader {
    padding: 0 12px 4px 12px;
}

.scRibbonNavigatorButtonsGroupHeader {
    text-overflow: ellipsis;
}

.scRibbonNavigatorButtonsGroupButtons,
.scRibbonNavigatorButtonsContextualGroupButtons {
    clear: left;
    float: left;
}

.scRibbonNavigatorButtonsContextualGroup {
}

.scRibbon a.scRibbonNavigatorButtonsNormal,
.scRibbon a.scRibbonNavigatorButtonsActive,
.scRibbon a.scRibbonNavigatorButtonsContextualNormal,
.scRibbon a.scRibbonNavigatorButtonsContextualActive {
    display: inline-block;
    color: #fff;
    min-height: 16px;
    white-space: nowrap;
    text-transform: uppercase;
    padding: 0 14px;
    line-height: 30px;
}


.scRibbon a.scRibbonNavigatorButtonsContextualNormal {
    color: white;
}


.scRibbon a.scRibbonNavigatorButtonsContextualActive {
    color: #131313;
    background-color: #f7f7f7;
}



.scRibbonToolbar {
    border-bottom: 1px solid #e3e3e3;
    clear: left;
}

.contentEditor .scRibbonToolbar {
     border-top: 0px;
     line-height:1;
    background-color: #f7f7f7;
}

.contentEditor .scRibbonToolbar:after {
content: "";
clear: both;
display: block;
}

.scRibbonToolbarStrip,
.scRibbonToolbarContextualStrip {
    background-color: #f7f7f7;
    min-height:80px;
}





/* chunks */

.scRibbon .chunk {
    background-color: #f7f7f7;
    border-right: 1px solid #e3e3e3;
    height: 80px;
    display: inline-block;
    white-space: nowrap;
    float:left;
}

.lang_ja_jp .scRibbon .chunk {
    height: 90px;
}

.lang_ja_jp .scRibbonToolbarStrip,
.lang_ja_jp .scRibbonToolbarContextualStrip {
    background-color: #f7f7f7;
    min-height:90px;
}

.lang_ja_jp .scRibbon .chunk .caption {
    padding-top: 10px;
}

    .scRibbon .chunk:hover,
    .scRibbon .chunkHover {
    }

.scRibbon .contextualChunk {
}



.scRibbon .chunk .panel {
    height: 40px;
    padding: 10px 8px;
    white-space: nowrap;
}

.scRibbon .chunk .caption {
    vertical-align: bottom;
    clear: left;
    text-align: center;
    white-space: nowrap;
    line-height: 20px;
    color: #ccc;
}

    .scRibbon .chunk .caption a {
        color:#ccc;
    }

        .scRibbon .chunk .caption a:active,
        .scRibbon .chunk .caption a:hover {
        }

    .scRibbon .chunk .caption .glyph {
        border: none;
        padding:4px;
        cursor:pointer;
        margin-left:5px;
        vertical-align:bottom;
    }

    .scRibbon .chunk .caption .glyph:hover {
        cursor:pointer;
        background-color: #E3E3E3;
    }





/*buttons*/


.scRibbon a.scRibbonToolbarLargeComboButtonTop,
.scRibbonToolbarLargeComboButtonTopDisabled,
.scRibbon a.scRibbonToolbarLargeComboButtonBottom {
    display: block;
    text-align: center;
    white-space: nowrap;
}




.scRibbon .scRibbonToolbarLargeButtonIcon,
.scRibbonToolbarLargeButtonIconDisabled,
.scRibbonToolbarLargeButtonIconGrayed,
.scRibbon .scRibbonToolbarLargeComboButtonIcon,
.scRibbonToolbarLargeGalleryButtonIcon,
.scRibbonToolbarLargeGalleryButtonIconDisabled,
.scRibbonToolbarLargeGalleryButtonIconGrayed {
    border: none;
    height: 24px;
    width: 24px;
    display: block;
    margin: 0 auto;
}


.scRibbonToolbarLargeGalleryButtonGlyph,
.scRibbonToolbarLargeGalleryButtonGlyphDisabled {
    border: none;
    height: 5px;
    margin: 0px 0px 0px 3px;
    width: 7px;
    vertical-align: baseline;
}




.scRibbon a.scRibbonToolbarLargeGalleryButton,
.scRibbonToolbarLargeGalleryButtonDisabled,
.scRibbonGallery,
a.scRibbonToolbarLargeButton,
.scRibbonToolbarLargeButtonDisabled,
.scRibbon a.scRibbonToolbarLargeButtonDown,
.scRibbonToolbarSmallButtons,
.scRibbonToolbarLargeComboButton,
.scRibbonToolbarLargeComboButtonDown,
.scRibbonLargeImageButtonDown,
.scRibbonToolbarLargeGalleryButtonDisabled,
.scRibbonToolbarLargeComboButtonDisabled,
.scRibbonToolbarSmallGalleryButtonDisabled,
.scRibbonToolbarSmallButtonDisabled,
.scRibbonToolbarLargeButtonDown {
    display: inline-block;
    padding: 4px 8px;
    vertical-align: top;
}


#WorkboxRibbon .scRibbonToolbarSmallButtons {
    padding: 0px 8px 0;
}



    .scRibbonToolbarLargeGalleryButton .header,
    .scRibbonToolbarLargeGalleryButtonDisabled .header,
    .scRibbonToolbarLargeButtonDisabled .header,
    .scRibbonToolbarLargeButton .header,
    .scRibbonToolbarLargeButtonDown .header,
    .scRibbonToolbarLargeComboButtonDisabled .header,
    .scRibbon a.scRibbonToolbarLargeComboButtonBottom {
        padding: 4px;
        display: inline-block;
    }




.scRibbon .scRibbonToolbarLargeComboButtonGlyph {
    border: none;
    height: 5px;
    margin: 0px 0px 0px 3px;
    width: 7px;
    vertical-align: baseline;
}





/* can be used outside of the ribbon */



.scRibbon a.scRibbonToolbarSmallGalleryButton,
.scRibbonToolbarSmallGalleryButtonDisabled,
a.scRibbonToolbarSmallButton,
.scRibbonToolbarSmallButtonDisabled,
.scRibbonToolbarSmallButtonDown {
    display: block;
    white-space: nowrap;
    position: relative;
    padding: 4px;
    height:15px;
}



.scRibbonToolbarLargeButtonDisabled,
.scRibbonToolbarLargeGalleryButtonDisabled,
.scRibbonToolbarLargeComboButtonDisabled,
.scRibbonToolbarSmallGalleryButtonDisabled,
.scRibbonToolbarSmallButtonDisabled {
    color: #d6d6d6;
}

.scRibbonToolbarSmallButtonIcon,
.scRibbonToolbarSmallButtonIconDisabled,
.scRibbonToolbarSmallButtonIconGrayed {
    border: none;
    width: 16px;
    height: 16px;
    margin: -1px 4px 0px 0px;
    vertical-align: middle;
}

.scRibbonToolbarSmallButtonIconGrayed {
    margin-right:0px;
}

.scRibbonToolbarSmallButtonPrefix {
    padding: 0px 4px 0px 0px;
    position: absolute;
    right: 0px;
    z-index: 1;
}

a:hover .scRibbonToolbarSmallButtonPrefix {
}







.scRibbonToolbarSmallGalleryButtonIcon,
.scRibbonToolbarSmallGalleryButtonIconDisabled {
    border: none;
    height: 16px;
    margin: 0px 4px 0px 0px;
    vertical-align: middle;
    width: 16px;
}

.scRibbonToolbarSmallGalleryButtonIconGrayed {
    width: 16px;
}

.scRibbonToolbarSmallGalleryButtonGlyph,
.scRibbonToolbarSmallGalleryButtonGlyphDisabled {
    border: none;
    height: 5px;
    margin: 0px 0px 0px 3px;
    width: 7px;
    vertical-align: baseline;
}









.scRibbonToolbarPanel {
    float: left;
}

.scRibbonToolbarSeperator {
    display: inline-block;
    padding-top: 4px;
    vertical-align: top;
}

.scRibbonToolbarSeperatorLine {
    height: 36px;
    display: block;
    border-left: 1px solid #e5e7ea;
    background: #9ea3a6;
    margin: 0px 4px 0px 4px;
}

.scRibbonToolbarText {
    float: left;
    padding: 5px 8px;
    white-space: nowrap;
    background-color:#f7f7f7;
    border: 1px solid #ccc;
    margin: 2px 2px 0px 1px;
    height: 36px;
}

.scRibbonToolbarScrollbox {
    color: black;
    float: left;
    white-space: nowrap;
    padding: 0px 24px 0px 0px;
    height: 44px;
}

.scRibbonCheckbox {
    vertical-align: middle;
}

.scRibbonCombobox {
}

.wk .scRibbonCombobox {
}

.scRibbonSelect {
    background: #e7eaf1;
    border: 1px solid #b1bbc6;
    margin: 1px 0px 1px 0px;
}

.scRibbonTranslatePanel {
    padding: 0px 6px 0px 6px;
    display: inline-block;
}

.scRibbonTranslatePanelRow {
    padding: 2px 0px 1px 0px;
}

.scRibbonTranslatePanel table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.scRibbonTranslatePanelCompare {
    padding: 0px 4px 8px 0px !important;
    text-align: right;
}

.scRibbonTranslatePanelLanguage {
    padding: 0px 4px 0px 0px;
    text-align: right;
}

.scRibbonToolbarToolButtonGroup {
    background: #b5b7b7 url(/sitecore/shell/themes/standard/images/RibbonToolButton.png);
    border: 1px solid #a0a0a0;
    display: inline;
    margin: 1px 2px 1px 2px;
}

.scRibbon a.scRibbonToolbarToolButton {
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #f4f4f4;
    color: #303030;
    padding: 0px 4px 0px 4px;
    white-space: nowrap;
}

    .scRibbon a.scRibbonToolbarToolButton:active {
        background: #ebeced;
    }

    .scRibbon a.scRibbonToolbarToolButton:hover {
        background: #ebeced;
    }

.scRibbonToolbarToolButtonIcon {
    border: none;
    height: 16px;
    margin: 3px 0px 0px 0px;
    width: 16px;
}

.scRibbonToolbarToolButtonDisabled {
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #f4f4f4;
    color: #8d8d8d;
    padding: 0px 4px 0px 4px;
    white-space: nowrap;
}

.scRibbonToolbarToolButtonIconDisabled {
    border: none;
    height: 16px;
    width: 16px;
    vertical-align: baseline;
}

.scRibbonToolbarToolButtonIconGrayed {
    width: 16px;
    height: 16px;
    margin: 3px 0px 0px 0px;
}

.scEditorToolTipFrame {
    position: absolute;
    height: 125px;
    width: 200px;
    border: none;
}

.scRibbon a.scRibbonToolbarLargeTextButton {
    display: block;
    white-space: nowrap;
    position: relative;
    padding: 4px;
    height:15px;
}

    .scRibbon a.scRibbonToolbarLargeTextButton:hover {

    }



.scRibbonToolbarLargeTextButtonText {
}

.scRibbon a.scRibbonToolbarLargeTextButtonDown {
    background: #ffe695 url(/sitecore/shell/Themes/Standard/Images/RibbonLargeButtonDown.png) repeat-x;
    border: 1px solid;
    border-color: #8e8165 #9f937c #868686 #9f937c;
    color: black;
    display: inline-block;
    padding: 4px 5px 1px 5px;
    text-align: center;
    white-space: nowrap;
}

.scRibbonToolbarLargeTextButtonDisabled {
    color: #8d8d8d;
    display: inline-block;
    padding: 5px 6px 2px 6px;
    text-align: center;
    white-space: nowrap;
}

/*Large Image Button*/
.scRibbonLargeImageButton, .scRibbonLargeImageButtonDisabled {
    float: left;
    padding: 4px;
}


.scRibbonLargeImageButtonIcon {
    height: 32px;
    width: 32px;
    border: 1px solid #e9e9e9;
    background-color: White;
    background-repeat: no-repeat;
    background-position: center center;
}

.scRibbonLargeImageButtonDisabled .scRibbonLargeImageButtonIcon {
    background-color: #dfdfdf;
    opacity: 0.35;
    filter: alpha(opacity=35);
}


.scRibbonGallery .scRibbonLargeImageButtonDown, .scRibbonGallery .scRibbonLargeImageButtonDisabled, .scRibbonGallery .scRibbonLargeImageButton {
    margin: 1px 0;
}

/*End Large Image Button*/

.scRibbon a.scRibbonToolbarLargeIconButton {
    display: block;
    color: #303030;
    float: left;
    height: 32px;
    padding: 4px;
    text-align: center;
}

.scRibbonToolbarLargeIconButtonDisabled {
    color: #8d8d8d;
    padding: 5px 6px 2px 6px;
    white-space: nowrap;
}



.scRibbonToolbarLargeIconButtonIcon {
    border: none;
    height: 24px;
    width: 24px;
}

.scRibbon a.scRibbonToolbarLargeIconButtonDown {
    background: #ffb70b url(/sitecore/shell/Themes/Standard/Images/RibbonLargeButtonDown.png) repeat-x;
    border: 1px solid;
    border-color: #8e8165 #9f937c #868686 #9f937c;
    color: black;
    float: left;
    height: 32px;
    padding: 4px 5px 1px 5px;
    text-align: center;
    white-space: nowrap;
}


.scRibbonToolbarLargeIconButtonIconGrayed {
    border: none;
    height: 24px;
    width: 24px;
}

.scRibbonToolbarSmallCheckButton {
    display: block;
    padding: 4px;
    white-space: nowrap;
}

    .scRibbonToolbarSmallCheckButton > label {
        vertical-align: middle;
    }

.scRibbonToolbarSmallCheckButtonCheckbox {
    margin: 0 3px 0 0;
    padding: 0;
    vertical-align: middle;
}

.scRibbonToolbarSmallCheckButtonDisabled {
    color: #8d8d8d;
    display: block;
    padding: 2px 6px 4px 6px;
    white-space: nowrap;
}


.scRibbonToolbarSmallInputBox,
.scRibbonToolbarSmallInputBoxDisabled {
    color: #303030;
    display: block;
    padding: 0px 6px 2px 6px;
    white-space: nowrap;
}

.scRibbonToolbarSmallInputBoxDisabled {
    color: #8d8d8d;
}

.scRibbonToolbarSmallInputBoxInput,
.scRibbonToolbarSmallInputBoxInputDisabled {
    height: 18px;
    margin: 0px 2px 0px 4px;
    vertical-align: middle;
    width: 40px;
    border: 1px solid #898989;
}

.scRibbonToolbarSmallInputBoxInputDisabled {
    background: #e0e0e0;
}

.scRibbonToolbarSmallInputBoxIcon,
.scRibbonToolbarSmallInputBoxIconDisabled {
    border: none;
    height: 16px;
    margin: 0px 2px 0px 0px;
    vertical-align: middle;
    width: 16px;
}

.scRibbonToolbarSmallInputBoxIconGrayed {
    width: 16px;
}


.scRibbonToolbarSmallDropDownBox,
.scRibbonToolbarSmallDropDownBoxDisabled {
    color: #303030;
    display: block;
    padding: 1px 6px 1px 6px;
    white-space: nowrap;
}

.scRibbonToolbarSmallDropDownBoxDisabled {
    color: #8d8d8d;
}

.scRibbonToolbarSmallDropDownBoxInput {
    height: 18px;
    margin: 0px 2px 0px 4px;
    vertical-align: middle;
    border: 1px solid #898989;
}

.scRibbonToolbarSmallDropDownBoxIcon,
.scRibbonToolbarSmallDropDownBoxIconDisabled {
    border: none;
    height: 16px;
    margin: 0px 2px 0px 0px;
    vertical-align: middle;
    width: 16px;
}

.scRibbonToolbarSmallDropDownBoxIconGrayed {
    width: 16px;
}

.scRibbonToolbarSmallComboButton {
    display: block;
    white-space: nowrap;
    height: 18px;
    margin: 4px 0px 0px 0px;
}

.scRibbonToolbarSmallComboButtonDisabled {
    color: #8d8d8d;
    display: block;
    padding: 2px 6px 4px 6px;
    white-space: nowrap;
}


.scRibbonToolbarSmallComboButtonLeftDisabled {
    color: #8d8d8d;
    padding: 4px 6px 3px 6px;
    white-space: nowrap;
}

.scRibbon a.scRibbonToolbarSmallComboButtonLeft {
    color: #303030;
    padding: 2px 2px 4px 6px;
    white-space: nowrap;
}


.scRibbon a.scRibbonToolbarSmallComboButtonRight {
    color: #303030;
    padding: 2px 3px 4px 3px;
    height: 21px;
    white-space: nowrap;
    clear: right;
}


.scRibbonToolbarSmallComboButtonIcon,
.scRibbonToolbarSmallComboButtonIconDisabled {
    border: none;
    height: 16px;
    margin: -1px 4px 0px 0px;
    vertical-align: text-top;
    width: 16px;
}

.scRibbonToolbarSmallComboButtonGlyph {
    border: none;
    height: 5px;
    vertical-align: text-top;
    margin: 5px 0px 0px 0px;
    width: 7px;
}

.scRibbonToolbarSmallComboButtonGlyphDisabled {
    position: relative;
    top: -1px;
    left: 5px;
    border: none;
    height: 5px;
    margin: 0px 1px 0px 5px;
    width: 7px;
    vertical-align: baseline;
}

.scRibbonToolbarSmallComboButtonIconGrayed {
    width: 16px;
}


.scRibbonGalleryList {
    display: inline-block;
    height: 42px;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-right: 0px;
}

    .scRibbonGalleryList > .scRibbonToolbarSmallButtons {
        display: block;
    }

.scRibbonPanelButtons {
    display: inline-block;
    padding: 0 1px;
    vertical-align: top;
    border: 1px solid #ccc;
    border-left: 0px;
}

.scRibbonPanelUp,
.scRibbonPanelDown,
.scRibbonPanelUp2,
.scRibbonPanelDown2,
.scRibbonPanelOpen {
    border: none;
    display: block;
    cursor: pointer;
    padding: 0 2px;
}


.scVariationLabel {
    background-color: #3eada3;
    padding: 1px 4px;
    margin-right: 4px;
    color: White;
    display: inline-block;
}

.ff .scVariationLabel {
    padding-top: 0;
}

.scRibbonToolbarSmallButtonDisabled .scVariationLabel {
    background-color: #86A8A5;
}

.scRibbonToolbarSmallButtonLabel {
  -moz-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space:nowrap;
  min-height: 15px;
}

/* Japanese language support */
.lang_ja_jp a.scRibbonToolbarLargeButton,
.lang_ja_jp a.scRibbonToolbarLargeComboButtonBottom {
    padding-bottom: 1px;
}

    .lang_ja_jp a.scRibbonToolbarLargeButton:active,
    .lang_ja_jp a.scRibbonToolbarLargeButton:hover,
    .lang_ja_jp a.scRibbonToolbarLargeButtonHover,
    .lang_ja_jp a.scRibbonToolbarLargeComboButtonBottom:active,
    .lang_ja_jp a.scRibbonToolbarLargeComboButtonBottom:hover,
    .lang_ja_jp a.scRibbonToolbarLargeComboButtonBottomDown,
    .lang_ja_jp a.scRibbonToolbarLargeComboButtonBottomHover {
        padding-bottom: 0;
    }

.lang_ja_jp a.scRibbonToolbarLargeButtonDown {
    padding-bottom: 2px;
}

.lang_ja_jp .scRibbon .chunk *.panel {
}

.lang_ja_jp .scRibbon .chunk .panel .scRibbonGalleryList {
}

.lang_ja_jp .scRibbon .chunk .scRibbonGallery {
}

.lang_ja_jp .scRibbon .scRibbonPanelButtons .scRibbonPanelUp {
}

.lang_ja_jp .scRibbon .scRibbonPanelButtons .scRibbonPanelDown,
.lang_ja_jp .scRibbon .scRibbonPanelButtons .scRibbonPanelOpen {
}

.lang_ja_jp .scRibbon .chunk {
    vertical-align: top;
}

    .lang_ja_jp .scRibbon .chunk:hover,
    .lang_ja_jp .scRibbon .chunkHover {
    }

.lang_ja_jp .scRibbon .contextualChunk {
}

.lang_ja_jp .scRibbon,
.lang_ja_jp .scRibbon .chunk,
.lang_ja_jp .scRibbon a.scRibbonNavigatorButtonsNormal,
.lang_ja_jp .scRibbonTranslatePanelRow,
.lang_ja_jp .scRibbonCombobox {
   font-size: 12pt;
   font-family: メイリオ, Meiryo, tahoma, sans-serif;
}

    .lang_ja_jp .scRibbon a.scRibbonNavigatorButtonsNormal {
        line-height: 30px;
    }

    .lang_ja_jp .scRibbon a.scRibbonToolbarLargeGalleryButton,
    .lang_ja_jp .scRibbonToolbarLargeGalleryButtonDisabled,
    .lang_ja_jp .scRibbon .scRibbonToolbarLargeButton,
    .lang_ja_jp .scRibbon .scRibbonToolbarLargeButtonDisabled {
    }






/* active styles*/
.scRibbon a.scRibbonNavigatorButtonsActive,
.scRibbon a.scRibbonNavigatorButtonsContextualNormal:active,
.scRibbon a.scRibbonNavigatorButtonsNormal:active,
.scRibbon a.scRibbonToolbarLargeButton:active,
.scRibbon a.scRibbonToolbarLargeButtonDown:active,
.scRibbon a.scRibbonToolbarLargeGalleryButton:active,
.scRibbonToolbarLargeComboButtonDown,
.scRibbon a.scRibbonToolbarLargeComboButtonTop:active,
.scRibbon a.scRibbonToolbarLargeComboButtonBottom:active,
a.scRibbonToolbarSmallButton:active,
a.scRibbonToolbarSmallButtonDown,
a.scRibbonToolbarSmallButtonDown:active,
.scRibbon a.scRibbonToolbarSmallGalleryButton:active,
.scRibbon a.scRibbonToolbarLargeTextButton:active,
.scRibbon a.scRibbonToolbarLargeTextButtonDown:active,
.scRibbonLargeImageButton:active,
.scRibbonLargeImageButtonDown:active,
.scRibbonLargeImageButtonDown,
.scRibbon a.scRibbonToolbarLargeIconButton:active,
.scRibbon a.scRibbonToolbarLargeIconButtonDown:active,
.scRibbon a.scRibbonToolbarSmallComboButtonLeft:active,
.scRibbon a.scRibbonToolbarSmallComboButtonRight:active {
    background-color: #f7f7f7;
    color: #131313;
}


/* down styles*/


.scRibbon a.scRibbonToolbarLargeButtonDown,
.scRibbonToolbarLargeComboButtonDown,
a.scRibbonToolbarSmallButtonDown,
.scRibbonLargeImageButtonDown {
    background-color: #D0EBF6;
}


    /* hover styles*/
    .scRibbon a.scRibbonNavigatorButtonsContextualNormal:hover,
    .scRibbon a.scRibbonNavigatorButtonsNormal:hover,
    .scRibbon a.scRibbonToolbarLargeButton:hover,
    .scRibbon a.scRibbonToolbarLargeButton:hover,
    .scRibbon a.scRibbonToolbarLargeButtonDown:hover,
    .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
    .scRibbon a.scRibbonToolbarLargeGalleryButton:hover,
    .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
    .scRibbon a.scRibbonToolbarLargeComboButtonTop:hover,
    .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
    .scRibbon a.scRibbonToolbarLargeComboButtonBottom:hover,
    a.scRibbonToolbarSmallButton:hover,
    .scRibbonToolbarSmallButton:hover,
    a.scRibbonToolbarSmallButtonDown:hover,
    .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
    .scRibbon a.scRibbonToolbarSmallGalleryButton:hover,
    .scRibbon a.scRibbonToolbarLargeTextButton:hover,
    .scRibbon a.scRibbonToolbarLargeTextButton:hover,
    .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
    .scRibbon a.scRibbonToolbarLargeTextButtonDown:hover,
    .scRibbonLargeImageButton:hover,
    .scRibbonLargeImageButtonDown:hover,
    .scRibbon a.scRibbonToolbarLargeIconButton:hover,
    .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
    .scRibbon a.scRibbonToolbarLargeIconButtonDown:hover,
    .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
    .scRibbon a.scRibbonToolbarSmallComboButtonLeft:hover,
    .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
    .scRibbon a.scRibbonToolbarSmallComboButtonRight:hover,
    .scRibbonToolbarLargeComboButtonDown:hover {
        background-color: #E3E3E3;
        color: #131313;
    }
