body {
  overflow: hidden;
}

#Wallpaper {
  position:absolute;
  width:100%;
  height:100%;
  z-index:-1;
}

#Desktop {
  width:100%;
  height:100%;
}

#Links {
  color:White;
  width:100%;
  height:100%;
}

.DesktopArea {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 50px;
    right: 0px;
    width: auto;
    height: auto !important;
    overflow: hidden;
}

.scDesktopItemIcons {
  cursor: default;
  display: inline-block;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 80px;
}
.scDesktopItemIcons_Selected {
  background: highlight;
  color: highlighttext;
  cursor: default;
  display: inline-block;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: top;
  width: 80px;
}
.scDesktopViewIconsIcon {
  cursor: default;
  padding-bottom: 4px;
}
.scToolbutton {
  color:white;
}

.scDatabaseName {
    cursor: default;
    position: absolute;
    font: 14pt arial;
    top: -30px;
    right: 15px;
    color: #fff;
    text-shadow: 1px 0px 0px black, -1px 0px 0px black, 0px 1px 0px black, 0px -1px 0px black;
}

.scChecked {
    background-color: #aadbee;
}