.scStartbar {
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;

    background: #535353;
    background: -moz-linear-gradient(top, #535353 0%, #3d3d3d 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#535353), color-stop(100%,#3d3d3d));
    background: -webkit-linear-gradient(top, #535353 0%,#3d3d3d 100%);
    background: -o-linear-gradient(top, #535353 0%,#3d3d3d 100%);
    background: -ms-linear-gradient(top, #535353 0%,#3d3d3d 100%);
    background: linear-gradient(to bottom, #535353 0%,#3d3d3d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535353', endColorstr='#3d3d3d',GradientType=0 );

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scStartButtonContainer {
    width: 62px;
}

.scStartButton {
    width: 62px;
    height: 50px;
    box-sizing: border-box;
    background-image: url(/sitecore/shell/themes/standard/Images/Startbar/StartButton.png);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    border-top: 1px solid #2B2B2B;
}

.scStartButton:hover {
    background-image: url(/sitecore/shell/themes/standard/Images/Startbar/StartButton_h.png);
}

    .scStartButton.scPopupOpener {
        background-image: url(/sitecore/shell/themes/standard/Images/Startbar/StartButton_h.png);
        border-top: 1px solid #fff;
    }

.scStartBarScroller {
    overflow: hidden;
    padding: 4px 0 5px;
    height: 50px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid #2B2B2B;
}

.scStartbarTray {
    border-top: 1px solid #2B2B2B;
}

#StartbarApplications {
    height: 100%;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    border-spacing: 5px 0;
    border-collapse: separate;
    margin: 0 10px;
}

#Startbar {

}

.scActiveApplication {
    background: #2b2b2b;
    border: 2px solid #2b2b2b;
}

.scInactiveApplication {
    position: relative;
    padding: 0 2px;
    border-top: 2px solid #6A6A6A;
    border-bottom: 2px solid #2C2C2C;
}

    .scInactiveApplication:before, .scInactiveApplication:after {
        content: "";
        position: absolute;
        background: #6a6a6a;
        background: -moz-linear-gradient(top, #6a6a6a 0%, #2c2c2c 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6a6a6a), color-stop(100%,#2c2c2c));
        background: -webkit-linear-gradient(top, #6a6a6a 0%,#2c2c2c 100%);
        background: -o-linear-gradient(top, #6a6a6a 0%,#2c2c2c 100%);
        background: -ms-linear-gradient(top, #6a6a6a 0%,#2c2c2c 100%);
        background: linear-gradient(to bottom, #6a6a6a 0%,#2c2c2c 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a6a6a', endColorstr='#2c2c2c',GradientType=0 );
        top: 0;
        bottom: 0;
        width: 2px;
    }

.scInactiveApplication:before {
  left: 0px;
}
.scInactiveApplication:after {
  right: 0px;
}


.scStartMenu {
    background: #fff;
}

/* --- Content --- */

.scStartMenuContent {
}

.scStartMenuContentColumns {
    border: none;

}

/* --- Left --- */

.scStartMenuLeft {
    vertical-align: top;
    padding: 10px 10px 0px 10px;
}

.scStartMenuLeftOption {
    cursor: default;
    display: block;
    padding: 10px;
    text-decoration: none;
    height: auto;
    min-height: 32px;
    white-space: nowrap;
}

    .scStartMenuLeftOption:hover {
        background: #e3e3e3;
        text-decoration: none;
    }

    .scStartMenuLeftOption:active {
    }

.scStartMenuLeftOptionIcon {
    border: none;
    display: inline-block;
    height: 32px;
    margin: 0 15px 0 0;
    width: 32px;
}

.scStartMenuLeftOptionDescription {
    display: inline-block;
    vertical-align: top;
}

.scStartMenuLeftOptionDisplayName {
    font-weight: bold;
    font-size: 14px;
}

.scStartMenuLeftOptionToolTip {
}

/* --- Right --- */

.scStartMenuRight {
    vertical-align: top;
    padding: 10px 10px 0 0;
}

.scStartMenuRightOption {
    cursor: default;
    display: block;
    height: 24px;
    padding: 2px;
}

    .scStartMenuRightOption:hover {
        background: #e3e3e3;
        text-decoration: none;
    }

.scStartMenuRightOptionIcon {
    border: none;
    float: left;
    height: 24px;
    margin: 0px 4px 0px 0px;
    vertical-align: middle;
    width: 24px;
}

.scStartMenuRightOptionDisplayName {
    padding: 5px 0px 0px 0px;
}

.scStartMenuRightFolder {
    cursor: default;
    display: block;
    height: 32px;
    padding: 10px 45px 10px 10px;
    white-space: nowrap;
}

    .scStartMenuRightFolder:hover {
        background: #e3e3e3;
        text-decoration: none;
    }

    .scStartMenuRightFolder:active {
    }

.scStartMenuRightFolderIcon {
    border: none;
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 15px 0 0;
    vertical-align: middle;
}

.scStartMenuRightFolderDisplayName {
    padding: 9px 0px 0 0;
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    display: inline-block;
}

.scStartMenuRightFolderGlyph, .scStartMenuProgramsGlyph {
    border: none;
    float: right;
    width: 16px;
    height: 16px;
    margin: 9px -35px 0px 4px;
    vertical-align: middle;
}

/* --- Programs --- */

.scStartMenuPrograms {
    background: white;
    vertical-align: bottom;
    padding: 0 10px 10px 0;
}

.scStartMenuProgramsMenu {
    cursor: default;
    display: block;
    height: 32px;
    padding: 2px;
    padding: 8px 45px 8px 10px;
}

    .scStartMenuProgramsMenu:hover {
        background: #e3e3e3;
        text-decoration: none;
    }

    .scStartMenuProgramsMenu:active {
    }

     .scStartMenuProgramsMenuText {
         font-weight: bold;
         font-size: 14px;
         padding: 9px 0 0 0;
     }

.scStartBarApplication {
    height: 100%;
    display: table;
    min-width: 120px;
}

    .scStartBarApplication span {
        display: table-cell;
        vertical-align: middle;
        padding: 0 5px;
    }

        .scStartBarApplication span img {
            vertical-align: middle;
        }

/* Unified styles */

.scStartMenuDivider {
    background-image: url(/sitecore/shell/themes/standard/Images/Startbar/desktop_divider.png);
    height: 1px;
    margin: 1px 0 1px 0;
}

.scPopup {
    overflow: visible !important;
}

/* support for Japanese */
.scStartMenu.lang_ja_jp table, table.scMenu.lang_ja_jp {
    font-size: 9pt;
}

.lang_ja_jp .scStartMenuContentColumns {
}

.lang_ja_jp .scStartMenuLeft {
}

.lang_ja_jp .scStartMenuRight {
}

.lang_ja_jp .scStartMenuRightFolderIcon {
}

#DatabaseSelector.scToolbutton {
    margin-right: 1px;
}

.scSearchBoxContainer {
    padding: 0 10px 0 0;
}