a.scTemplate,
a.scTemplate:link,
a.scTemplate:visited,
a.scTemplate:hover,
a.scTemplate:active {
  color:#072D6B;
  cursor:default;
  display:block;
  text-decoration:none;
  padding:4px 0px 0px 0px;
  font-weight:bold;
}

a.scTemplate:hover,
a.scTemplate:active {
  text-decoration:underline;
}

.scTemplatePath {
  font-weight:normal;
}

.scFields {
  color:#666666;
  padding:5px 0 5px 16px;
}

a.scField,
a.scField:link,
a.scField:visited,
a.scField:hover,
a.scField:active {
  color:#666666;
  cursor:default;
  display:block;
  text-decoration:none;
  padding: 5px 0;
}

a.scField:hover,
a.scField:active {
  text-decoration:underline;
}


.scBaseTemplates {
  padding:0px 0px 0px 16px;
}

.scHelp {
  color:#666666;
  font:9pt verdana;
  padding:8px 0px 8px 0px;
}