﻿body {
  overflow: hidden;
}

form {
  width: 100%;
  height: 100%;
}

#Grid {
  table-layout: fixed;
}

#Grid2 {
  table-layout: fixed;
}

#WorkboxFrame {
  width: 100%;
  vertical-align: top;
}

.scWorkboxContentContainer {
    margin-top: 80px;
    overflow: scroll;
    padding: 15px;
}

.lang_ja_jp .scWorkboxContentContainer {
    margin-top: 90px;
}

.scWorkboxPanel {
  border:1px solid #848484; 
  border-top: none; 
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

.scWorkflowsPanel {
  overflow-y:auto;
  height: 45px;
  min-width: 200px;
  width: 100%; 
  margin-right: 10px;
}

.scWorkboxWindowCaption {
  height: 27px;
  vertical-align: top;
}

.scWorkboxWindowButtons {
  float: right; 
  position: relative;
  top: -1px;
}

.scWorkboxPageSize {
  border: none;
  margin: 0 8px;
}

.scWorkboxPageSizeLabel {
  color: #303030;
}

.scWorkboxPageSizeCombobox {
  background: #e8e8e8;
  border: 1px solid #898989;
  padding: 0;
  margin: 0 0 0 5px;
}

.ff span.scRollover img, .ff span.scRollover_Hover img {
  vertical-align: middle;
}
.scPaneTopRow .scPaneTopRowCorner img,.scPaneBottomRow img,.scSpacerWrap img {
  display: block;
}
.scSectionRight {
  white-space: nowrap;
}
.scRibbon
{
  padding: 0;
}

.lang_ja_jp .scRibbon .chunk .panel .scRibbonGalleryList {
  width:400px;
  overflow-y: auto; 
  overflow-x: hidden;
  -ms-overflow-y: auto;
  -ms-overflow-x: hidden;
}

.scRibbonWorkbox {
    overflow:auto;
    margin-top: 67px;
}

.lang_ja_jp .scRibbonWorkbox {
    overflow:auto;
    margin-top: 77px;
}
}


.scRollover,
.scRollover_Hover {
  color:#DC291E;
  cursor:pointer;
  display:inline-block;
  margin-right:15px;
  vertical-align: bottom;
}

.scRollover img,
.scRollover_Hover img {
  margin-right:5px;
}

.scWorkBoxData {
}
.scWorkBoxData div {
  margin:5px 0;
}



.scWorkboxToolbarButtons .scRollover,
    .scWorkboxToolbarButtons .scRollover_Hover {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #bdbdbd;
    white-space: nowrap;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 80px;
    text-shadow: none;
    outline: none;
    margin-left: 10px;
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px #ffffff;
    box-shadow: inset 0 1px #ffffff;
    text-shadow: none;
    background-image: linear-gradient(to bottom, #f0f0f0 0%, #d9d9d9 100%);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    color:#131313;
}

    .scWorkboxToolbarButtons .scRollover_Hover {
        background-repeat: repeat-x;
        border-color: #bdbdbd;
        background-color: #d1d1d1;
        background-position: 0 0;
        background-image: linear-gradient(to bottom, #f0f0f0 0%, #f0f0f0 100%);
    }


    .scWorkboxToolbarButtons .scRollover_Hover:active {
        background-color: #d9d9d9;
        background-image: -webkit-linear-gradient(top, #d9d9d9 0%, #d9d9d9 100%);
        background-image: -o-linear-gradient(top, #d9d9d9 0%, #d9d9d9 100%);
        background-image: linear-gradient(to bottom, #d9d9d9 0%, #d9d9d9 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9d9d9', endColorstr='#ffd9d9d9', GradientType=0);
        -webkit-box-shadow: inset 0 0px 6px #ccc;
        box-shadow: inset 0 0px 6px #ccc;
        background-image: none;
        border-color: #bdbdbd;
    }

#States .scBackground {
    margin-bottom: 1px;
}