﻿/* -----------------------------------------------------------------------*/
/* <copyright file="SocialPropertiesSelector.css" company="Sitecore A/S">     */
/*   Copyright (C) 2012 by Sitecore                                       */
/* </copyright>                                                           */
/* -----------------------------------------------------------------------*/
.scsocLinkItems 
{
  height: 100px;
}

.scsocLinkContainer 
{
  padding-left: 36px;
  display: block;
}

a.scsocLinkNormal, a.scsocLinkNormal:link, a.scsocLinkNormal:visited, a.scsocLinkNormal:hover, a.scsocLinkNormal:active {
  cursor:default;
  margin: 1px 0px 1px 0px;
  padding: 2px 4px 2px 2px;
  line-height: 18px;
  text-decoration:none;
}

a.scsocLinkNormal:hover {
  background: #e8f5fd url(/sitecore/shell/themes/standard/Images/Tree/TreeNodeNormalBackground.png) repeat-x;
  border: 1px solid #d8f0fa;
  padding: 2px 3px 2px 1px;
  text-decoration: none;
}

a.scsocLinkActive, a.scsocLinkActive:hover {
  background: #d5effc url(/sitecore/shell/themes/standard/Images/Tree/TreeNodeActiveBackground.png) repeat-x;
  border: 1px solid #99defd;
  padding: 2px 3px 2px 1px;
  line-height: 18px;
  margin: 0px;
  text-decoration:none;
}