﻿/*-----------------------------------------------------------------------------------------*/
/* <copyright file="SocialCenter.css" company="Sitecore A/S">                                  */
/*   Copyright (C) 2012 by Sitecore                                                        */
/* </copyright>                                                                            */
/*-----------------------------------------------------------------------------------------*/
.scsocBody
{
  background: #e9eced;
}

.scsocModal
{
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #fff;
  background-image: url(/sitecore/shell/Applications/Social/Resources/Images/AjaxLoaderBigSquaresCircle.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* Theoretically for IE 8 & 9 (more valid) */
  /* ...but not required as filter works too */
  /* should come BEFORE filter */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  /* This works in IE 8 & 9 too */
  /* ... but also 5, 6, 7 */
  filter: alpha(opacity=80);
  /* Older than Firefox 0.9 */
  -moz-opacity: 0.8;
  /* Safari 1.x (pre WebKit!) */
  -khtml-opacity: 0.8;
  /* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
  opacity: 0.8;
  cursor: wait;
}

body.scsocLoading
{
  overflow: hidden;
}

.scsocLoading .scsocModal
{
  display: block;
}

.scsocArea
{
  padding: 10px;
}

A.scsocShowMoreMessages,
a:link.scsocShowMoreMessages,
a:hover.scsocShowMoreMessages,
a:active.scsocShowMoreMessages,
a:visited.scsocShowMoreMessages
{
  width: 300px;
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  left: 50%;
  margin-left: -150px;
  line-height: 40px;
  text-align: center;
  color: #0084B4;
  text-decoration: none;
}

a:hover.scsocShowMoreMessages
{
  text-decoration: underline;
}

/********************************************************************************************/
/*                                       Top board                                          */
/********************************************************************************************/
.scsocTopBoard
{
  margin-left: 5px;
}

  .scsocTopBoard INPUT
  {
    width: 210px;
    color: black;
    height: 24px;
  }

P.scsocTopBoardMessage
{
  margin-left: 6px;
}


/********************************************************************************************/
/*                                    Message account                                       */
/********************************************************************************************/
.scsocMessageAccount
{
  background: white;
  padding: 8px;
  border: 1px solid #CCC;
  font-family: Arial, "Helvetica Neue",sans-serif;
  word-wrap: break-word;
  font-size: 12px;
  overflow-x: hidden;
  vertical-align: middle;
}

.scsocMessageAccountTitle
{
  font-weight: bold;
  float: left;
}

.scsocMessageAccountIcon img
{
  vertical-align: middle;
  margin-right: 2px;
}

.scsocMessageWorkflowCommands {
  float: right;
}

.scsocMessageWorkflowState
{
  float: right;
}

.scsocMessageWorkflowState a,
.scsocMessageWorkflowState a:hover,
.scsocMessageWorkflowState a:link,
.scsocMessageWorkflowState a:visited,
.scsocMessageWorkflowState a:active {
  text-decoration: underline;
}

.scsocMessageWorkflowCommands ul {
  border: #868686 1px solid;
  min-width: 117px;
  list-style: none;
	padding: 2px;
	margin: 0;
  display: none;
	outline: none;
  position: absolute;
  margin-top: 16px;
  margin-left: -117px;
  background-color: #FAFAFA;
}

.scsocMessageWorkflowCommands ul li {
  white-space: nowrap;
  margin: 0;
	padding: 0;
	width: 100%;
}

  
  .scsocMessageWorkflowCommands ul li a,
  .scsocMessageWorkflowCommands ul li a:link,
  .scsocMessageWorkflowCommands ul li a:active,
  .scsocMessageWorkflowCommands ul li a:visited
  {
    font-family: Tahoma, Arial, Verdana;
    font-size: 11px;
    color: #080864;
    text-decoration: none;
	  display: block;
	  padding: 3px .4em;
	  line-height: 1.5;
	  min-height: 0; /* support: IE7 */
	  font-weight: normal;
    border: transparent 1px solid;
    white-space: nowrap;
  }

  .scsocMessageWorkflowCommands ul li a:hover {
    background-color: #D5EFFC;
    border: #99DEFD 1px solid;
    white-space: nowrap;
  }

.scsocMessageWorkflowCommands ul li img {
  vertical-align: middle;
  float: left;
  margin: 3px;
  width: 16px;
  height: 16px;
}

/********************************************************************************************/
/*                                    Message content                                       */
/********************************************************************************************/
.scsocMessageContent
{
  min-height: 40px;
  background: white;
  padding: 5px 5px 5px 10px;
  border: 1px solid #CCC;
  font-family: Arial, "Helvetica Neue",sans-serif;
  line-height: 19px;
  word-wrap: break-word;
  font-size: 15px;
  overflow-x: hidden;
}

  .scsocMessageContent A
  {
    color: #0084B4;
  }

A.scsocMessageExpander
{
  float: left;
  font-size: 11px;
  font-weight: bold;
  line-height: 35px;
}

.scsocFacebookMessageContent A
{
  color: #3B5998;
}

/********************************************************************************************/
/*                                 Message container                                        */
/********************************************************************************************/
.scsocMessage
{
  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 28px;
}

table.scsocMessageContainer
{
  width: 1135px;
  border: 0px;
}

td.scsocMessageCenterPanelContainer
{
  width: 100%;
  vertical-align: top;
}

table.scsocMessageCenterPanelContainer
{
  width: 100%;
  border: 0px;
}

.scsocMessageButtonsContainer
{
  width: 100%;
}

.scsocNetworkLogoContainer
{
  vertical-align: top;
  padding-bottom: 5px;
  padding-top: 1px;
}

.scsocMessageAccountContainer
{
  padding-left: 6px;
  padding-bottom: 5px;
}

.scsocMessageContentContainer
{
  padding-left: 6px;
  padding-bottom: 5px;
}


.scsocMessageStatisticsContainer
{
  padding-left: 6px;
}


IMG.scsocNetworkLogo
{
  cursor: default;
  float: left;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 2px;
  border-style: none;
  width: 32px;
  height: 32px;
}

/********************************************************************************************/
/*                               Message Content Buttons                                    */
/********************************************************************************************/
.scsocContentButtonsContainer
{
  margin-top: 8px;
  margin-bottom: 3px;
  margin-left: 6px;
  vertical-align: bottom;
}

.scsocContentButtonsLeftContainer
{
  float: left;
}

.scsocContentButtonsRightContainer
{
  float: right;
}

.scsocContentButtonBottomAlign
{
  margin-top: 5px;
}

.scsocContentButton, .scsocContentButton:link, .scsocContentButton:visited, .scsocContentButton:hover, .scsocContentButton:active
{
  color: #333333;
  font: 8pt tahoma;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
  cursor: default;
  white-space: nowrap;
}

.scsocContentButton:hover, .scsocContentButton:active
{
  color: black;
  border: 1px solid;
  border-color: #ddcf9b #d2c08e #ccc2a3 #d2c08e;
  background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/Ribbon/SmallButtonActive.png) repeat-x;
  padding: 1px 5px 1px 5px;
}

.scsocMessagePostingStatus
{
  float: right;
  font-size: 12px;
}

.scsocMessagePosted
{
  color: green;
}

.scsocMessagePostFailed
{
  color: red;
}

INPUT.scsocPostButton
{
  margin: 0px;
  border: 1px solid #a0a0a0;
  margin-left: 3px;
}

/********************************************************************************************/
/*                                Message Statistics                                        */
/********************************************************************************************/
.scsocMessageStatistics
{
  min-height: 28px;
  background-color: white;
  padding: 0px;
  border: 1px solid #CCC;
  padding-left: 14px;
  padding-top: 7px;
  padding-bottom: 3px;
}

.scsocStatsCounter
{
  float: left;
  font-family: Arial;
  font-size: 18px;
  font-weight: bold;
}

.scsocStatsCounterTitle
{
  float: left;
  font-family: Arial;
  font-size: 12px;
  padding-top: 5px;
  padding-left: 5px;
}

.scsocStatsSeparator
{
  float: left;
}

  .scsocStatsSeparator HR
  {
    border: 0px;
    margin: 0px;
    padding: 0px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: -4px;
    background-color: #CCC;
    width: 1px;
    height: 29px;
  }

.scsocMessageStatisticsUpdateFailed
{
  border-left: #FF4343 3px solid;
}

.scsocStatiticsList
{
  float: left;
}

/********************************************************************************************/
/*                               Message campaign reports                                   */
/********************************************************************************************/
.scsocCampaignReports
{
  min-height: 28px;
  background-color: white;
  padding: 0px;
  border: 1px solid #CCC;
  border-top-style: none;
  padding-left: 14px;
  padding-top: 10px;
  padding-bottom: 3px;
  margin-top: -1px;
  border-top-style: dotted;
  display: none;
}

  .scsocCampaignReports H3
  {
    font-family: Arial, Tahoma;
    font-size: 14px;
    font-weight: normal;
    margin-top: 3px;
    margin-bottom: 10px;
    color: #757575;
    color: black;
  }

.scsocCampaignStatsContainer
{
  padding: 0px;
  margin: 0px;
}

TABLE.scsocCampaignStats
{
  padding: 0px;
  border: 0px;
}

  TABLE.scsocCampaignStats TD, TABLE.scsocCampaignStats TH
  {
    font-family: Arial, Tahoma;
    font-size: 12px;
    text-align: left;
    vertical-align: middle;
    font-weight: normal;
    height: 25px;
  }

  TABLE.scsocCampaignStats TH
  {
    color: #333333;
    text-align: left;
  }

  TABLE.scsocCampaignStats TD
  {
    font-size: 13px;
    font-weight: bold;
    padding-left: 20px;
    text-align: right;
    padding-right: 8px;
  }

.scsocCampaignReportLinkSeparator
{
  font-family: Arial, Tahoma;
  font-size: 12px;
  margin-left: 8px;
  margin-right: 8px;
}

.scsocCampaignReportLinks a, .scsocCampaignReportLinks a:link, .scsocCampaignReportLinks a:visited, .scsocCampaignReportLinks a:hover, .scsocCampaignReportLinks a:active
{
  color: #39ADCE;
}

.scsocCampaignStatsInfo
{
  float: right;
  margin-top: -15px;
  margin-right: 6px;
}

/********************************************************************************************/
/*                               Campaign reports toggle                                    */
/********************************************************************************************/
.scsocCampaignReportsSwitcher
{
  float: right;
  font-family: Arial;
  font-size: 12px;
  padding-top: 11px;
  padding-right: 10px;
}

  .scsocCampaignReportsSwitcher a .scsocCampaignReportsSwitcher a, .scsocCampaignReportsSwitcher a:link, .scsocCampaignReportsSwitcher a:visited, .scsocCampaignReportsSwitcher a:hover, .scsocCampaignReportsSwitcher a:active
  {
    text-decoration: none;
  }

  .scsocCampaignReportsSwitcher A IMG
  {
    vertical-align: middle;
    border-style: none;
    width: 24px;
    height: 24px;
    margin-left: 12px;
  }

A.scsocOpenCampaignReportsButton, A:link.scsocOpenCampaignReportsButton, A:visited.scsocOpenCampaignReportsButton, A:active.scsocOpenCampaignReportsButton, A:hover.scsocOpenCampaignReportsButton
{
  display: inline;
}


A.scsocCloseCampaignReportsButton, A:link.scsocCloseCampaignReportsButton, A:visited.scsocCloseCampaignReportsButton, A:active.scsocCloseCampaignReportsButton, A:hover.scsocCloseCampaignReportsButton
{
  display: none;
}

/********************************************************************************************/
/*                               Disable message controls                                   */
/********************************************************************************************/
.scsocDisabled, .scsocContentButtonDisabled, A.scsocDisabled, A:link.scsocDisabled, A:visited.scsocDisabled, A:active.scsocDisabled, A:hover.scsocDisabled, A.scsocContentButtonDisabled, A:link.scsocContentButtonDisabled, A:visited.scsocContentButtonDisabled, A:active.scsocContentButtonDisabled, A:hover.scsocContentButtonDisabled
{
  color: #D3D3D3;
}

A.scsocContentButtonDisabled, A:link.scsocContentButtonDisabled, A:visited.scsocContentButtonDisabled, A:active.scsocContentButtonDisabled, A:hover.scsocContentButtonDisabled
{
  cursor: default;
  color: #B3B3B3;
  text-decoration: none;
  padding: 2px 6px 2px 6px;
}

INPUT.scsocDisabled
{
  color: ButtonText;
}

/********************************************************************************************/
/*                                 Refreshing animation                                     */
/********************************************************************************************/

td.scsocRefreshingAnimationContainer
{
  vertical-align: top;
  text-align: right;
}

.scsocRefreshingAnimation
{
  float: right;
  display: none;
  width: 16px;
  height: 16px;
  cursor: default;
  color: #e9eced;
  background-color: transparent;
  background-image: url(/sitecore/shell/Applications/Social/Resources/Images/AjaxLoaderCircle.gif);
  background-repeat: no-repeat;
  background-position: top right;
  margin-top: 12px;
}

.scsocMessageContentRefreshingAnimation
{
  float: left;
  display: none;
  width: 20px;
  height: 28px;
  font-weight: bold;
  cursor: default;
  background-color: transparent;
  background-image: url(/sitecore/shell/Applications/Social/Resources/Images/AjaxLoaderCircle.gif);
  background-repeat: no-repeat;
  background-position: center right;
}

/********************************************************************************************/
/*                                       MessageCreatePanel                                 */
/********************************************************************************************/
a.scsocMessageCreateButton
{
  color: #303030;
  cursor: default;
  float: left;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

  a.scsocMessageCreateButton img
  {
    border: none;
  }

  a.scsocMessageCreateButton:active, a.scsocMessageCreateButton:hover
  {
    border: 1px solid;
    border-color: #ddcf9b #c1a877 #dfd8bd #c1a877;
    background: #ffe594 url(/sitecore/shell/Themes/Standard/Images/Ribbon/LargeButtonActive.png) repeat-x;
    padding: 4px;
  }

  a.scsocMessageCreateButtonDisabled
{
  color: #303030;
  cursor: default;
  float: left;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

  a.scsocMessageCreateButtonDisabled img
  {
    border: none;
  }

.scsocMessageCreateContainer
{
  float: left;
  text-align: left;
  border: 1px solid #CCCCCC;
  padding: 5px;
  background-color: white;
  margin-left: 43px;
  width: 1085px;
}

.scsocMessageCreateTitleContainer
{
  font-weight: bold;
  color: #555555;
  margin-left: 5px;
  padding-bottom: 2px;
}

.scsocWarningPanelTable
{
  float: left;
  text-align: left;
  margin-left: 43px;
  margin-bottom: 1px;
  width: 1097px;
  background: #ffffe4;
  border: 1px solid #c9c9c9;
  padding: 4px 2px 4px 2px;
}

.scsocWarningTitle
{
  font: bold 8pt tahoma;
}

.scsocWarningHelp
{
  font: 8pt tahoma;
  color: #333333;
  padding: 2px 0px 0px 0px;
}

.scsocSectionCaptionIcon
{
  height: 16px;
  margin: 1px 2px 1px 2px;
  width: 16px;
  vertical-align: middle;
}
