﻿@using Sitecore.Mvc
@model Sitecore.Speak.Components.Models.Structures.Substructures.ApplicationHeaders.ApplicationHeaderRenderingModel
<div class="sc-applicationHeader-row1">
  <div class="sc-applicationHeader-content">
    <div class="sc-applicationHeader-title">
      @Html.Sitecore().Placeholder("ApplicationHeader.Title")
    </div>
  </div>

  <div class="sc-applicationHeader-content breadcrumb">
    <div class="sc-applicationHeader-breadCrumb">
      @Html.Sitecore().Placeholder("ApplicationHeader.BreadCrumb")
    </div>
  </div>
</div>
@if (Model.ShowHeader)
{
  <div class="sc-applicationHeader-row2">    
    <div class="sc-applicationHeader-back">
      @Html.Sitecore().Placeholder("ApplicationHeader.Back")
    </div>
    <div class="sc-applicationHeader-contextSwitcher">
      @Html.Sitecore().Placeholder("ApplicationHeader.ContextSwitch")
    </div>          
    <div class="sc-applicationHeader-actions">
      @Html.Sitecore().Placeholder("ApplicationHeader.Actions")
    </div>
  </div>
}