﻿/*Common*/
table.scDialogContentContainer
{
  padding-top:0px;
}

.wk table.scDialogContentContainer
{
  padding-bottom: 2px;
}

.ie .top-row
{
  padding-bottom: 10px;
}

#ComponentPersonalization {
  margin-top: 13px;
}

#ComponentPersonalization_label {
  margin-top: 13px;
  position: absolute;
}

#RulesContainer
{
  border: 1px solid;
}

.rule-body
{
  border-bottom: 1px solid;
}

#RulesContainer, .rule-body
{
  border-color: #999999;
}

.rule-body
{
  width: 100%;
}

.rule-body td
{
  padding: 8px;
  vertical-align: top;
}

.rule-body td.left-column
{
  padding-left: 14px;  
}

.left-column .scConditionsActions
{
  padding-left: 0px !important;
}

.right-column
{
  width: 420px;
  background-color: #E9E9E9;
}

#non-default-container .panel-header
{
  padding-left: 1px;
}

/* Conditions */
.condition-header
{
  font-weight: bold;
}

.edit-button
{
  float: right;
  margin-right: 0;
}

.rule-container {
  margin-bottom: 15px;
}

.condition-container
{
  margin-top: 8px;
}

.condition-container.default
{
  margin-top: 20px;
}

.condition-container .scRule, .condition-container hr
{
  display: none;
}

.condition-container .Draggable
{
  white-space: normal !important;
}

/* Menu */
#actionsMenu
{
  position: absolute;
}

/* Actions */
.hide-rendering
{ 
  margin-bottom: 12px;
  margin-right: 16px;
  margin-left: 12px;  
}

.ie .hide-rendering input, .ie #ComponentPersonalization
{
  vertical-align:middle;
}

.hide-rendering .section-header
{
  font-weight: normal;
}

.section-header
{
  font-weight: bolder;
}

.display-off .section-header
{
  color: #666666;
}

.item-picker
{
  border: 1px solid;
  background-color: White;
  height: 22px;
  line-height: 22px;
  background-position: 2px 3px;
  background-repeat: no-repeat;
  padding-left: 20px;
  overflow: hidden;
}

.set-rendering .item-picker, .item-picker.not-set
{
  background-image: none !important;
  padding-left: 4px;  
}

.default-values .item-picker
{
  font-style: italic;
  color: #666666;
}

.display-off .item-picker
{
  background-color: #f1f1f1;
  color: #999999;
}

.display-off .item-picker
{
  border-color: #cdcdcd;
}

.ff .item-picker
{
  height: 20px;
  line-height: 20px;
}

.pick-button, .display-off .pick-button:hover
{ 
  width: 19px;
  text-align: center;
  height: 20px;
  float: right;
  border: none;
  border-left: 1px solid; 
  border-color: #999999;
  background-color: #cfcfcf; 
  outline: none;
  margin-left: 2px;
}
 
.default-values .reset-button
{
  display: none;
}

.reset-button,  .display-off .reset-button:hover
{
  width: 16px;
  height: 20px;  
  background: transparent url('/sitecore/shell/Themes/Standard/Images/Progress/globalsearch_close.png') no-repeat center center;
  outline: none;
  text-decoration: none;
  margin-left: 2px;
  cursor: default;
  float: right;
}

.reset-button:hover
{
  background-image: url('/sitecore/shell/Themes/Standard/Images/Progress/globalsearch_close_H_blue.png');
  cursor: pointer;  
}

.pick-button:hover
{  
  background-color: #D5EFFC;
  border-left: 1px solid #99DEFD;
  text-decoration: none;
}

.display-off .pick-button, .display-off .pick-button:hover
{
  cursor: default;
  border-color: #cdcdcd;
}

.thumbnail-container
{
  border: 1px solid;
  border-bottom: none;
  height: 136px;
  margin-top: 2px;
  background-color: White;
  background-position: center center;
  background-repeat: no-repeat;   
}

.display-off .thumbnail-container
{
  opacity: 0.35;
  filter: alpha(opacity=35);   
}

.thumbnail-container, .item-picker
{
  border-color: #999999;
}

.set-rendering, .set-datasource
{
  margin-top: 8px;
  margin-right: 16px;
  margin-left: 16px;
  clear: both;
}

.drag-over
{
  filter: alpha(opacity=100);
  opacity: 1.0;
}