﻿.scStripHeaderBage
{
  position: relative;
  background-color:#e33327;
  color: White !important;  
  top: -4px; 
  height: 10px;
  line-height:10px;
  font-size: 75%;
  padding: 0px 2px;  
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;    
}