﻿
html, body, form 
{
  padding: 0;
  margin: 0;
  height: 100%;   
  font-family: Tahoma, Verdana, Arial;
  font-size: 12px;
  overflow: hidden; 
}

.top
{
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  height: 86px; 
  background: #ECECEC url('/sitecore/shell/Themes/Standard/Gradients/gray_v.png') repeat-x left top;
  border-bottom: 1px solid #DDDFE7; 
}

.ie7 .top
{
  z-index: 1000;
}
 
.top-inner
{
  height: 100%;
  margin: 0 16px;
}

.controls
{
  width: 100%;
  height: 100%;
}

.header
{  
  color: #333;
  font-size: 13px;      
}

.header td
{
  height: 24px;
  padding: 4px 0 0 0;  
}

.dialog-icon
{ 
  vertical-align:middle;
  padding-right: 4px;
}

#itemName
{
  font-weight: 600;
}

.notifications
{
  position:absolute;
  top: 86px;
  width: 100%; 
  font-size: 12px;
}

.notifications .warning-message, .notifications .error-message
{     
   min-height: 14px;
   line-height: 14px;
   padding: 2px 16px 2px 36px;  
   background: transparent url('/sitecore/shell/~/icon/applications/16x16/warning.png.ashx') no-repeat 16px center;
}

.notifications .warning-message
{  
   border: 1px solid #B99325;  
   background-color: #ffffe4;
}

.notifications .error-message
{  
   background-color: #F6EEEE;
   border: 1px solid #CE3E1C;
}

.error-message .close
{
  color: #999;
  float: right;
  cursor:pointer;
}

.center
{
  position: absolute;
  top: 106px;
  bottom: 8px;
  left: 16px;
  right: 16px;
  overflow:auto;  
}

a:link, a:visited, a:hover, a:active
{
  color: #186BF9;
  text-decoration:none;
}

a:hover
{
  text-decoration: underline;
}

.action-button
{
  
  height: 28px;
  line-height: 28px;
  padding: 0 8px;
  border: 1px solid;
  border-top-color: #6D6D6D;
  border-left-color: #6D6D6D;
  border-bottom-color: #8C8C8C;
  border-right-color: #8C8C8C;
  background: #787878 url('/sitecore/shell/Themes/Standard/Gradients/black_v.png') repeat-x left top;   
  border-radius: 3px;
  box-shadow: 2px 2px 2px 0px #C0C0C0;
  cursor:pointer;
}

.action-button.action-disabled
{  
  border: 1px solid #AAA;
  background-color: #E7E7E7;
  background-image:none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#E7E7E7));
  background-image: -moz-linear-gradient(top, #F8F8F8,  #E7E7E7);
  background-image: -ms-linear-gradient(top,  #F8F8F8,  E7E7E7);
  background-image: linear-gradient(top,  #F8F8F8,  #E7E7E7);
  box-shadow: none;
  cursor: default;   
}

.action-button .text
{
  color: #EBEBEB;
  font-size: 14px;
  font-weight: 700;   
  white-space: nowrap; 
}

.action-button:hover .text
{
  color:White;
}

.action-button:active
{   
   top: 2px;   
   left: 2px;
   box-shadow: none;
}

.action-disabled:active
{
  top: 0;
  left: 0;
}


.action-disabled .text, .action-disabled:hover .text
{
  color: #999;
}

.toolbar .action-button
{
  float:left;
}

#takeScreenshotsButton
{
  margin-left: 16px;
}

.session
{  
  clear: both;
  padding: 0 2px 0 0;   
}

.session-header
{
  font-size: 14px;
  color: #003399;
  border-bottom: 1px solid #D6E5F5;
  cursor: pointer;
  padding: 8px 0 4px 0; 
  background-repeat: no-repeat;
  background-position:right center;
  background-image: url('/sitecore/shell/Themes/Standard/Images/chevronup16x16.png');
}

.session-error .session-header
{
   color:#CE3E1C;
}

.session-header:hover
{
  box-shadow: 0px 1px 1px 0 rgba(150, 180, 240, 0.35);
  cursor: pointer;
}

.session-header span
{
  padding-right: 0.5em;
}

.session.collapsed .session-header
{
  background-image: url('/sitecore/shell/Themes/Standard/Images/chevrondown16x16.png');
    
}

.session.collapsed .screenshots-container
{
  display: none;
}

.screenshots-container
{
  clear: both;  
}

.tile-container
{ 
  height: 140px;
  float:left;
  margin: 8px 0 0 0;
}

.tile
{  
  text-align: center;
  width: 128px;
  padding: 8px;
}

.Complete .tile:hover
{
  padding: 7px;
  border: 1px solid #B8D6FB;
  border-radius: 3px;
  background-color: #EBF3FD;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFBFD), to(#EBF3FD));
  background-image: -moz-linear-gradient(top,  #FAFBFD,  #EBF3FD);
  background-image: -ms-linear-gradient(top,  #FAFBFD,  #EBF3FD);
  background-image: linear-gradient(top,  #FAFBFD,  #EBF3FD);
  cursor:pointer;
}

.tile .text
{
  overflow: hidden;
  font-size: 12px;
  color: #666;
  max-height: 32px; 
}

.thumbnail
{
  height: 84px;
  width: 120px;
  background-repeat:no-repeat;
  background-position:center center;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 0 rgba(210,210,210, 0.8);
  margin: 8px auto;
  margin-top: 0;       
}

.Waiting .thumbnail
{
  background-image: url('/sitecore/shell/Themes/Standard/Images/sitecore-loader24.gif') !important;
}

.Error .thumbnail
{
  background-image: url('/sitecore/shell/~/icon/Core3/64x64/delete_x_d.png.ashx') !important;
}

#welcomeText
{ 
  width: 100%;
  height: 100px;
  color: #666;  
  background: transparent url('/sitecore/shell/~/icon/Core3/64x64/search_d.png.ashx') no-repeat center center; 
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

#previewDisplayName
{
  font-weight: 600;
}

#fullPreviewToolbar
{
  width: 100%;
  display: none;
}

#fullPreviewToolbar td
{
 width: 33%;
}

#fullImagePreview
{
  display: none;
  position: relative;
  height: 100%;
  width: 100%;     
  text-align: center;
}

#waitImageText
{  
  position:absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #666;
}

#waitImageText.notavailable
{
  opacity:inherit !important;
  filter: inherit !important;
}
 
a.disabled, a.disabled:link,  a.disabled:hover, a.disabled:active
{
  cursor: default;
  color: #AFAFAF;
  text-decoration: none;
}

.delimeter
{
  color: #AFAFAF;
}

#devicesCell
{  
  vertical-align: middle; 
}

.crosspiece
{
  width: 500px;
  height: 0;
  display:block;
}

/*Chosen style*/
.toolbar .chzn-container
{
  width: auto !important;
  min-width: 500px;    
}

.chzn-choices
{
  width: 100% !important;
}

:root .ie .chzn-choices
{
  width: auto !important;  
}

.search-choice
{
  white-space:nowrap;
}

.chzn-results
{ 
  max-height: 260px !important;
}

.chzn-drop
{
  min-width: 150px; 
}

.chzn-drop .group-result, .chzn-drop .group-option, .chzn-drop .active-result
{
  white-space: nowrap;  
}

.search-field input.default
{
  overflow:visible;
  width: 150px !important;
}

.search-field:first-child input.default
{  
  width: 480px !important;
}


