﻿@model  Sitecore.Speak.Components.Models.Common.ListBoxes.ListBoxRenderingModel
@{
    Model.Class.Append("sc-listbox form-control"); // the class will change to sc-droplist
    Model.DataBind.IsVisible().IsEnabled().Options().OptionsText("getDisplayName").OptionsValue("getValue").Bind("selectedOptions", "SelectedValues");
}
<select @Model.HtmlAttributes multiple size="@Model.Size">
    @foreach (var opt in Model.StaticData)
    {
        <option @Model.GetSelected(opt) value="@Model.GetValue(opt)">@Model.GetDisplayName(opt)</option>
    }
</select>
