﻿@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
  var userControl = this.Html.Sitecore().Controls().GetUserControl(this.Model.Rendering);
  var showFooter = userControl.GetBool("ShowFooter", true);

  var dialogContentClass = "sc-dialogContent" + (showFooter ? string.Empty : " noFooter");
}
<header class="sc-dialogHeader">
  @Html.Sitecore().Placeholder("DialogHeader")
</header>

<section class="@dialogContentClass">
  @Html.Sitecore().Placeholder("DialogContent")
</section>

@if (showFooter)
{
  <footer class="sc-dialogFooter">
    @Html.Sitecore().Placeholder("DialogFooter")

    @*This placeholder is here just for backwords compatibility.
      Instead of using DialogHeader.Buttons, a DialogFooter component should be added to Dialog pages
      and the buttons should be placed in the DialogFooter.Buttons placeholder.*@
    <div class="sc-dialogFooter-content">
        <div class="sc-dialogFooter-content-buttons">
          @Html.Sitecore().Placeholder("DialogHeader.Buttons")
        </div>
      </div>
  </footer>
}
