﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Crm.aspx.cs" Inherits="Sitecore.Shell.Applications.Analytics.ReportRunner.CrmPage" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>CRM Integration Page</h1>
        <h2>Not Implemented Yet</h2>
    </div>
    </form>
</body>
</html>
